<form class="js_form" action="<?=U('')?>" method="post" style="width:800px;">
	<div class="form-group clearfix">
		<div class="col-xs-2 text-right">收件人：</div>
		<div class="col-xs-10 form-inline">
			<input class="form-control" datatype="*1-10" placeholder="请输入收件人姓名" nullmsg="请输入收件人姓名" errormsg="收件人姓名不超过10个字符" name='full_name' value="<?=$address['full_name']?>">
			<span class="Validform_checktip"></span>
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-2 text-right">手机号：</div>
		<div class="col-xs-10 form-inline">
			<input class="form-control" datatype="m" placeholder="请输入手机号" nullmsg="请输入手机号" errormsg="请输入正确格式的手机号" value="<?=$address['mobile']?>" name='mobile'>
			<span class="Validform_checktip"></span>
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-2 text-right">详细地址：</div>
		<div class="col-xs-10 form-inline">
			<select class="form-control province_select" name="province" id="province" datatype="*" nullmsg="请选择地区" data-tooltip-right="550" onchange="province_change(this)" >
				<option value='' >省</option>
				<?php 
					foreach($area as $row){
						if($row['pid']==0){
				?>
				<option value="<?=$row['id']?>"  path="<?=$row['path']?>"><?=$row['title']?></option>
				<?php
						}
					}
				?>
		    </select>
		    <select class="form-control js_city_select" name="city" id="city" onchange="city_change(this)" datatype="*" data-tooltip-right="550"  nullmsg="请选择市" errormsg="请选择市" >
		      	<option value=" " >市</option>
		    </select>
		    <select class="form-control js_area_select" name="area" id="area" onchange="choose_addpath(this)" datatype="*" data-tooltip-right="550"  nullmsg="请选择区" errormsg="请选择区">
		      	<option value="">区</option>
		    </select>
		</div>
	</div>
	<select id="js_area_select_data"  style="display:none">
	    <?php
	      foreach($area as $row){
	        if($row['pid']==0){
	          continue;
	        }
	    ?>
	    <option value="<?=$row['id']?>" pid="<?=$row['pid']?>" path="<?=$row['path']?>" ><?=$row['title']?></option>
	    <?php
	      }
	    ?>
 	</select>

	<div class="form-group">
		<div class="col-xs-offset-2 clearfix">
			<div class="col-xs-10">
				<input class="form-control" type="text" placeholder="请输入详细地址，具体到门牌号" datatype="*1-80" nullmsg="请输入详细地址，具体到门牌号"  name='address' value="<?=$address['address']?>" errormsg="详细地址不能超过80个字符">
			</div>
		</div>
	</div>

	<div class="form-group form-inline">
		<div class="col-xs-2 text-right">地址别名：</div>
		<div class="col-xs-10">
			<input class="form-control" placeholder="请输入地址别名" datatype="*1-20" nullmsg="请输入地址别名" errormsg="地址别名不超过20个字符" value="<?=$address['title']?>" name='title'>
			<span style="color:#999;">（建议常用名：家里、父母家、公司）</span>
			<span class="Validform_checktip"></span>
		</div>
	</div>
	<div class="form-group form-inline">
		<div class="col-xs-2 text-right">邮政编码：</div>
		<div class="col-xs-10">
			<input class="form-control" placeholder="请输入邮政编码" datatype="zipcode" nullmsg="请输入邮政编码" errormsg="邮政编码为六位数字" value="<?=$address['zipcode']?>" name='zipcode'>
			<span class="Validform_checktip"></span>
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-offset-2 ">
			<label class="col-xs-10">
<?php if($address['is_default']==1){
	$checked="checked='checked'";
}?>
				<input  <?=$checked?> type="checkbox" style="margin-top: 2px!important;*margin-top: -4px!important;" name='is_default' value='1'> 设为默认收货地址
			</label>
		</div>
	</div>
	<input type='hidden' name='id' value="<?=$address['id']?>">
	<div class="form-group text-center">
		<input type="submit" class="btn btn-orange" value="保 存" />
	</div>
	<div class="loading js_loading">
		<div class="tips js_loading_tips"></div>
		<div class="error_tips js_error_tips"></div>
		<div class=" pull-left js_validTips" style="display:none;"><span class="js_tipContent Validform_checktip"></span></div>
	</div>
</form>

<!-- 表单 E-->

<script type="text/ecmascript">
$(function(){
	$(".js_form").super_validform();
})

function province_change(obj){
	var pid=$(obj).val();
	$('.js_city_select').html('');
	var area='0';
	$('.js_city_select').html("<option value=''>请选择城市</option>");
	$('#js_area_select_data option[pid='+pid+']').clone().appendTo('.js_city_select');
}
function city_change(obj){
	var pid=$(obj).val();
	$('.js_area_select').html('');
	var area='0';
	$('.js_area_select').html("<option value=''>请选择区/县</option>");
	$('#js_area_select_data option[pid='+pid+']').clone().appendTo('.js_area_select');
}
function choose_addpath(obj){
	var addpath = $(obj).find("option:selected").attr('path');
	$('#addpath').val(addpath);
}
<?php
	if($address){		
?>
		$('#province').val('<?=intval($address['province'])?>').change();
		$('#city').val('<?=intval($address['city'])?>').change();
		$('#area').val('<?=intval($address['area'])?>');
<?php
	}		
?>
</script>