<extend name="Public/body" />
<block name="body"> 
	<table class="table table-bordered js_table">
		<tbody>
			<tr role="row">
				<th width="10%" class="text-center">名称</th>
				<th>说明</th>
				<th width="16%" class="text-center">时间</th>
				<th width="6%" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td class="text-center">
					<?=$row['item']?>
				</td>
				<td>
					<?php
						$temp = json_decode($row['content'],true);
						if(is_array($temp)){
					?>
					<?=data_show($temp)?>
					<?php
						}else{
					?>
					<?=$row['content']?>
					<?php
						}
					?>
				</td>
				<td>
					<?=$row['addtime']?>
				</td>
				<td class="text-center">
					<?php
						get_list_btn($menu_info['id'],$row);
					?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
</block>