<style>
	/*--评论成功 S--*/
	.comment.subbox i{
		float:left;
		font-size: 60px;
		color: #13c601;
	}
	.comment.subbox>div{
		margin-left:70px;
		margin-top:12px;
	}
	.comment.subbox>div>span{
		font-size: 20px;
		color:#666;
	}
	.comment.subbox .jump{
		color:#999;
		margin-top:5px;
	}
	/*--评论成功 E--*/
</style>
<!--评论成功弹出框 S -->
		<div class="modal fade bs-example-modal-sm" id="comment_success" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  	<div class="modal-dialog">
		    	<div class="modal-content dialogbox">
					<div class="close" data-dismiss="modal" aria-label="Close">
			      		<i class="iconfont" aria-hidden="true">&#xe666;</i>
			      	</div>
					<div class="top"><i></i><span>评价宝贝</span></div>
					<div class="comment subbox clearfix">
						<i class="iconfont">&#xe62b;</i>
						<div>
							<span style="">您已成功评价！</span>
							<div class="jump">（<span>3</span>）秒后返回评论管理</div>
						</div>
					</div>
				</div>
		  	</div>
		</div>
<!--评论成功弹出框 E -->