<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name='viewport' content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>404</title>
</head>

<body style="background-color: #e9e4d8;padding-top:180px;">
	<div class="wrap">
		<!-- Page Error 404  S -->
		<div class="statusbox clearfix" style="text-align: center;">
			<img src="<?=__ROOT__?>/Public/Home/img/status/404.png" width="317" height="249" />
		</div>
		<!-- Page Error 404  E -->
	</div>
</body>
</html>