<extend name="Public/body" />
<block name="body"> 
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left" method="get">
						<input type="text" class="form-control input-sm" placeholder="手机|昵称|姓名" name="keyword" value="<?=$keyword?>">
						<?php
							if(!session('is_owner')){
						?>
						<select name="district_id" class="form-control input-md super_select2" data-placeholder="请选择小区">
							<option value="">请选择小区</option>
							<?=$district?>
						</select>
						<?php }?>
<!-- 						<select name="type" class="form-control" >
	<option value="">请选择类型</option>
	<?php
		foreach ($type as $k => $v) {
	?>
	<option value="<?=$v['r_value']?>" <?=(I('type') == $v['r_value'])?'selected="selected"':''?> ><?=$v['title']?></option>
	<?php
		}
	?>
</select> -->
						<select name="is_hid" class="form-control input-sm">
							<option value=''>请选择状态</option>
							<?php 
								$set[0] = (is_numeric($is_hid) && $is_hid ==0) ? "selected='selected'" : '';
								$set[1] = ($is_hid == 1) ? "selected='selected'" : '';
							?>
							<option value="1" <?=$set[1]?> >禁用</option>
							<option value="0" <?=$set[0]?>>启用</option>
						</select>
						<button type="submit" class="btn btn-primary btn-sm" target-form="operate_form">提交</button>
					</form>
					<div class="pull-right">
					<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="2%"><input type="checkbox" class="js_check_all" data-target="ids" value=""></th>
<!-- 				<th width="6%" class="text-center" >类型</th> -->
				<th width="10%" class="text-center">手机</th>
				<th width="12%" >昵称</th>
				<th width="12%" >姓名</th>
				<th width="16%" >小区</th>
				<th width="30%"  >最后登录时间｜地点</th>
				<th width="4%" class="text-center">状态</th>
				<th width="6%" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td width="20"><input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$row['id']?>"></td>
<!-- 				<td class="text-center">
	<?=$type[$row['type']]['title']?>
</td> -->
				<td class="text-center">
					<?=$row['mobile']?>
				</td>
				<td>
					<?=$row['nickname']?>
				</td>
				<td>
					<?=$row['username']?>
				</td>
				<td>
					<?=$row['district_title']?>
				</td>
				<td>
					<?=$row['login_time'].' | ' . ip_to_location($row['login_ip']) ?>
				</td>
				<td class="text-center">
					<img src="__IMG__/status_<?=$row['is_hid']?>.png" alt="">
				</td>
				<td class="text-center">
					<?php
						get_list_btn($menu_info['id'],$row);
					?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>