<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<!-- form start -->
		<form action="" method="post" class="js_form">
			<input type="hidden" name="id" value="<?=intval(I('ids'))?>" />
			<table class="access_table js_access_table">
				<tr>
					<td>
						<label><input type="checkbox" class="js_check_all_access" value="">全选</label>
					</td>
				</tr>
				<?php
					$rules_arr = explode(',', $info['menu_ids']);
					foreach($menus as $key=> $top_row){
						$checked = '';
						if(in_array($top_row['id'], $rules_arr)) {
							$checked = ' checked="checked"';
						}
				?>
				<tr>
					<th style="background:#eee;" class="clearfix">
						<label>
							<input type="checkbox" class="js_top_ids ids" name="access_id[]" value="<?=$top_row['id']?>"<?=$checked?> /><span class="access_title"><?=$top_row['title']?></span>
						</label>
						<div class="js_display_access display_access"><img src="__IMG__/access_display.png" alt="">收起</div>
					</th>
				</tr>
				<?php
					if($top_row['_child']){
				?>
				<tr class="child">
					<td style="padding:5px 10px;" class="clearfix">
						<?php
							$top_html='';
							foreach($top_row['_child'] as $_key=> $two_row) {
								$checked = '';
								if(in_array($two_row['id'], $rules_arr)) {
									$checked = ' checked="checked"';
								}
						?>
							<table class="access_table_child table-bordered">
								<tr>
									<th style="padding:5px;<?php if($two_row['_child']){ echo 'background:#f1f1f1;'; } ?>" class="clearfix">
										<label>
											<input type="checkbox" class="js_two_ids ids" name="access_id[]" value="<?=$two_row['id']?>"<?=$checked?> /><span class="access_title"><?=$two_row['title']?></span>
										</label>
										<div class="js_display_access display_access access_open"><img src="__IMG__/access_display.png" alt="">查看详细</div>
									</th>
								</tr>
								<?php if($two_row['_child']){ ?>
								<tr style="display:none;">
									<td class="clearfix js_set_box_height">
										<?php
											$top_html='';
											foreach($two_row['_child'] as $_key=> $three_row) {
												$checked = '';
												if(in_array($three_row['id'], $rules_arr)) {
													$checked = ' checked="checked"';
												}
										?>
										<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 js_set_height" style="margin:5px;padding:0;border:1px solid #f0f0f0;">
											<table class="access_table_child" style="margin:0;">
												<tr>
													<th style="background:#f4f4f4;">
														<label style="padding:5px;">
															<input type="checkbox" class="js_three_ids ids" name="access_id[]" value="<?=$three_row['id']?>"<?=$checked?> /><span class="access_title"><?=$three_row['title']?></span>
														</label>
													</th>
												</tr>
												<tr>
													<td>
													<?php
														$html='';
														foreach($three_row['_child'] as $k=> $v) {
															$checked = '';
															if(in_array($v['id'], $rules_arr)) {
																$checked = ' checked="checked"';
															}
													?>
													<table class="access_table_child <?php if($v['_child']){ echo 'table-bordered'; } ?>" style="<?php if($v['_child']){ echo 'margin:2%;width:96%;'; }else{ echo 'margin:0px;'; } ?>">
														<?php $tag="td"; if($v['_child']){ $tag="th"; } ?>
														<tr>
															<<?=$tag?> style="<?php if($v['_child']){ echo 'background:#f6f6f6;'; } ?>">
																<label>
																	<input type="checkbox" class="js_foure_ids ids" name="access_id[]" value="<?=$v['id']?>"<?=$checked?> /><span class="access_title"><?=$v['title']?></span>
																</label>
															</<?=$tag?>>
														</tr>
														<?php if($v['_child']){ ?>
														<tr>
															<td class="clearfix">
																<?php
																	foreach($v['_child'] as $_k=> $_v) {
																		$checked = '';
																		if(in_array($_v['id'], $rules_arr)) {
																			$checked = ' checked="checked"';
																		}
																?>
																<label>
																	<input type="checkbox" class="js_last_ids ids" name="access_id[]" value="<?=$_v['id']?>"<?=$checked?> /><span class="access_title"><?=$_v['title']?></span>
																</label>
																<?php
																	}
																?>
															</td>
														</tr>
														<?php
															}
														?>
													</table>
													<?php
														}
													?>
													</td>
												</tr>
											</table>
										</div>
										<?php } ?>
									</td>
								</tr>
								<?php
									}
								?>
							</table>
						<?php
							}
						?>
					</td>
				</tr>
				<?php
						}
					}
				?>
			</table>
			<div class="box-footer">
				<input type="submit" class="pull-left btn btn-primary" value="提交" />
				<a href="<?=U('index')?>" class="pull-left btn btn-default">取消并返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
		</form>
	</div>
</block>
<block name="script">
<js href="__JS__/access.js" />
</block>