<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left clearfix" method="get">
						<select name="pid" class="form-control input-sm">
							<option value=''>用户组</option>
							<?=$pid?>
						</select>
						<input type="submit" class="btn btn-default btn-sm" value="搜索" />
					</form>
					<div class="pull-right">
						<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="20">
					<input type="checkbox" class="js_check_all" data-target="ids" value="">
				</th>
				<th width="200">用户组</th>
				<th>备注</th>
				<th width="50" class="text-center">状态</th>
				<th width="128" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td class="text-center"><input type="checkbox" data-child="ids" class="ids" name="ids[]" value="<?=$row['id']?>"></td>
				<td>
					<?=$row['title']?>
				</td>
				<td>
					<?=$row['remark']?>
				</td>
				<td class="text-center">
					<img src="__IMG__/status_<?=$row['is_hid']?>.png" alt="">
				</td>
				<td class="text-center">
				<?php
					get_list_btn($menu_info['id'],$row);
				?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
</block>