<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<table class="table table-bordered">
			<tbody><tr>
				<th colspan="20" class="clearfix" style="background:#eee">
					申请开店信息
				</th>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					店铺名称：<?=$info['shop_name']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					联系&nbsp;&nbsp;&nbsp;人：<?=$info['username']?> 
				</td>
			</tr>		
			<tr>
				<td class="text-left" colsplan="2">
					联系电话：<?=$info['mobile']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					联系邮箱：<?=$info['email']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					<?php  $district = get_no_hid('district','sort desc'); ?>
					来源小区：<?=$district[$info['district_id']]['title']?>
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					提交时间：<?=$info['add_time']?> 
				</td>
			</tr>				
			<tr>
				<td class="text-left" colsplan="2">
					<div class="row " >
				      <div class="col-xs-6 col-md-3">
				        <a href="#" class="thumbnail">
				          <img data-src="holder.js/100%x358" alt="100%x358" style="height: 358px; width: 100%; display: block;" src="<?=thumb($info['front_card'], 358, 441, 'M')?>" data-holder-rendered="true">
				        </a>
				      </div>	
				      <div class="col-xs-6 col-md-3">
				        <a href="#" class="thumbnail" >
				          <img data-src="holder.js/100%x358" alt="100%x358" style="height: 358px; width: 100%; display: block;" src="<?=thumb($info['negative_card'], 358, 441, 'M')?>" data-holder-rendered="true">
				        </a>
				      </div>
    				</div>
				</td>
			</tr>
	    	</tbody>
    	</table>
			<div class="form-btn clearfix">
				<a href="<?=U('index',I())?>" class="pull-left btn btn-default">返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
	</div>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</block>