<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<!-- form start -->
		<form action="" method="post" class="js_form">
			<input type='hidden' name='ids' value='<?=$info["id"]?>' />

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>名称：
				</div>
				<div>
					<input type="text" class="form-control width_auto" name='title' value="<?=$info['title']?>" datatype="*1-30" nullmsg="请输入名称" errormsg="请输入名称" />
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>联系人：
				</div>
				<div>
					<input type="text" class="form-control width_auto" name='contacts' value="<?=$info['contacts']?>" datatype="*2-10" nullmsg="请输入联系人" errormsg="请输入联系人" />
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>联系电话：
				</div>
				<div>
					<input type="text" class="form-control width_auto" name='contact_number' value="<?=$info['contact_number']?>" datatype="*" nullmsg="请输入联系电话" errormsg="请输入联系电话" />
				</div>
			</div>

			<div class="form-group business_area">
				<div class="control-label">
					<span class="required">*</span>地址：
				</div>
				<div class="col-md-6">
					<div class="col-xs-4">
						<select name="province" class="form-control js_province" data-id="<?=$info['province']?>" datatype="n" errormsg="请选择省份">
							<option value="">请选择省份</option>
<?php
					foreach($cache as $v) {
						if($v['pid'] == 0) {
							echo '<option value="'.$v['id'].'">'.$v['title'].'</option>';
						}
					}
?>
						</select>
					</div>
					<div class="col-xs-4">
						<select name="city" class="form-control js_city" data-id="<?=$info['city']?>" datatype="n" errormsg="请选择城市">
							<option value="">请选择城市</option>
						</select>
					</div>
					<div class="col-xs-4">
						<select name="area" class="form-control js_area" data-id="<?=$info['area']?>" datatype="n" errormsg="请选择区/县">
							<option value="">请选择区/县</option>
						</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="business_address">
					<input type="text" class="form-control width_auto js_address" name="address" value="<?=$info['address']?>" datatype="*3-50" nullmsg="请输入详细地址" errormsg="请输入详细地址" placeholder="请输入详细地址" />
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>经度：
				</div>
				<div>
					<input type="text" class="form-control width_auto js_lng" name="longitude" value="<?=$info['longitude']?>" readonly="readonly" />
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>纬度：
				</div>
				<div>
					<input type="text" class="form-control width_auto js_lat" name="latitude" value="<?=$info['latitude']?>" readonly="readonly" />
				</div>
			</div>

			<div class="form-group yuntu">
				<div id="container">
					
				</div>
				<div id="myPageTop">
				    <table>
				        <tr>
				            <td>
				                <label>按关键字搜索：</label>
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <input type="text" placeholder="请输入关键字进行搜索" id="tipinput">
				            </td>
				        </tr>
				    </table>
				</div>											
			</div>

			<div class="form-btn clearfix">
				<input type="submit" class="pull-left btn btn-primary" value="提交" />
				<a href="<?=U('index')?>" class="pull-left btn btn-default">取消并返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
		</form>
	</div>
	<select class="hide js_area_data">
<?php
	foreach($cache as $v_area) {
		echo '<option pid="'.$v_area['pid'].'" value="'.$v_area['id'].'">'.$v_area['title'].'</option>';
	}
?>
	</select>	
	<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=9327521d7e4eaf9d3029e7fed1e5044f&plugin=AMap.Autocomplete,AMap.Geocoder"></script>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
	<script type="text/javascript">
	    var map = new AMap.Map("container", {
	        resizeEnable: true
	    });
	    //为地图注册click事件获取鼠标点击出的经纬度坐标
	    var clickEventListener = map.on('click', function(e) {
	    	$('.js_lng').val(e.lnglat.getLng());
	    	$('.js_lat').val(e.lnglat.getLat());
	        regeocoder(e.lnglat.getLng(), e.lnglat.getLat());
	    });
	    var auto = new AMap.Autocomplete({
	        input: "tipinput"
	    });
	    AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
	    function select(e) {
	        if (e.poi && e.poi.location) {
	            map.setZoom(15);
	            map.setCenter(e.poi.location);
	        }
	    }
	    function regeocoder(lng, lat) {  //逆地理编码
	        var geocoder = new AMap.Geocoder({
	            radius: 1000,
	            extensions: "all"
	        });    
	        lnglatXY = [lng, lat]; 
	        geocoder.getAddress(lnglatXY, function(status, result) {
	            if (status === 'complete' && result.info === 'OK') {
	                geocoder_CallBack(result);
	            }
	        });
	        marker(lnglatXY);
	    }
	    function geocoder_CallBack(data) {
	        province = data.regeocode.addressComponent.province;
	        city = data.regeocode.addressComponent.city;
	        district = data.regeocode.addressComponent.district;
	        var address = data.regeocode.formattedAddress;
	        address = address.replace(province, '');
	        address = address.replace(city, '');
	        address = address.replace(district, '');
	        $('.js_address').val(address);
	    }
	    function marker(lnglatXY) {
	        map.clearMap();
	        var marker = new AMap.Marker({  //加点
	            map: map,
	            position: lnglatXY
	        });
	        map.setFitView();
	    }
	    $(function() {
	    	var lng = $('.js_lng').val();
	    	var lat = $('.js_lat').val();
	    	if(lng && lat) {
	    		marker([lng, lat]);
	    	}
	    	/* 省市区切换 */
			$('.js_province').on('change', function() {
				$('.js_city').html('<option value="">请选择城市</option>');
				$('.js_area').html('<option value="">请选择区/县</option>');
				$('.js_area_data option[pid='+$(this).val()+']').clone().appendTo('.js_city');
			});
			$('.js_city').on('change', function() {
				$('.js_area').html('<option value="">请选择区/县</option>');
				$('.js_area_data option[pid='+$(this).val()+']').clone().appendTo('.js_area');
			});
			if($('.js_province').data('id') > 0) $('.js_province').val($('.js_province').data('id')).change();
			if($('.js_city').data('id') > 0) $('.js_city').val($('.js_city').data('id')).change();
			if($('.js_area').data('id') > 0) $('.js_area').val($('.js_area').data('id'));
	    });
	</script>	
</block>