<extend name="Public/body" />
<block name="body">
  <div class="box box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th colspan="20" class="clearfix" style="background:#eee">
          物业考勤信息
        </th>
      </tr>
      
      <tr>
        <td class="text-left" colsplan="2">
          <div class="row " >
            <?php
                foreach ($info as $k => $v) {
            ?>
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x100%" alt="100%x100%" style="height: 100%; width: 100%; display: block;" src="<?=thumb($v['image'], 171, 180, 'M')?>" data-holder-rendered="true">
                </a>
              </div>    
            <?php
                }
            ?>
            </div>
        </td>
      </tr>
        </tbody>
      </table>
  </div>
</block>