<extend name="Common/body"/>
<block name="body">
		
	<form class="col-xs-12 js_form" action="<?=U('transfer')?>">
		<label class="form-group clearfix">
			<div class="col-xs-2 control-label text-right">账户余额：</div>
			<div class="col-xs-10 control-label">
				<?=$balance?>元
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="col-xs-2 control-label text-right">转账金额：</div>
			<div class="col-xs-10 form-inline">
				<input type="text" class="form-control width_auto" datatype="lt,decimal" data-lt_than="10000" nullmsg="请输入金额" errormsg="请输入小于10000的合法金额" name='price' placeholder="请输入金额">
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="col-xs-2 control-label text-right">交易密码：</div>
			<div class="col-xs-10 form-inline">
				<input type="password" class="form-control width_auto" datatype="*6-16" nullmsg="请输入交易密码" name='deal_password' placeholder="请输入交易密码">
				<a class="forget" href="<?=U('User/Set/Safe/deal_password_mobile')?>">忘记密码</a>
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="col-xs-2 control-label text-right">收款账号：</div>
			<div class="col-xs-10 form-inline">
				<input type="text" class="form-control width_auto" datatype="m" nullmsg="请输入手机号" name='mobile' placeholder="请输入手机号">
			</div>
		</label>
		<div class="form-group clearfix">
			<div class="col-xs-offset-2">
				<input type="submit" class="btn btn-orange pull-left" value="提交" />
				<div  class="js_validTips pull-left" style="display:none;"><span class="js_tipContent Validform_checktip"></span></div>
			</div>
		</div>
	</form>	
</block>