<!-- 消息中心 >> 收件箱详情 -->
<extend name="Common/body"/>
<block name="head_change">
<?php
$crumbs="消息中心";
$crumbs_array[]=array("title"=>"个人中心","url"=>U("/User"));
$crumbs_array[]=array("title"=>"我的私信","url"=>U("index"));
?>
<script>
var cur_url="<?=U('User/Message/Message/index')?>";
</script>
</block>
<block name="body">
	<include file="Common@Plugins/editor" />
	<div class="detialmessage">
		<div class="toptitle">
			<strong>标题:</strong>
			<strong><?=$info['now']['title']?></strong>
		</div>
		<div class="dm_content margin_b10">
			<div class="con_detial">
				<strong>内容:</strong>
				<div style="margin:10px 0;">
					<?=$info['now']['content']?>
				</div>
			</div>
		</div>
		
		<div class="btbox margin_b10">
			<ul class="clearfix">
				<li class="ellipsis">
					<?php if($info['prev']['title']){?>
					<span>上一封：</span>
					<a href="<?=U('inbox_detial',array('id'=>$info['prev']['msg_table_id']))?>"><?=$info['prev']['title']?></a>
					<?php }?>
				</li>
				<li class="ellipsis">
					<?php if($info['next']['title']){?>
					<span>下一封：</span>
					<a href="<?=U('inbox_detial',array('id'=>$info['next']['msg_table_id']))?>"><?=$info['next']['title']?></a>
					<?php }?>
				</li>
			</ul>
		</div>
		<form method="post" class="js_form" action="<?=U('replay')?>">
			<div class="form-group">
				<!-- 百度编辑器 S -->
				<?php $time=time(); ?>
				<script id="<?='editor_'.$time?>" type="text/plain" name="content"><?=$info['content']?></script>
				<script type="text/javascript">
					var config_2={
						initialFrameWidth:"100%",
						initialFrameHeight:100,
						pasteplain:true,
						toolbars: [[
				            'bold','removeformat','indent','link','unlink','insertimage','attachment'
						]]
					};
					//合并配置文件，config为默认配置，config_2为自定义的配置
					var new_config=array_merge({},[config,config_2]);
					var editor_<?=$time?>=UE.getEditor('editor_<?=$time?>',new_config);
				</script>
				<!-- 百度编辑器 E -->
			</div>
			<div class="form-group">
				<div class="text-center">
					<input type="hidden" name="pid" value="<?=$info['now']['msg_table_id']?>"/>
					<input type="hidden" name="to_member_id" value="<?=$info['now']['member_id']?>"/>
					<input class="btn btn-orange btn-sm" type="submit" value="提交" />
					<a class="btn btn-default btn-sm " href="<?=U('index')?>">取消并返回</a>
				</div>
			</div>
		</form>
	</div>
</block>