<!-- 消息中心 >> 其它详情 -->
<extend name="Common/body"/>
<block name="head_change">
<?php
$crumbs="消息中心";
$crumbs_array[]=array("title"=>"个人中心","url"=>U("/User"));
$crumbs_array[]=array("title"=>"其它","url"=>U("User/Message/other"));
?>
<script>
var cur_url="<?=U('User/Message/other')?>";
</script>
</block>
<block name="body">
	<div class="detialmessage">
		<div class="toptitle">
			<strong>标题:</strong>
			<strong>测试消息标题</strong>
		</div>
		<div class="dm_content margin_b10">
			<strong>内容:</strong>
			<div style="margin:10px 0;">
				测试消息内容
			</div>
		</div>
		<div class="btbox">
			<ul class="clearfix">
				<li class="ellipsis">
					<span>上一封:</span>
					<a href="<?=U('other_detial')?>">测试消息测试消息测试消息测试消息测试消息测试消息测试消息测试消息测试消息</a>
				</li>
				<li class="ellipsis">
					<span>下一封：</span>
					<a href="<?=U('other_detial')?>">测试消息</a>
				</li>
			</ul>
		</div>
	</div>
</block>