<!-- 消息中心 >> 收件箱 -->
<extend name="Common/body"/>
<block name="head_change">
<?php
$crumbs="消息中心";
$crumbs_array[]=array("title"=>"个人中心","url"=>U("/User"));
$crumbs_array[]=array("title"=>"发件箱","url"=>U(""));
?>
<script>
var cur_url="<?=U('User/Message/index')?>";
</script>
</block>
<block name="body">
	<table class="message_table table">
		<thead class="noboder">
			<tr>
				<th class="col-xs-2">收件人</th>
				<th class="col-xs-8">标题</th>
				<th class="col-xs-2 text-right">时间</th>
			</tr>
		</thead>
		
		<?php
				if(!empty($list)){  ?>
				<tr class="mini_title">
					<td colspan="3" class="clearfix">
						<div class="pull-left">
							<span style="margin-right:10px;"><input type="checkbox"  data-target="ids" class="js_check_all" /></span>
							<a href="<?=U('del_memssage')?>" class="btn btn-default btn-xs ajax-post confirm" target-form="ids">删除所选</a>
							<a href="<?=U('write')?>" class="btn btn-orange btn-xs">发消息</a>
						</div>
					</td>
				</tr>
			<?php		foreach($list as $v){
						$_name = (isset($member_result[$v['to_member_id']]['nickname']))?$member_result[$v['to_member_id']]['nickname']:substr_replace($member_result[$v['to_member_id']]['mobile'], '****', 3, 4);
		?>	
		<tr>
			<td class="col-xs-2">
				<label>
					<span style="margin-right:10px;">
					<input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$v['msg_table_id']?>"></span>
					<?=$_name?>
				</label>
			</td>
			<td class="col-xs-8">
				<a href="<?=U('outbox_detial',array('id'=>$v['msg_table_id']))?>"><?=msubstr($v['title'],50)?></a>
			</td>
			<td class="col-xs-2 text-right"><?php if($v['addtime']){ echo date('Y-m-d H:m:s',$v['addtime']);}else{ echo '';}?>
			</td>
		</tr>
<?php }?>
		<tr class="mini_title">
			<td colspan="3">
				<span style="margin-right:10px;"><input type="checkbox" class="js_check_all" /></span>
				<a href="<?=U('del_memssage')?>" class="btn btn-default btn-xs ajax-post confirm" target-form="ids">删除所选</a>
				<a href="<?=U('write')?>" class="btn btn-orange btn-xs">发消息</a>
			</td>
		</tr>
<?php }else{?>
		<tr>
			<td colspan="5" style="background:#fff;"><include file="Common@Plugins/nodata" text="您还没有发送过消息哦，点击右上方发送" sumbt='' url=""/></td>
			<td><a href="<?=U('write')?>" class="btn btn-orange btn-xs">发消息</a></td>
		</tr>
<?php }?>		
	</table>
	<?=$page?>
</block>