<!-- 消息中心 >> 收件箱详情 -->
<extend name="Common/body"/>
<block name="body">
	<div class="detialmessage">
		<div class="toptitle">
			<strong>标题：</strong>
			<?=$info['title']?>
		</div>
		<div class="dm_content margin_b10">
			<strong>内容:</strong>
			<div style="margin:10px 0;">
				<?=$info['content']?>
			</div>
		</div>
		<div class="btbox">
			<ul class="clearfix">
				<li class="ellipsis">
					<?php if($info['prev']['title']){?>
					<span>上一封：</span>
					<a href="<?=U('system_detial',array('id'=>$info['prev']['msg_table_id']))?>"><?=$info['prev']['title']?></a>
					<?php }?>
				</li>
				<li class="ellipsis">
					<?php if($info['next']['title']){?>
					<span>下一封：</span>
					<a href="<?=U('system_detial',array('id'=>$info['next']['msg_table_id']))?>"><?=$info['next']['title']?></a>
					<?php }?>
				</li>
			</ul>
		</div>
		<a href="<?=U('system')?>" class="btn btn-default" style="margin-top: 8px;">返回列表页</a>
	</div>
</block>