<!-- 消息中心 >> 系统消息 -->
<extend name="Common/body"/>
<block name="body">
	<!--订单管理 S-->
<div class="search_bar">
	<form class="form-inline clearfix">			
		<label class="form-group">
			<span class="control-label">标题：</span>
			<input type="text" class="form-control" name="keyword" value="<?=trim(I('keyword'))?>" placeholder="请输入消息标题">
		</label>
		<label class="form-group date_group">
			<input type="text" class="form-control" id="starTime" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d\'}'})" name="start" value="<?=I('start')?>" placeholder="起始时间">
			<span class="control-label">到</span>
			<input type="text" class="form-control" id="endTime"
			onclick="WdatePicker({minDate:'#F{$dp.$D(\'starTime\')}',maxDate:'%y-%M-%d'})" name="end" value="<?=I('end')?>"  placeholder="截止时间">
		</label>
		<div class="form-group form_btn_group">
			<a href="<?=U('system')?>" class="btn btn-orange">重置</a>
			<input type="submit" class="btn btn-orange" value="搜索">
		</div>  	 	 
	</form>
</div>
	<table class="message_table table">
		<thead class="noboder">
			<tr>
				<th class="col-xs-10">标题</th>
				<th class="col-xs-2 text-right">时间</th>
			</tr>
		</thead>
		<tr class="mini_title">
			<td colspan="2" class="clearfix">
				<div class="pull-left">
					<span style="margin-right:10px;"><input type="checkbox" class="js_check_all" data-target="ids" /></span>
					<a href="<?=U('del')?>" class="btn btn-default btn-xs ajax-post confirm" target-form="ids">删除所选</a>
					<a href="<?=U('mark_read')?>" class="btn btn-default btn-xs ajax-post" target-form="ids">标记所选为已读</a>
				</div>
				<div class="pull-right">
					<span  class="hover" >未读（<?=$no_read?>）</span> - <span class="hover">全部（<?=$count?>）</span>
				</div>
			</td>
		</tr>
		<?php
			if(!empty($list)){  
		?>
		
			<?php 
				foreach($list as $v){	
			?>	
			<tr>
				<td class="col-xs-10 clearfix">
					<input type="checkbox" data-child="ids" class="pull-left ids" name='ids[]' value="<?=$v['id']?>"/>
					<div style="margin-left:25px;">
						<a href="<?=U('system_detail',array('id'=>$v['id']))?>" class="message_ico message_<?=$v['is_read']?>"><?=$v['title']?></a>
					</div>
				</td>
				<td class="col-xs-2 text-right"><?=date('Y-m-d H:m:s',$v['addtime'])?></td>
			</tr>
		<?php 
				}
			}else{
		?>
		<tr>
			<td colspan="5" style="background:#fff;"><include file="Common@Plugins/nodata" text="您还没有收到过系统消息哦" sumbt='' url=""/></td>
		</tr>
		<?php 
			}
		?>
	</table>
	
	<include file="Home@Common/page" />
</block>