<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
	<form action="<?=U('index')?>" enctype="multipart/form-data" method="post" >
		<label class="form-group">
				<div class="control-label">
					<span class="required">*</span>版本号
				</div>
				<div>
					<input type="text" name="version" value="<?=C('APP_VERSION')?>" />
				</div>
		</label>
		<label class="form-group">
			<div class="control-label">
				<span class="required">*</span>
				安卓安装包
			</div>
			<div>
				<input type="file" name="app" />
			</div>
		</label>
		<input type="submit" value="提交" >
	</form>
	</div>
</block>