<!-- 购物车 余额支付   -->
<extend name="Cart/Common/body"/>
<block name="body">
<form class="pay_balance" action="<?=U('Home/Cart/Order/pay_balance')?>" method="post">
	<input name="orderid" type="hidden" value="<?=$info['id']?>" />
	<div class="container f14">
		<div class="shopbox">
			<div class="toptitle clearfix">
				<span class="pull-left">订单提交成功，请尽快支付！</span>
			</div>

			<div class="nav_top">
				<ul class="clearfix paymode">
					<li class="active"><a href="javascript:void(0);">余额支付</a></li>
					<li><a href="<?=U('Home/Cart/Cart/pay_online')?>">在线支付</a></li>
				</ul>
				<ul class="paybox">
					<li><strong>支付金额：</strong><span style="color: #f60;">¥ 178</span></li>
					<li><strong>账户余额：</strong><span>¥ 30000.00</span><a href="<?=U('User/Funds/recharge')?>" target="_blank">充值</a></li>
				</ul>
			</div>

			<!-- 输入支付密码 S -->
			<div class="passwordbox">
				<span>请输入支付密码</span>
				<input type="password" name="password" value="" />
				<a href="<?=U('User/Public/forget', array('type'=> 'pay'))?>">忘记密码？</a>
			</div>
			<!-- 输入支付密码 E -->
		</div>
	</div>

	<!-- 去支付 S -->
	<div class="acountbox">
		<div class="container clearfix">
			<div class="pull-right">
				<ul class="clearfix f14">
					<li>应付总额：<span>¥ 534</span></li>
					<li class="last"><input type="submit" class="btn btn-orange ajax-post" target-form="pay_balance" value="去支付" ></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 去支付 E -->
</form>
</block>