<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<block name="head_change"></block>
	<title><?=$seo['title']?></title>
	<meta name="keywords" content="<?=$seo['keywords']?>" /> 
	<meta name="description" content="<?=$seo['description']?>" />
	<script>
	var _ROOT_='__ROOT__';
	var _STATIC_='__STATIC__';
	var _PLUGIN_='__PLUGIN__';
	var _JS_='__JS__';
	var _IMG_='__IMG__';
	var _CSS_='__CSS__';
	</script>
	<css href="__STATIC__/css/common.css" />
	<!--[if lte IE 6]>
	    <css href="__STATIC__/css/ie6.css" />
	<![endif]-->
	<css href="__CSS__/common.css" />
	<css href="__CSS__/cart.css" />
	<block name="style"></block>
</head>
<body>
<div class="wrapper">
	<include file="Home@Common/top" />
	<div class="body">
		<!-- 购买 Step 1 -->
		<div class="container cart_top clearfix">
			<div class="cart_left">
				<a href="<?=U('/Index/index')?>"><img onerror="nofind();" src="__IMG__/logo.png" height="70"></a>
				<div>购物车</div>
			</div>
			<div class="cart_right">
				<ul class="clearfix">
					<li class="current">我的购物车</li>
					<li>核对订单信息</li>
					<li>确认并支付</li>
				</ul>
			</div>
		</div>
		<block name="body"></block>
	</div>
	<include file="Home@Common/footer" />
</div>

<!-- 悬浮窗 S -->
<div class="susbox js_susbox">
	<div><a href="javascript:;" style="background-image: url(__IMG__/backtop.png);" title="返回顶部"></a></div>
</div>
<!-- 悬浮窗 E -->
<!-- /* 全局JS调用、加载 */ -->
<js href="__STATIC__/js/common.js" />
<js href="__JS__/common.js" />
<!-- /* 全局JS调用、加载 */ -->
<!--[if lte IE 6]>
    <css href="__STATIC__/css/ie6.css" />
    <js href="__STATIC__/js/ie6.js" />
    <js href="__JS__/iepng.js" />
    <script type="text/javascript">
	    EvPNG.fix('div,ul,img,li,input,a,i');
	    //EvPNG.fix('包含透明PNG图片的标签'); 多个标签之间用英文逗号隔开。
	</script>
<![endif]-->
<!--[if lt IE 9]>
    <js href="__STATIC__/js/ie9.js" />
<![endif]-->
<block name="script"></block>
</body>
</html>