<extend name="Common/body"/>
<block name="head_change">
<?php
	$crumbs="订单评论";
	$crumbs_array[]=array("title"=>"订单管理","url"=>U("index"));
	$crumbs_array[]=array("title"=>"订单评论","url"=>"");
?>
<script>
var cur_url="<?=U('User/Order/Order/index')?>";
</script>
</block>
<block name="style">
	<css href="__PLUGIN__/uploadify/uploadify.css" />
</block>
<block name="body">
	<!-- 商品信息 S -->
	<h5 class="margin_b10">订单商品信息</h5>
	<div class="order_box table-responsive">
		<table class="table table-bordered ">
			<thead>
				<tr class="title">
					<th class="text-center">商品</th>
					<th class="col-xs-1 text-center">价格</th>
					<th class="col-xs-2 text-center">属性</th>
					<th class="col-xs-1 text-center">数量</th>
					<th class="col-xs-1 text-center">小计</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="product_info clearfix">
						<a href="<?=U('Mall/Product/Index/detail',array('id'=>$v['product_id']))?>" class="col-xs-2 cover" target="_blank" >
							<img src="<?=_thumb($val['cover'],'80','80','M')?>" class="img-responsive" width="80" height="80">
						</a>
						<div class="col-xs-8 title" style="margin-top: 10px;">
							<a href="<?=U('Mall/Product/Index/detail',array('id'=>$v['product_id']))?>" target="_blank"><?=$info['title']?></a>
							<div><?=$info['description']?></div>
						</div>
					</td>
					<td class="text-center">
						<div>￥<?=$info['price']?></div>
						<!-- <div class="color_9">折扣积分：1000</div> -->
						<!-- <div class="text-through">原价：￥1000</div> -->
					</td>
					<td class="col-xs-2 text-center">
						<?php 
							$attr=json_decode($info['attr_value']);
							if($attr){
								foreach($attr as $v){
									echo $v."<br>";
								}
							}else{
								echo "无";
							}
						?>
					</td>
					<td class="text-center"><?=$info['num']?></td>
					<td class="text-center">
						<div>￥<?=$info['num']*$info['price']+$val['freight']?></div>
						<!-- <div class="color_9">折扣积分：1000</div> -->
						<!-- <div class="text-through">原价：￥1000</div> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 商品信息 E -->
	<!--订单管理 S-->
	<form action="<?=U('')?>" class="js_form clearfix">
		<ul class="scorebox js_score">
			<li class="clearfix">
				<span>描述相符：</span>
				<i class="star "></i>
				<i class="star "></i>
				<i class="star "></i>
				<i class="star"></i>
				<i class="star"></i>
			</li>
			<li class="clearfix">
				<span>服务态度：</span>
				<i class="star "></i>
				<i class="star "></i>
				<i class="star "></i>
				<i class="star"></i>
				<i class="star"></i>
			</li>
			<li class="clearfix">
				<span>发货速度：</span>
				<i class="star "></i>
				<i class="star "></i>
				<i class="star "></i>
				<i class="star"></i>
				<i class="star"></i>
			</li>
			<!-- 隐藏表单域 S -->
	
			<input name="id" value="<?=$info['order_id']?>" type="hidden">
			<input name="product_id" value="<?=$info['product_id']?>" type="hidden">
			<div class="js_hidden" style="display:none">
				<input name="star_quality" type="hidden" value="0" />
				<input name="star_serve" type="hidden" value="0" />
				<input name="star_speed" type="hidden" value="0" />
			</div>
			<!-- 隐藏表单域 E -->
		</ul>
	  	<label class="form-group date_group">
			<span class="control-label">评论内容：</span>
		    <textarea name="content" class="form-control" datatype="*1-80" nullmsg="请填写评论内容" cols="30" rows="6"></textarea>
	  	</label>

	  	<div class="form-group date_group">
			<span class="control-label">晒图：</span>
		    <?php
				$config = array(
					'index'		=> 1,			   
					'table'		=> 'comment_image',    
					'name'		=> 'image',      
					'val_key'	=> 'image',
					'multi'		=> 'true',
					'tpl'		=> 'index',
				);
				echo W('Common/Img/index', array($config, $info['id']));
			?>
	  	</div>
	  	<div class="form-group form_btn_group">
	  		<input type="submit" class="btn btn-orange" value="评论">
			<span class="validTips js_validTips">
				<span class="js_tipContent"></span>
			</span>
	  	</div>  	
	</form>
	<!--订单管理 E-->
</block>
<block name="script">
<script type="text/javascript">
$(function(){

	var selectMode = function($){
		function countselectNum($obj){
			var count = 0;
			$obj.find('i').each(function(){
				if($(this).hasClass('add')){
					count ++;
				}
			});
			return count;
		};

		function prevOrNextObject($obj,classname) {
			if(classname == "add") {
				$obj.prevAll().addClass("add");
				$obj.nextAll().removeClass("add");
			}else{
				$obj.addClass("add");
				$obj.nextAll().removeClass("add");
			}
			$obj = null;
		};
		
		return{
			addEvent : function() {
				var $obj = $('.js_score>li').find('i');
				$obj.on('click',function(){
					if($(this).hasClass("add")){
						$(this).removeClass("add");
						prevOrNextObject($(this),'');
					}else{
						$(this).addClass("add");
						prevOrNextObject($(this),"add");
					}
					var val = countselectNum($(this).parent());
					var $parent = $(this).parent();
					var index = $parent.index();
					$parent.parent().find('.js_hidden').find('input').eq(index).val(val);
					$parent = null;
				});
				$obj = null;
			},
		}
	}(jQuery);

	//calling this function
	$(window).ready(function(){
		selectMode.addEvent();
	});
})
</script>
</block>