<extend name="Common/body"/>
<block name="style">
<script>
var cur_url="<?=U('User/Order/one')?>";
</script>
</block>
<block name="script">
</block>
<block name="head_change">
<?php
$crumbs="订单详情";
$crumbs_array[]=array("title"=>"订单管理","url"=>U("one"));
$crumbs_array[]=array("title"=>"订单详情","url"=>U("details_one"));
?>
</block>
<block name="body">
	<!-- 物流信息 S-->
		<h5 class="margin_b10">物流信息</h5>
		<div class="table-responsive logistics_info">
			<table class="table">
				<thead>
					<tr>
						<th class="col-xs-3">处理时间</th>
						<th class="col-xs-8">订单状态</th>
						<th class="col-xs-1">操作人</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2016-03-07 23:43:20</td>
						<td>您已确认收货,订单完成<br />感谢在平台购物，欢迎您再次光临</td>
						<td>买家</td>
					</tr>
					<tr>
						<td>2016-03-04 11:15:10</td>
						<td>卖家已发货，等待收货中，39天内订单将会自动确认收货，请及时关注该订单<br />
						快递单位：顺丰快递<br />快递单号：854158471724</td>
						<td>卖家</td>
					</tr>
					<tr>
						<td>2016-03-03 19:50:33</td>
						<td>您的订单卖家已收到，卖家正在准备发货</td>
						<td>卖家</td>
					</tr>
					<tr>
						<td>2016-03-03 19:42:32</td>
						<td>您的订单已支付成功，请等待卖家发货</td>
						<td>系统</td>
					</tr>
					<tr>
						<td>2016-03-03 19:39:32</td>
						<td>您提交了订单，等待买家支付</td>
						<td>系统</td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- 物流信息 E-->
	<!-- 商品信息 S -->
		<h5 class="margin_b10">商品信息</h5>
		<table class="table table-bordered">
			<thead>
				<tr class="title">
					<th class="col-xs-4 text-center">商品</th>
					<th class="col-xs-2">价格</th>
					<th class="col-xs-1 text-center">数量</th>
					<th class="col-xs-1">小计</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="product_info clearfix">
						<a href="#" class="col-xs-5 cover">
							<img src="__USER__/img/order_default.png" class="img-responsive">
						</a>
						<div class="col-xs-7 title">
							<a href="#">特价越南惠安沉香手工切割插烟片烟丝</a>
						</div>
					</td>
					<td>￥1200</td>
					<td class="text-center">2</td>
					<td>￥2400</td>
				</tr>
			</tbody>
		</table>
	<!-- 商品信息 E -->
	<!-- 订单信息 S-->
		<div class="details_con">
			<h5 class="margin_b10">我的一元购码：10001854</h5>
		</div>
		<div class="details_con">
			<h5 class="margin_b10">全部一元购码：</h5>
			<div class="one_box clearfix">
				<div>10001851</div><div class="current">10001854</div><div>10001852</div><div>10001853</div><div>10001844</div><div>10001834</div><div>10001824</div><div>10001814</div><div>10001804</div>
			</div>
		</div>
		<div class="details_con">
			<h5 class="margin_b10">订单信息：</h5>
			<p class="order_info">
				<span class="tips">订单编号：22154354112</span>
				<span class="tips">下单时间：2015-06-18</span>
				<span class="tips">付款时间：2015-6-18</span>
				<span class="tips">付款方式：余额付款</span>
			</p>
		</div>
	<!-- 订单信息 E-->
	<!-- 买家信息 S-->
		<div class="details_con">
			<h5 class="margin_b10">买家信息：</h5>
			<div class="order_info">
				<span class="tips">名称：EVA小靓</span>
				<span class="tips">联系电话：13125180840</span>
			</div>
			<p class="tips receipt_info">收货信息：卢小靓，13125180840，湖北省 武汉市 武昌区 光谷大道金融港25栋1单元202室，430061</p>
		</div>
	<!-- 买家信息 E-->
</block>