<extend name="Common/body"/>
<block name="style">
<script>
var cur_url="<?=U('User/Order/Order/one')?>";
</script>
</block>
<block name="head_change">
<?php
$crumbs="订单管理";
$crumbs_array[]=array("title"=>"订单管理","url"=>U("index"));
?>
</block>
<block name="body">
	<!--订单管理 S-->
	<div class="search_bar">
		<form class="form-inline clearfix">			
			<label class="form-group">
				<span class="control-label">产品名称：</span>
			    <input type="text" class="form-control" id="prodctName">
		  	</label>
		  	<label class="form-group">
				<span class="control-label">订单编号：</span>
			    <input type="text" class="form-control" id="prodctName">
		  	</label>
		  	<label class="form-group">
				<span class="control-label">订单状态：</span>
			    <select name="orderType" class="form-control">
			    	<option>订单状态</option>
			    	<option>所有订单</option>
			    	<option>待收货</option>
			    	<option>待发货</option>
			    	<option>待付款</option>
			    	<option>待评论</option>
			    </select>
		  	</label>

		  	<label class="form-group date_group">
				<span class="control-label">成交时间：</span>
			    <input type="text" class="form-control" id="starTime" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')||\'2020-10-01\'}'})">
			    <span class="control-label">到</span>
			    <input type="text" class="form-control" id="endTime"
			    onclick="WdatePicker({minDate:'#F{$dp.$D(\'starTime\')}',maxDate:'2020-10-01'})">
		  	</label>
		  	<div class="form-group form_btn_group">
		  		<input type="submit" class="btn btn-orange" value="搜索">
		  	</div>  	
		</form>
	</div>
	<div class="order_box">
		<div class="order-list">
			<ul class="nav nav-tabs">
			    <li class="active"><a href="#">所有订单</a></li>
			    <li><a href="#">待收货 <span class="badge">2</span></a></li>
			    <li><a href="#">待发货</a></li>
			    <li><a href="#">待付款</a></li>
			    <li><a href="#">待评论 <span class="badge">4</span></a></li>
			</ul>
		</div>
		<table class="table noborder" style="margin:0;">
			<thead>
				<tr>
					<th class="text-center">商品</th>
					<th class="col-xs-2">价格</th>
					<th class="col-xs-1 text-center">数量</th>
					<th class="col-xs-1 text-center">小计</th>
					<th class="col-xs-1 text-center">状态</th>
					<th class="col-xs-1 text-center">交易操作</th>
				</tr>
			</thead>
		</table>
		<div class="order_condent">
			<table class="table table-bordered">
				<tr class="title">
					<td colspan="8">
						<span>2015-8-26  17:05</span>
						<span>订单号：54121478784</span>
					</td>
				</tr>
				<tr>
					<td class="col-xs-1" style="border-right:none">
						<a href="<?=U('User/Order/Order/details_one')?>">
							<img src="__USER__/img/order_default.png" style="min-width:100px;" class="img-responsive">
						</a>
					</td>
					<td style="border-left:none">
						<a href="<?=U('User/Order/Order/details_one')?>">特价越南惠安沉香手工切割插烟片烟丝</a>
					</td>
					<td class="col-xs-2">
						￥1000
					</td>
					<td class="col-xs-1 text-center">1</td>
					<td class="col-xs-1" style="border-left:1px solid #ddd">￥1000</td>
					<td class="col-xs-1 text-center" style="padding:10px 0;border-left:1px solid #ddd;">幸运用户</td>
					<td class="col-xs-1 text-center" style="border-left:1px solid #ddd;">
						<a href="<?=U('User/Order/Order/details_one')?>" class="btn btn-hover btn-xs">查看详情</a>
					</td>
				</tr>
			</table>
		
			<table class="table table-bordered">
				<tr class="title">
					<td colspan="8">
						<span>2015-8-26  17:05</span>
						<span>订单号：54121478784</span>
					</td>
				</tr>
				<tr>
					<td class="col-xs-1" style="border-right:none">
						<a href="<?=U('User/Order/Order/details_one')?>">
							<img src="__USER__/img/order_default.png" style="min-width:100px;" class="img-responsive">
						</a>
					</td>
					<td style="border-left:none">
						<a href="<?=U('User/Order/Order/details_one')?>">特价越南惠安沉香手工切割插烟片烟丝</a>
					</td>
					<td class="col-xs-2">
						￥1000
					</td>
					<td class="col-xs-1 text-center">1</td>
					<td class="col-xs-1" rowspan="80" style="border-left:1px solid #ddd;">￥2000</td>
					<td class="col-xs-1 text-center" rowspan="80" style="padding:10px 0;border-left:1px solid #ddd;">
						<div>幸运用户</div>

						<div href="<?=U('User/Order/Order/tracking')?>" class="js_tracking" data-id="1">查看一元购码</div>
					</td>
					<td class="col-xs-1 text-center" rowspan="80" style="border-left:1px solid #ddd;">
						<a href="<?=U('User/Order/Order/details_one')?>" class="btn btn-hover btn-xs">查看详情</a>

					</td>
				</tr>
				<tr>
					<td class="col-xs-1" style="border-right:none">
						<a href="<?=U('User/Order/Order/details_one')?>">
							<img src="__USER__/img/order_default.png" style="min-width:100px;" class="img-responsive">
						</a>
					</td>
					<td style="border-left:none">
						<a href="<?=U('User/Order/Order/details_one')?>">特价越南惠安沉香手工切割插烟片烟丝</a>
					</td>
					<td class="col-xs-1">
						￥1000
					</td>
					<td class="col-xs-1 text-center">1</td>
				</tr>
			</table>
		
			<table class="table table-bordered">
				<tr class="title">
					<td colspan="8">
						<span>2015-8-26  17:05</span>
						<span>订单号：54121478784</span>
					</td>
				</tr>
				<tr>
					<td class="col-xs-1" style="border-right:none">
						<a href="<?=U('User/Order/Order/details_one')?>">
							<img src="__USER__/img/order_default.png" style="min-width:100px;" class="img-responsive">
						</a>
					</td>
					<td style="border-left:none">
						<a href="<?=U('User/Order/Order/details_one')?>">特价越南惠安沉香手工切割插烟片烟丝</a>
					</td>
					<td class="col-xs-2">
						￥1000
					</td>
					<td class="col-xs-1 text-center">3</td>
					<td class="col-xs-1" style="border-left:1px solid #ddd">￥3000</td>
					<td class="col-xs-1 text-center" style="padding:10px 0;border-left:1px solid #ddd;">
						<div>未抽中</div>

						<div href="<?=U('User/Order/Order/tracking')?>" class="js_tracking" data-id="1">查看一元购码</div>
					</td>
					<td class="col-xs-1 text-center" style="border-left:1px solid #ddd;">
						<a href="<?=U('User/Order/Order/details_one')?>" class="btn btn-hover btn-xs">查看详情</a>
					</td>
				</tr>
			</table>		
		</div>
		<?=$pages?>
	</div>
	<!--订单管理 E-->
</block>
<block name="script">
<script type="text/javascript">
	$(function() {
		$('.js_tracking').on("mouseover",function(){
			$(this).css({"position":"relative"});
			if($(this).find('.logistics_box').length>0){
				$(this).find('.logistics_box').show();
			}else{
				var _this = $(this);
				var _id = $(this).data('id');
				$.ajax({
					type: 'POST',
					url: '<?=U('tracking')?>',
					data: {orderid: _id},
					dataType: 'json',
					success: function(data) {
						if(data.status == 1) {
							$(_this).append(data.info);
							$('.logistics_box').show();
						}
					}
				});
			}
		});
		$(".js_tracking").on("mouseleave",function() {
			$(this).find('.logistics_box').remove();
		})
	});
</script>
</block>