<div class="logistics_box">
	<div class="logistics_info">
		<div class="logistics_title">本次参与人数<span class="hover">113</span>人</div>
		<div class="logistics_list">
			<div>10001854</div>
			<div>10101453</div>
			<div>10010854</div>
			<div>10005554</div>
			<div>10001854</div>
			<div>10101453</div>
			<div>10010854</div>
			<div>10005554</div>
			<div>10001854</div>
			<div>10101453</div>
			<div>10010854</div>
			<div>10005554</div>
			<div>10001854</div>
			<div>10101453</div>
			<div>10010854</div>
			<div>10005554</div>
		</div>
	</div>
	<div class="arrow"><img src="__IMG__/right_arrow.png" alt=""></div>
</div>