<!-- 确认订单信息   -->
<extend name="Cart/Common/body"/>
<block name="body">
	<form class="form_generate" action="<?=U('Home/Cart/Order/generate')?>" method="post">
	<div class="container f14">
		<div class="shopbox">
			<!--选择收货地址 S -->
			<div class="toptitle clearfix">
				<span class="pull-left">选择收货地址</span>
				<span class="pull-right">
					<a href="<?=U('User/Address/index')?>">管理收货地址</a>
				</span>
			</div>
			<div class="add_address">
				<ul class="clearfix js_address">
					<li data-id="1">
						<div class="name clearfix">
							<span class="pull-left">姓名1</span>
							<a class="pull-right js_set_default" href="#">设为默认收货地址</a>
						</div>
						<div class="address break_word">湖北省武汉市武昌区XXXX小区XXXXX栋XX室</div>
						<div class="tel">123****3333</div>
						<div class="icon"></div>
					</li>
					<li data-id="2">
						<div class="name clearfix">
							<span class="pull-left">姓名1</span>
							<a class="pull-right js_set_default" href="#">设为默认收货地址</a>
						</div>
						<div class="address break_word">湖北省武汉市武昌区XXXX小区XXXXX栋XX室</div>
						<div class="tel">123****3333</div>
						<div class="icon"></div>
					</li>
					<li data-id="3">
						<div class="name clearfix">
							<span class="pull-left">姓名1</span>
							<a class="pull-right js_set_default" href="#">设为默认收货地址</a>
						</div>
						<div class="address break_word">湖北省武汉市武昌区XXXX小区XXXXX栋XX室</div>
						<div class="tel">123****3333</div>
						<div class="icon"></div>
					</li>
					<li data-id="4">
						<div class="name clearfix">
							<span class="pull-left">姓名1</span>
							<a class="pull-right js_set_default" href="#">设为默认收货地址</a>
						</div>
						<div class="address break_word">湖北省武汉市武昌区XXXX小区XXXXX栋XX室</div>
						<div class="tel">123****3333</div>
						<div class="icon"></div>
					</li>
					<li data-id="5">
						<div class="name clearfix">
							<span class="pull-left">姓名1</span>
							<a class="pull-right js_set_default" href="#">设为默认收货地址</a>
						</div>
						<div class="address break_word">湖北省武汉市武昌区XXXX小区XXXXX栋XX室</div>
						<div class="tel">123****3333</div>
						<div class="icon"></div>
					</li>
					<li data-id="6">
						<div class="name clearfix">
							<span class="pull-left">姓名1</span>
							<a class="pull-right js_set_default" href="#">设为默认收货地址</a>
						</div>
						<div class="address break_word">湖北省武汉市武昌区XXXX小区XXXXX栋XX室</div>
						<div class="tel">123****3333</div>
						<div class="icon"></div>
					</li>
					<span style="display: none;">您还没与收货地址，添加一个吧！</span>
				</ul>
				<a class="add_link" data-toggle="modal" data-target="#addaddress">添加新地址</a>
			</div>
			<!--选择收货地址 E -->

			<!-- 确认订单信息 S-->
			<div class="toptitle clearfix">
				<span class="pull-left">确认订单信息</span>
				<span class="pull-right">
					<a href="javascript:history.back()">返回修改</a>
				</span>
			</div>
			<ul class="shop_row col_name clearfix">
				<li class="shop_col_1">
				</li>
				<li class="shop_col_2" style="width:21%;">商品</li>
				<li class="shop_col_3" style="width:26%;"></li>
				<li class="shop_col_5 align_c" style="width:10%;">单价</li>
				<li class="shop_col_6 align_c">数量</li>
				<li class="shop_col_7 align_c" style="width: 17%;">小计</li>
			</ul>

			<ul class="shoplist">
				<!-- shop list S -->
				<li>
					<div class="shopname">
						<strong>武汉名仕装饰设计有限公司</strong>
					</div>
					<div class="col_list">
						<input name="<?=$input_name?>" type="hidden" value="<?=$v_product['id']?>" />
						<input name="num" type="hidden" value="<?=$v_product['num']?>" />
						<!-- list S -->
						<ul class="content clearfix">
							<li class="shop_col_1 clearfix check_product">
								<img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" />
							</li>
							<li class="shop_col_2 pr_desc" style="width:21%;">
								<div class="name">绿诺 NANOLEAF boom LED球灯泡</div>
								<div class="desc">造型奇特新颖、光线明亮柔和、使用方便节能。</div>
							</li>
							<li class="shop_col_3 attribute" style="width:26%;">
								<div>型号：<span>石墨黑1200流明  白光</span></div>
							</li>
							<li class="shop_col_4 align_c" style="width: 10%;">¥<span>534</span></li>
							<!-- <li class="shop_col_5">¥<span></span></li> -->
							<li class="shop_col_6 align_c number">3</li>
							<li class="shop_col_7 align_c" style="width: 17%;">¥<span>534</span></li>
						</ul>
						<!-- list E -->
						<!-- list S -->
						<ul class="content clearfix">
							<li class="shop_col_1 clearfix check_product">
								<img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" />
							</li>
							<li class="shop_col_2 pr_desc" style="width:21%;">
								<div class="name">绿诺 NANOLEAF boom LED球灯泡</div>
								<div class="desc">造型奇特新颖、光线明亮柔和、使用方便节能。</div>
							</li>
							<li class="shop_col_3 attribute" style="width:26%;">
								<div>型号：<span>石墨黑1200流明  白光</span></div>
							</li>
							<li class="shop_col_4 align_c" style="width: 10%;">¥<span>534</span></li>
							<!-- <li class="shop_col_5">¥<span></span></li> -->
							<li class="shop_col_6 align_c number">3</li>
							<li class="shop_col_7 align_c" style="width: 17%;">¥<span>534</span></li>
						</ul>
						<!-- list E -->
					</div>
					<div class="shop_remark clearfix">
						<div class="pull-left">
							<span class="inline">备注留言：</span>
							<input name="remark_<?=$v['id']?>" type="text" class="inline" style="min-width:280px;" value="麻烦发货时候检查质量，今天准时发货~"  />
						</div>
						<div class="pull-right">
						店铺合计（含运费¥10）：¥534
						</div>
					</div>
				</li>
				<!-- shop list E -->

				<!-- shop list S -->
				<li>
					<div class="shopname">
						<strong>武汉名仕装饰设计有限公司</strong>
					</div>
					<div class="col_list">
						<input name="<?=$input_name?>" type="hidden" value="<?=$v_product['id']?>" />
						<input name="num" type="hidden" value="<?=$v_product['num']?>" />
						<!-- list S -->
						<ul class="content clearfix">
							<li class="shop_col_1 clearfix check_product">
								<img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" />
							</li>
							<li class="shop_col_2 pr_desc" style="width:21%;">
								<div class="name">绿诺 NANOLEAF boom LED球灯泡</div>
								<div class="desc">造型奇特新颖、光线明亮柔和、使用方便节能。</div>
							</li>
							<li class="shop_col_3 attribute" style="width:26%;">
								<div>型号：<span>石墨黑1200流明  白光</span></div>
							</li>
							<li class="shop_col_4 align_c" style="width: 10%;">¥<span>534</span></li>
							<!-- <li class="shop_col_5">¥<span></span></li> -->
							<li class="shop_col_6 align_c number">3</li>
							<li class="shop_col_7 align_c" style="width: 17%;">¥<span>534</span></li>
						</ul>
						<!-- list E -->
					</div>
					<div class="shop_remark clearfix">
						<div class="pull-left">
							<span class="inline">备注留言：</span>
							<input name="remark_<?=$v['id']?>" type="text" class="inline" style="min-width:280px;" value="麻烦发货时候检查质量，今天准时发货~"  />
						</div>
						<div class="pull-right">
						店铺合计（含运费¥10）：¥534
						</div>
					</div>
				</li>
				<!-- shop list E -->
			</ul>
			<!-- 确认订单信息 E-->
		</div>
	</div>

	<!-- 确认订单 S -->
	<div class="acountbox">
		<input class="js_addressid" type="hidden" name="address_id" value="" />
		<div class="container pad_lr0 clearfix">
			<div class="pull-right confirm">
				<ul class="clearfix f14">
					<li>应付总额：<span>¥534</span></li>
					<li><input type="submit" class="btn btn-orange ajax-post" target-form="form_generate" value="提交订单" /></li>
				</ul>
			</div>
		</div>
	</div>
	</form>
	<!-- 确认订单 E -->
	<include file="Home@Order/Order/add"/>
</block>
<block name="script">
	<script>
		$(function(){
			$('.js_addressid').val($('.js_address').find('.select').attr('data-id'));

			$('.js_address').on('click','li',function(){
				$(this).addClass('select');
				$(this).siblings().removeClass('select');
				$('.js_addressid').val($(this).attr('data-id'));
			});

			$('.js_set_default');
		});
	</script>
</block>