<!-- 付款成功 S -->
<extend name="Cart/Common/body"/>
<block name="body">
	<div class="container">
		<!-- 购买 Step 4 -->
		<div class="shopbox f14">
			<div class="toptitle clearfix">
				<span class="pull-left">付款成功</span>
			</div>
			<div class="paysuccess clearfix">
				<i class="bg_success" style="background-image: url(__IMG__/pay_success.jpg);"></i>
				<div class="messagebox">
				<?php 
					$tips_msg = '您的订单已生成，包裹正在飞速到达的路上，请耐心等待！';
					if($info['type'] == 1){
						$tips_msg = '充值成功';
					}
				?>
					<div class="wait"><span>老秦</span>，<?=$tips_msg?></div>
					<div class="links clearfix">
					<?php
						if($info['type']=='1'){
					?>
						<a href="<?=U('User/Capital/Capital/record',array('orderid'=>$info['id']))?>" class="detial">查看详情 >></a>
						<a href="<?=U('User/Capital/Capital/recharge')?>" class="btn-orange">继续充值</a>
					<?php
						}else{
					?>
						<a href="<?=U('User/Order/Order/details',array('orderid'=>$info['id']))?>" class="detial">查看订单详情 >></a>
						<a href="<?=U('/Index/index')?>" class="btn btn-sm btn-orange">继续购物</a>
					<?php
						}
					?>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>