<extend name="Cart/Common/body" />
<block name="body">
<!-- 购物车 S-->
<div class="container">
	<!-- cart头部 S-->
	<!--微信支付-->
	<!-- 付款成功 S-->
	<div class="weixin_sw">
		<input class="js_wxpayid" type="hidden" value="<?=$info['id']?>" />
		<input class="js_wxpayurl" type="hidden" value="<?=U('/Pay/order_status')?>" />
		<div class="m_lr_15">
			<div class="weiprice_sw clearfix">
				<div class="pull-left">微信支付</div>
				<p class="pull-right">总价：<span>￥<?=$info['total']-$info['price_reduction']?></span></p>
			</div>
			<div class="border_sw">
				<div class="col-md-6">
					<div class="weixin_box">
						<img src="http://weixin.qq.com/zh_CN/htmledition/images/weixin/qr_url_download0ec594.png" alt="扫一扫">
						<div class="weixin_tip">
							<div>请使用微信扫一扫</div>
							<div>扫描二维码支付</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<img src="__IMG__/phone-bg.png">
				</div>
			</div>
		</div>
	</div>
	<!-- 付款成功 E-->
</div>
<!-- 购物车 E-->
</block>
<block name="script">
<script type="text/javascript">
	$(function() {
		var _id = $('.js_wxpayid').val();
		var _url = $('.js_wxpayurl').val();
		var _time = setInterval(function() {
			$.post(_url, {id:_id}, function(data) {
				if(data.status == 1) {
					clearInterval(_time);
					location.href = data.url;
				}
			})
		}, 1000 * 5)
	});
</script>
</block>