<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left" method="get">
						<input type="text" class="form-control input-sm" style="width: 160px;" placeholder="议事名称" name="keywords" value="<?=$keywords?>">
						<?php
							if(!session('is_owner')){
						?>
						<select name="district_id" class="form-control input-md super_select2" data-placeholder="请选择小区">
							<option value="">请选择小区</option>
							<?=$district?>
						</select>
						<?php }?>
						<select name="is_hid" class="form-control input-sm">
							<option value=''>请选择状态</option>
							<?php 
								if($is_hid == 1){
									$set ="selected='selected'";
								}else{
									$set ='';
								}
								if(is_numeric($is_hid) && $is_hid ==0){
									$set_ls = "selected='selected'";
								}else{
									$set_ls ='';
								}
							?>
							<option value="1" <?=$set?> >禁用</option>
							<option value="0" <?=$set_ls?>>启用</option>
						</select>
						<input type="start_date" style="min-width:auto;width:140px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="开始时间" name="start_date" value="<?=$start_date?>">
						<input type="stop_date" style="min-width:auto;width:140px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="结束时间" name="stop_date" value="<?=$stop_date?>">
						<button type="submit" class="btn btn-default btn-sm" target-form="operate_form">搜索</button>
					</form>
					<div class="pull-right">
					
					<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="2%"><input type="checkbox" class="js_check_all" data-target="ids" value=""></th>
				<th width="26%">议事名称</th>
				<th width="12%">所属小区</th>
				<th width="6%" class="text-right">同意</th>
				<th width="6%" class="text-right">反对</th>
				<th width="6%" class="text-right">弃权</th>
				<th width="8%" class="text-right">总参与</th>
				<th width="10%" class="text-center">截止日期</th>
				<th width="16%" class="text-center">提交时间</th>
				<th width="6%" class="text-center">状态</th>
				<th width="8%" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td><input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$row['id']?>"></td>
				<td><?=$row['title']?></td>
				<td><?=$row['district_title']?></td>
				<td  class="text-right"><?=$row['agree']?></td>
				<td  class="text-right"><?=$row['disagree']?></td>
				<td  class="text-right"><?=$row['abstain']?></td>
				<td  class="text-right"><?=array_sum([$row['agree'],$row['disagree'],$row['abstain']])?></td>
				<td class="text-center">
				<span style="color:<?=(strtotime($row['end_date']) > strtotime(date('Y-m-d')))?'#1db51d':'#e24872'?>;"><?=$row['end_date']?></span>
				</td>
				<td class="text-center"><?=$row['add_time']?></td>
				<td class="text-center"><img src="__IMG__/status_<?=$row['is_hid']?>.png" alt=""></td>
				<td class="text-center">
				<?php
					get_list_btn($menu_info['id'],$row);
				?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>