<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<form action="" method="post" class="js_form">
			<input type="hidden" name="ids" value="<?=$info['id']?>" />
			<div class="control-label">
				<span class="required">*</span>
				序号
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="uid" value="<?=$info['uid']?>" datatype="*1-120" nullmsg="序号" errormsg="序号" placeholder="序号"/>
				<span class="Validform_checktip">1-120个字符</span>
			</div>
			<div class="control-label">
				<span class="required">*</span>
				用户名
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="username" value="<?=$info['username']?>" datatype="*2-120" nullmsg="请输入用户名" errormsg="请输入用户名" placeholder="请输入用户名"/>
				<span class="Validform_checktip">2-120个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				手机号
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="mobile" value="<?=$info['mobile']?>" datatype="*7-11" nullmsg="请输入手机号" errormsg="请输入手机号" placeholder="请输入手机号"/>
				<span class="Validform_checktip">7-11个字符</span>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					小区
				</div>
				<div>
					<select name="district_id" class="form-control width_auto super_select2" data-placeholder="请选择小区" datatype="n" nullmsg="请选择小区" errormsg="请选择小区">
						<option value="">请选择小区</option>
						<?=$pid?>
					</select>
					<span class="Validform_checktip"></span>
				</div>
			</div>
			
			<div class="control-label">
				<span class="required">*</span>
				职位
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="job" value="<?=$info['job']?>" datatype="*1-500" nullmsg="请输入职位" errormsg="请输入职位" placeholder="请输入职位"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					入职时间
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="entry_time" value="<?=substr($info['entry_time'], 0, 10) == '1970-01-01'? '0000-00-00': substr($info['entry_time'], 0, 10)?>" datatype="*10-10" nullmsg="请输入入职时间" errormsg="请输入入职时间" placeholder="请输入入职时间"/>
					<span class="Validform_checktip">格式：2018-01-03</span>
				</div>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				本月天数
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="day_num" value="<?=$info['day_num']?>" datatype="*1-5" nullmsg="请输入出勤天数" errormsg="请输入本月天数" placeholder="请输入本月天数"/>
				<span class="Validform_checktip">1-5个字符</span>
			</div>


			<div class="control-label">
				<span class="required">*</span>
				应出勤天数
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="all_work" value="<?=$info['all_work']?>" datatype="*1-5" nullmsg="请输入应出勤天数" errormsg="请输入应出勤天数" placeholder="请输入应出勤天数"/>
				<span class="Validform_checktip">1-5个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				实际出勤天数
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="in_work" value="<?=$info['in_work']?>" datatype="*1-5" nullmsg="请输入实际出勤天数" errormsg="请输入实际出勤天数" placeholder="请输入实际出勤天数"/>
				<span class="Validform_checktip">1-5个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				基本工资
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="salary" value="<?=$info['salary']?>" datatype="*1-500" nullmsg="请输入基本工资" errormsg="请输入基本工资" placeholder="请输入基本工资"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>


			<div class="control-label">
				<span class="required">*</span>
				绩效
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="achievements" value="<?=$info['achievements']?>" datatype="*1-500" nullmsg="请输入绩效" errormsg="请输入绩效" placeholder="请输入绩效"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				岗位津贴
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="allowance" value="<?=$info['allowance']?>" datatype="*1-500" nullmsg="请输入岗位津贴" errormsg="请输入岗位津贴" placeholder="请输入岗位津贴"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				节日补助
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="subsidy" value="<?=$info['subsidy']?>" datatype="*1-500" nullmsg="请输入节日补助" errormsg="请输入节日补助" placeholder="请输入节日补助"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				加班工资
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="overtime_total" value="<?=$info['overtime_total']?>" datatype="*1-500" nullmsg="请输入加班工资" errormsg="请输入加班工资" placeholder="请输入加班工资"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				预发工资
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="ready_total" value="<?=$info['ready_total']?>" datatype="*1-500" nullmsg="请输入预发工资" errormsg="请输入预发工资" placeholder="请输入预发工资"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				应发工资
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="total" value="<?=$info['total']?>" datatype="*1-500" nullmsg="请输入应发工资" errormsg="请输入应发工资" placeholder="请输入应发工资"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>


			<div class="control-label">
				<span class="required">*</span>
				扣款
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="debit" value="<?=$info['debit']?>" datatype="*1-500" nullmsg="请输入扣款" errormsg="请输入扣款" placeholder="请输入扣款"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="control-label">
				<span class="required">*</span>
				实发工资
			</div>
			<div>
				<input type="text" class="form-control width_auto" name="real_total" value="<?=$info['real_total']?>" datatype="*1-500" nullmsg="请输入实发工资" errormsg="请输入实发工资" placeholder="请输入实发工资"/>
				<span class="Validform_checktip">1-500个字符</span>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					薪资时间
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="salary_time" value="<?=substr($info['salary_time'], 0, 10) == '1970-01-01'? '0000-00-00': substr($info['salary_time'], 0, 10)?>" datatype="*10-10" nullmsg="请输入工资时间" errormsg="请输入工资时间" placeholder="请输入工资时间"/>
					<span class="Validform_checktip">格式：2018-01-03</span>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					备注
				</div>
				<div>
					<textarea class="form-control width_auto" name="remark"/>
						<?=trim($info['remark'])?>
					</textarea>
				</div>
			</div>

			<div class="form-btn clearfix">
				<input type="submit" class="pull-left btn btn-primary" value="提交" />
				<a href="<?=U('index')?>" class="pull-left btn btn-default">取消返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
		
		</form>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>
