<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left clearfix" method="get">
						<input type="search" class="form-control input-sm" placeholder="订单号" name="keywords" value="<?=$keywords?>">
						<input type="search" class="form-control input-sm" placeholder="转出账户" name="from_member" value="<?=$from_member?>">
						<input type="search" class="form-control input-sm" placeholder="转入账户" name="to_member" value="<?=$to_member?>">
						
						<select name="type" class="form-control input-sm">
							<option value="">请选择类型</option>
							<?=array_to_select($type_list,I('type'), array('field'=>array('self' => 'r_value'),'prefix'=>''))?>
						</select>
						<select name="status" class="form-control input-sm">
							<option value="">请选择状态</option>
							<?=array_to_select($status_list,I('status'), array('field'=>array('self' => 'r_value'),'prefix'=>''))?>
						</select>
						<input type="start_date" style="min-width:auto;width:110px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="开始时间" name="start_date" value="<?=$start_date?>">
						<input type="stop_date" style="min-width:auto;width:110px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="结束时间" name="stop_date" value="<?=$stop_date?>">
						<input type="submit" class="btn btn-default btn-sm" value="搜索" />
					</form>
					<div class="pull-right">
						<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="100">类型</th>
				<th width="140" class="text-center">订单号</th>
				<th width="100" class="text-center">转出账户</th>
				<th width="100" class="text-center">转入账户</th>
				<th class="text-center">金额</th>
				<th width="80" class="text-center">状态</th>
				<th width="100" class="text-center">时间</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td>
					<?=$type_list[$row['type']]['title']?>
				</td>
				<td class="text-center">
					<?=$row['order_no']?>
				</td>
				<td>
					<?=$row['from_mobile']?></br>
					<?=$row['from_nickname']?>
				</td>
				<td>
					<?=$row['to_mobile']?></br>
					<?=$row['to_nickname']?>
				</td>
				<td class="text-center">
					<?=$row['money']?>
				</td>
				<td class="text-center">
					<?=$status_list[$row['status']]['title']?>
				</td>
				<td class="text-center">
					<?=$row['add_time']?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
</block>