<extend name="Public/body"/>
<block name="body">
<div class="main">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="80" class="text-right clearfix">
					<div class="pull-right">
						<?=get_top_btn($menu_info['id'],I('pid'))?>
						<a href="<?=U('index')?>" class="btn btn-sm btn-default" title="返回广告位">返回广告位</a>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th class="text-center" width="20"><input type="checkbox" class="js_check_all" data-target="ids" value=""></th>
				<th>图片/代码</th>
				<th>名称</th>
				<th>链接</th>
				<th class="text-center" width="180">起止时间</th>
				<th class="text-center" width="50">状态</th>
				<th width="38" class="text-center">操作</th>
			</tr>
			<?php
				foreach($_list as $row){
					if($row['type']=='code'){
						$content=$row['content'];
					}else{
						$content='<img src="'.thumb($row['save_path']).'" />';
					}
			?>
			<tr>
				<td class="text-center"><input type="checkbox" data-child="ids" class="ids" name="ids[]" value="<?=$row['id']?>"></td>
				<td><?=$content?></td>
				<td><?=$row['title']?></td>
				<td><?=$row['url']?></td>
				<td class="text-center"><?=reset(explode(' ',$row['start_time']))?> - <?=reset(explode(' ',$row['end_time']))?></td>

				<td class="text-center">
					<img src="__IMG__/status_<?=$row['is_hid']?>.png" alt="">
				</td>
				<td class="text-center">
					<?php
						get_list_btn($menu_info['id'],$row);
					?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	
	<div class="page">
		<?=$page?>
	</div>
</div>

<script>
	$('#site_city').change(function(){
		$('#js_site').submit();
	});
</script>

</block>