<extend name="Common/body"/>
<block name="body">
<?php
	/*获取状态对应记录*/
	$temp = get_no_del('state_map','');
	$state = array();	foreach($temp as $row){
		$state[$row['r_table']][$row['r_field']][$row['r_value']] = $row;
	}
?>
	<div class="search_bar">
		<form class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="tradeNum" placeholder="交易号" name='deal_no' value="<?=I('deal_no')?>">
			</div>
			<div class="form-group">
				<select class="form-control" name='type'>
					<option value="">类型</option>	
				<?php 
					foreach($state['capital_record']['type'] as $k=>$v){
				?>
					<option value="<?=$k?>" <?=($k==I('type'))?'selected="selected"':''?> ><?=$v['title']?></option>
				<?php 
					}
				?>
				</select>
		  	</div>
		  	<div class="form-group">
			    <input type="text" placeholder="开始时间" name='s_addtime' onclick="WdatePicker({maxDate:'Now'})"  class="form-control" value="<?=I('get.s_addtime')?>">
		  	</div>
		  	<div class="form-group">
			    <input type="text" placeholder="结束时间" name='e_addtime' onclick="WdatePicker({maxDate:'Now'})" class="form-control" value="<?=I('get.e_addtime')?>">
		  	</div>
		  	<div class="form-group">
			    <input type="submit" value="搜索" class="form-control danger_btn">
		  	</div>
		  	<div class="form-group">
			    <a href="<?=U('index')?>"><input type="button" value="重置" class="form-control danger_btn"></a>
		  	</div>
		</form>
	</div>
	<div class="table-responsive ie_mart15">
		<table class="table record_table">
			<thead>
				<tr>
					<th class="col-sm-2">交易时间</th>
					<th class="col-sm-2">金额</th>
					<th class="col-sm-2">类型</th>
					<th class="col-sm-4">备注</th>
					<th class="col-sm-2">状态</th>
					<!-- <th class="col-sm-2 text-center">操作</th> -->
				</tr>
			</thead>
			<tbody>
			<?php 
				foreach($list as $v){
			?>					
				<tr>
					<td class="col-sm-2"><?=$v['add_time']?></td>
					<?php 
						if($v['to_member_id']==session('member_id')){
							$fuhao= '+';
							$color="add_money";
						}else{
							$fuhao='-';
							$color="reduce_money";
						}
						if(in_array($v['status'],[10,41,42,49])){
							$color="";
						}
					?>
					<td class="col-sm-2 <?=$color?>"><?=$fuhao.$v['money']?></td>
					<td class="col-sm-2"><?=$state['capital_record']['type'][$v['type']]['title']?></td>
					<td class="col-sm-4">
						<ul>
							<li>订单号：<?=$v['order_no']?></li>
						<?php 
							if($v['deal_no']){
						?>							
							<li>交易号：<?=$v['deal_no']?></li>
						<?php 
							}
						?>
							<li><?=$v['type_text']?></li>
						</ul>
					</td>
					<td class="col-sm-2"><?=$state['capital_record']['status'][$v['status']]['title']?></td>
				</tr>
				<?php 
					}
				?>	
			</tbody>
		</table>
		<div class="pages text-center">
			<?=$page?>
		</div>
	</div>	
</block>
<block name="script">
<script>
	$(function(){
		$('.toggle_btn').click(function(){
			$(this).siblings('.details_list').stop().slideToggle();
			$(this).toggleClass('on');
			var offTxt = "显示全部";
			var onTxt = "隐藏";
			if($(this).hasClass('on')){
				$(this).text(onTxt);
			}else {
				$(this).text(offTxt);
			}
		})
		
	})
</script>
</block>