<extend name="Home@Common/body"/>
<block name="body">
<?php
	$info['up']['value'] = '没有了';
	$info['down']['value'] = '没有了';
	if($info['up']['id']){
		$info['up']['value'] = '<a href="' . U('',array('id' => $info['up']['id'])) . '">' . $info['up']['title'] . '</a>';
	}
	if($info['down']['id']){
		$info['down']['value'] = '<a href="' . U('',array('id' => $info['down']['id'])) . '">' . $info['down']['title'] . '</a>';
	}
?>
	<div class="com_nav">
		<ul class="container list-unstyled list-inline">
			<li><a href="__ROOT__">首页</a></li>
			<li><a href="<?=U('index')?>">新闻中心</a></li>
			<li class="li_active"><a href="javascript:;"><?=$info['title']?></a></li>
			<li class="pull-right"><a href="<?=U('index')?>">&larr;返回列表页</a></li>
		</ul>
	</div>
<div class="container clearfix about_index article_details">
	<!-- 第二板块 S -->
	<div class="details_center">
		<div class="clearfix details_con">
			<div class="col-xs-8">
				<div class="details_title text-center">
					<h2 class="f26"><?=$info['title']?></h2>
					<p class="f16"><?=date('Y.m.d H:i:s',$info['add_time'])?></p>
				</div>
				<div class="art_details_con">
					<?=$info['content']?>
				</div>
				<div class="pages_div f16">
					<p>上一篇：<?=$info['up']['value'];?></p>
					<p>下一篇：<?=$info['down']['value'];?></p>
				</div>
			</div>
			<div class="col-xs-4 pull-right right_hot">
				<include file="recommend" />
			</div>
		</div>
	</div>
	<!-- 第二版快 E -->
</div>


</block>

<block name="script">
<script>
$(function(){
	


})
</script>
</block>