<extend name="Home@Common/body"/>
<block name="style">
</block>
<block name="body">
	<div class="com_nav">
		<ul class="container list-unstyled list-inline">
			<li><a href="__ROOT__">首页</a></li>
			<li class="li_active"><a href="javascript:;">新闻中心</a></li>
		</ul>
	</div>
	<div class="container clearfix">
	<!-- 资讯列表 S -->
		<div class="article_list">
<?php
	foreach($list as $row){
		if(file_exists($row['cover'])){
?>
			<div class="media">
				<div class="media-left">
					<a href="<?=U('detail', array('id'=>$row['id']))?>" title="<?=$row['title']?>">
						<img class="media-object" src="<?=thumb($row['cover'],160,100)?>" alt="<?=$row['title']?>">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="<?=U('detail', array('id'=>$row['id']))?>" class="f20" title="<?=$row['title']?>"><?=$row['title']?></a>
					</h4>
					<div class="f16"><?=msubstr($row['content'],0,120)?></div>
					<div class="media_foot">
						<div class="article_time f16"><?=date('Y.m.d',strtotime($row['add_time']))?></div>
					</div>
				</div>
			</div>
<?php
		}
		else{
?>
			<div class="media">
				<h4 class="media-heading">
					<a href="<?=U('detail', array('id'=>$row['id']))?>" class="f20" title="<?=$row['title']?>"><?=$row['title']?></a>
				</h4>
				<p class="f16"><?=msubstr($row['content'],0,200)?></p>
				<div class="article_time f16"><?=date('Y.m.d',strtotime($row['add_time']))?></div>
			</div>
<?php
		}
	}
?>
			<!-- 翻页 S -->
			<div class="pages text-center">
				<?=$page?>
			</div>
			<!-- 翻页 E -->
		</div>
		<!-- 资讯列表 E -->
	</div>


</block>

<block name="script">
<script>
$(function(){

	$(".js_nav_div").on("click","a",function(){
		var _this=$(this);
		_this.parent().addClass('click_td').siblings().removeClass('click_td');
		
	})


})
</script>
</block>