
@charset "utf-8";

/* CSS Document */

body,
div,
img,
ul,
li,
table,
a,
p,
input,
textarea,
h3,
h1 {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
textarea {
    width: 100%;
    color: #666;
    font-family: 'Heiti SC', arial, tahoma, 'Microsoft Yahei', '\5b8b\4f53', sans-serif;
    text-align: left;
}
body a:hover,body a:focus{ text-decoration: none }

a,
img,
div {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

input,
textarea {
    outline: none
}

a:foucs,
a:hover {
    text-decoration: none;
    color: auto
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.transition5 {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.transition10 {
    -moz-transition: all 1s ease 0.2s;
    -webkit-transition: all 1s ease 0.2s;
    -o-transition: all 1s ease 0.2s;
    -ms-transition: all 1s ease 0.2s;
    transition: all 1s ease 0.2s;
}

.transition3 {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mark{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

/*外部容器*/
.pull-left{ float: left; }
.pull-right{ float: right; }

html{font-size:calc(100vw/7.5) }
body{ font-size: 0.28rem; background: #fff; }
body{ background:#F3F3F3;}

.banner_stage {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.imglist_3d {
    height: 100%;
    position: relative;
    left: -100%;
}

.imglist_3d li {
    position: relative;
    float: left;
    height: 100%;
    width: 7.5rem;
    background-size: auto 100%;
    background-position: center center;
    overflow:hidden; 
}


.imglist_3d li img {
    position: inherit;
    margin-left: 0;
    width: 100%; height: 100%
}
.banner_btn {
    overflow: hidden;
    position: absolute;
    bottom: 0.16rem;
    width: 100%;
    text-align: center;
}

.banner_btn li {
    display: inline-block;
    width: 0.26rem;
    height: 0.06rem;
    background: #9F968F;
    border-radius: 0.04rem;
    margin-left: 0.07rem;
}

.banner_btn .active {
    background: #fff
}


/*商品详情*/
.bg_fff{ background: #fff }
.banner_stage_d { height: 6rem; top: 0px; }
.banner_stage_d .num_btn{ display: inline-block; height: 0.50rem; position: absolute; right: 0.12rem; bottom: 0.2rem; z-index: 50; width:1rem;  border-radius: 0.50rem; line-height: 0.50rem; background: rgba(0,0,0,0.3); font-size: 0.24rem; color: #fff; text-align: center; }
.banner_stage_d .num_btn span{ color: #fff; }
.banner_btns{ position: absolute; width: 100%; text-align: center; left: 0; bottom: 5px; z-index: 20; height: 20px; line-height: 20px; }
.banner_btns a{ display: inline-block; margin: 0 5px; width:0.12rem; height: 0.12rem; border-radius: 0.30rem; background:rgba(255,255,255,0.7);   }
.banner_btns a.active{ background:#FBC501  }
.details_info{ padding: 0 0.3rem; margin-bottom: 5px; }
.details_info .tt{ font-size: 0.28rem; padding-top: 0.3rem; color: #333; font-weight: bold; }
.details_info .description{ font-size:0.24rem; line-height: 0.34rem; color: #666;padding-top: 0.1rem;  }
.details_info .price{ padding-top:0.3rem; padding-bottom: 0.35rem; color: #FF5337; font-size: 0.20rem; line-height: 0.3rem   }
/*.details_info .price span{ float: right; color: #ccc; font-size: 0.28rem; }*/
.details_info .price b{ font-size:0.4rem}

.pro_btns{ height:0.88rem; border-bottom: 1px solid #f3f3f3;}
.pro_btns a{ display: block; width: 50%; float: left; height: 0.88rem; line-height: 0.88rem; position: relative; color: #656565; font-size: 0.3rem; text-align: center;  }
.pro_btns a span{ display: block; width: 0; margin: 0 auto; margin-top: -0.1rem; height:2px; border-radius: 2px; background: #007DE4; transition: 0.3s; -webkit-transition: 0.3s; }
.pro_btns a.active{ color:#007DE4  }
.pro_btns a.active span{ width: 0.3rem;}
.pro_tab{ display: none; }
.pro_tab_show{ display: block; }


.detail_div{ padding:0.25rem 0.3rem; font-size: 0.28rem; color:#272822; line-height:0.46rem;    }
.detail_div img{ max-width: 100%; height: auto!important }
.comment_div .box{padding: 0.25rem 0.3rem; padding-bottom: 0.4rem;  margin-bottom: 5px; }
.comment_div .box .img{ width: 0.6rem; height: 0.6rem; border-radius: 100%; overflow: hidden; float: left; margin-right:0.15rem; }
.comment_div .box .img img{ width:100%; display: block;   }
.comment_div .box .u_img span{ font-size:0.26rem; color: #333333; line-height: 0.62rem;  }
.comment_div .box .content{ font-size: 0.24rem; color:#333333; line-height: 0.36rem; padding:0.15rem 0;   }


.comment_div .box .imgs.imgs1 .img_box{ width: 100%;  }
.comment_div .box .imgs .img_box{ overflow: hidden;margin-bottom: 10px;  }
.comment_div .box .imgs .img_box img{ width: 100%; }


.comment_div .box .imgs.imgs2{ margin-right: -0.2rem; }
.comment_div .box .imgs.imgs2 .img_box{ width:2.8rem; height:2.1rem;margin-right: 0.2rem;  float: left;margin-bottom: 10px;  }

.comment_div .box .imgs.imgs3{ margin-right: -0.24rem; }
.comment_div .box .imgs.imgs3 .img_box{ width:1.82rem; height:1.36rem;margin-right: 10px; margin-bottom: 10px;  float: left; }
.comment_div .box .re_answer{ padding:0.3rem; font-size: 0.24rem; color: #656565 ; background: #F3F3F3; margin-top: 0.1rem; }
.comment_div .box .re_answer .tt{ line-height: 0.42rem; margin-top: -0.1rem; }
.comment_div .box .re_answer .re_con{ line-height: 0.2rem }


/*帖子*/
.tiezi_div{ padding:0.27rem 0.32rem; margin-bottom: 1px;}
.tiezi_div .img{ width:0.76rem; height: 0.76rem; border-radius: 0.76rem; overflow: hidden; float: left; margin-right:0.15rem;   }
.tiezi_div .img img{ display: block; width: 100%; height: 100%; }
.tiezi_div .text{ float: left; line-height: 0.38rem; padding-top: 0.05rem;  }
.tiezi_div .text .name{ font-size:0.26rem; color: #333333;  }
.tiezi_div .text .bk{ color:#07CD95; font-size: 0.22rem;  }
.tiezi_div .time{ font-size:0.22rem; color: #999999; float: right; margin-top: 0.45rem;  }
.tz_detail{ padding: 0.32rem; }
.tz_detail .tt{ font-size: 0.32rem; color: #333; }
.tz_detail .content{ font-size: 0.26rem; line-height:0.46rem; padding:0.3rem 0;   }
.tz_detail .content img{ max-width: 100%; height: auto!important; margin: 0.1rem 0 }
.comment_tt{ line-height:0.98rem; line-height: 0.98rem; margin: 1px 0; font-size: 0.3rem; color: #000; padding: 0 0.32rem;}
.comment_tt .tj{ color:#CBCBCB; font-size: 0.26rem;  }
.comment_tt .tj span{ color: #666 }

.comment_div_tz .u_img{  float: left; }
.comment_div_tz .u_img .img{width: 0.76rem; height: 0.76rem; border-radius: 0.76rem;  }
.comment_div_tz .right_div{ overflow: hidden; }
.comment_div_tz .right_div .infos_div{  padding-top: 0.08rem; }
.comment_div_tz .right_div .infos_div .n{ line-height:0.4rem; font-size:0.26rem; color: #333 }
.comment_div_tz .right_div .infos_div .n span{ float: right; }
.comment_div_tz .right_div .infos_div .t{ font-size: 0.22rem; color: #999999 }

.text_detail{ padding: 0.35rem 0.3rem; font-size:0.28rem; line-height:0.34rem;   }
.text_detail img{ max-width: 100%; height: auto!important; margin: 0.1rem 0 }