<!--请在新打开的页面完成付款 S -->
<div class="subbox clear">
	<i class="iconfont"><img src="__STATIC__/img/icon_tips.png" alt=""></i>
	<div class="message">
		<strong>请在新打开的页面完成付款</strong>
		<div class="promot_tips">
			<div>付款完成前请不要关闭此窗口。</div>
			<div>完成付款后请根据您的情况点击下面的按钮：</div>
		</div>
		<div class="links clearfix">
			<a href="<?=U('User/Capital/Record/index')?>" class="btn btn-default">已完成付款</a>
			<a href="<?=U('')?>" class="btn btn-orange">付款遇到问题</a>
		</div>
		<a href="#" class="btn-sm" data-id="cancel">返回选择其他付款方式</a>
	</div>
</div>