<extend name="Public/body" />
<block name="body">
	<style>
		.showBigImgBox {
			display: none;
			position: fixed;
			z-index: 10;
			top:0;
			background-color: rgba(0,0,0,0.5);
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.showBigImgBox img {
			/*margin-left: 30%;*/
		}
	</style>
	<div class="box box-body">
		<table class="table table-bordered">
			<tbody><tr>
				<th colspan="20" class="clearfix" style="background:#eee">
					报销详情
				</th>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					小区名称：<?=$district[0]['title']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					用户名：<?=$info['username']?> 
				</td>
			</tr>		
			<tr>
				<td class="text-left" colsplan="2">
					报销类型：<?=$status[$info['type']]['remark']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					报销事由：<?=$info['reason']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					报销时间：<?=substr($info['occur_time'], 0, 10)?>
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					费用：<?=$info['cost']?> 
				</td>
			</tr>				
			<tr>
				<td class="text-left" colsplan="2">
					<div class="row" >
				      <div class="col-xs-6 col-md-3">
				        <a href="javascript:;" class="thumbnail">
				            <?php
								foreach($info['images'] as $row){
						    ?>
				          		<img data-src="holder.js/100%x358" alt="100%x358" style="height: 358px; width: 100%; display: block;" src="<?=thumb($row['image'], $row['width'], $row['height'], 'M')?>" data-holder-rendered="true">
				            <?php
				          		}
				            ?>
				        </a>
				      </div>
    				</div>
				</td>
			</tr>
	    	</tbody>
    	</table>
		<div class="form-btn clearfix">
			<a href="<?=U('index',I())?>" class="pull-left btn btn-default">返回</a>
			<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
				<span class="js_tipContent Validform_checktip"></span>
			</div>
		</div>
		<div class="showBigImgBox">
			<img class="showBigImg" src="">
		</div>
	</div>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(function(){
		$(".thumbnail").find("img").click(function(){
			$(".showBigImgBox").fadeIn()
			$(".showBigImg").attr("src", $(this).attr("src"))
			console.log($(".showBigImg").width())
		})

		$(".showBigImgBox").click(function(){
			$(".showBigImgBox").fadeOut()
		})
	})
	</script>
</block>