<extend name="Common/body"/>
<block name="body">
	<div class="person_top clearfix">
		<div class="person_left pull-left" style="width:64%;">
			<div class="bg mob_ld15 clearfix">
				<div class="col-xs-3">
					<a href="<?=U('User/Order/Order/index')?>">
					<i class="order_icon"></i>
					我的订单 <span><?=($order_nums)?$order_nums:0?></span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="<?=U('User/Collect/Collect/product')?>">
					<i class="collect_icon"></i>
					我的收藏 <span><?=($collect_nums)?$collect_nums:0?></span>
					</a>
				</div>
			</div>	
		</div>
		<div class="person_right pull-right" style="width:35%;">
			<div class="top_bg">
				<div class="bottom_bg clearfix">
					<i class="col-xs-4 money_icon"></i>
					<div class="money col-xs-7 clearfix">
						当前余额
						<div class="clearfix">
							<div class="price pull-left">¥<?=$member_info['balance']?></div>
							<div class="money_manage pull-right">
								<a href="<?=U('User/Capital/Recharge/index')?>">充值</a>
								<a href="<?=U('User/Capital/Withdraw/index')?>">提现</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?=W('Seller/Order/index',array('type'=>'member_id'))?>
</block>