<extend name="Common/body"/>
<block name="style">
<script>
var cur_url="<?=U('User/Collect/Collect/product')?>";
</script>
</block>
<block name="script">
</block>
<block name="head_change">
<?php
$crumbs="收藏的商品";
$crumbs_array[]=array("title"=>"个人中心","url"=>U("User/Index/Index/"));
$crumbs_array[]=array("title"=>"商品收藏","url"=>U("product"));
?>
</block>
<block name="body">
	<div class="collect_title clearfix">
	<form action="<?=U('')?>" method="post" style="height:auto;">
		<div class="form-inline pull-left">
			<input type="text" placeholder="商品名" class="input form-control code_input" value="<?=trim(I('kewords'))?>" name='kewords'>
			<input type="submit" class="code_btn btn btn-default" value="搜索">
		</div>
	</form>		
<?php if($list){?>			
		<ul class="pagination pull-right">
		<?php 
				$p=(intval(I('get.p')))?intval(I('get.p')):1;
				if($p>1){
					$_last['p']=$p-1;
					$url_last=U('',$_last);
				}else{
					$url_last="javascript:void(0)";
				}
				if($p<$page_count){
					$_next['p']=$p+1;
					$url_next=U('',$_next);
				}else{
					$url_next="javascript:void(0)";
				}
?>
			 <li>
		        <a href="<?=$url_last?>" aria-label="Previous">
		        	<span aria-hidden="true">&laquo;</span>
		        </a>
		    </li>			  
		    <li>
		        <a href="<?=$url_next?>" aria-label="Next">
		        	<span aria-hidden="true">&raquo;</span>
		        </a>
		    </li>
		</ul>
		<span class="pull-right page_label">共<strong><?=$count?></strong>个商铺 <strong><?php echo intval(I('p'))?intval(I('p')):'1';?>/<?=$page_count?></strong>
		</span>
<?php }?>
	</div>
	<!-- 收藏列表 S -->
	<div class="product_box js_collect clearfix">
		<div class="row ie_mar_15">
<?php if($list){?>
<?php foreach($list as $v){?>
			<!-- list -S -->
			<div class="log_list" data-id="<?=$v['id']?>">
				<div class="cover">
					<a href="<?=U('Mall/Product/Index/detail',array('id'=>$v['product_id']))?>">
						<img src="<?=_thumb($v['cover'],218,218)?>" width="100%" height="218" alt="">
					</a>
				</div>

				<div class="footer clearfix" >
					<h6 class="ellipsis" style="margin-top: 10px;">
						<a href="<?=U('Mall/Product/Index/detail',array('id'=>$v['product_id']))?>"><?=msubstr($v['title'],15)?></a>
					</h6>
					<div class="color_9"><span class="hover">¥268</span> <span class="star"><div class="star star_cur" style="width:<?=$v['star_rating']*20?>%"></div></span>（<?=$v['star_rating']*20?>）</div>
				</div>
			</div>
			<!-- list -E -->
<?php }}else{?>
		<tr>
			<td colspan="5" style="background:#fff;"><include file="Common@Plugins/nodata" text="没有找到已收藏的商品" sumbt='' url=""/></td>
		</tr>
<?php }?>
		</div>
	</div>
	<!-- 收藏列表 E -->
	<!-- 分页 S-->
	<include file="Home@Common/page" />
	<!-- 分页 E-->
</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$(".js_collect .log_list").hover(function(){
		var cur_id=$(this).attr("data-id");
		if($(this).find(".collect_box").length>0){
			$(this).find(".collect_box").stop(true).fadeIn(100);
		}else{
			$(this).append('<div class="collect_box" style="display:none;"><a href="__ROOT__/Mall/Base/Collect/cancel/type/3/id/'+cur_id+'" class="ajax-get btn btn-orange">取消收藏</a></div>');
			$(this).find(".collect_box").stop(true).fadeIn(100);
		}
	},function(){
		$(this).find(".collect_box").stop(true).fadeOut(100);
	})
})
</script>
</block>