<form class="js_form" action="<?=U('add')?>" method="post" style="width:600px;padding:0 100px;">
	<input type='hidden' name='id' value='<?=$info['id']?>'>
	<label class="form-group clearfix">
		<div class="col-xs-3 control-label">开户人：</div>
		<div class="col-xs-9">
			<input type="text" name="username" class="form-control" datatype="*1-20" placeholder="请输入开户人" nullmsg="请输入开户人姓名" errormessage="开户人姓名字数为1~20个字符" value="<?=$info['username']?>">
			
		</div>
	</label>
	<label class="form-group clearfix">
		<div class="col-xs-3 control-label">银行名称：</div>
		<div class="col-xs-9">
			<select name="bank_id" class="form-control" datatype="*" nullmsg="请选择银行" errormsg="请选择银行">
				<option value="">选择银行</option>
				<?php 
					foreach($bank as $v){
				?>
				<option <?php if($info['bank_id']==$v['id']){echo "selected='selected'";}?> value="<?=$v['id']?>"><?=$v['title']?></option>
				<?php 
					}
				?>				
			</select>
			
		</div>
	</label>
	<label class="form-group clearfix">
		<div class="col-xs-3 control-label">银行卡号：</div>
		<div class="col-xs-9">
			<input type="text" name="account" class="form-control" datatype="n16-19" placeholder="请输入银行卡号" nullmsg="请输入银行卡号" errormessage="银行卡号为16到19位" value="<?=$info['account']?>">
		</div>
	</label>
	<label class="form-group clearfix">
		<div class="col-xs-3 control-label">开户支行：</div>
		<div class="col-xs-9">
			<input type="text" name="bank_adress" class="form-control" datatype="*1-50" errormessage="开户支行不超过50个字符" placeholder="请输入开户支行" nullmsg="请输入开户支行，长度小于50个字符" value="<?=$info['bank_adress']?>">
		</div>
	</label>
	<div style="height:25px;">
		<div style="" class="js_validTips"><span class="js_tipContent Validform_checktip"></span></div>
	</div>
	<label class="form-group text-center clearfix">
		<input class="btn btn-orange" type="submit" style="width:200px;" value="保存" />
	</label>

</form>

<script type="text/ecmascript">
$(function(){
	$(".js_form").super_validform();
})
</script>