<extend name="Public/body" />
<block name="body">
	<section class="content">
		<!-- 基本信息 S -->
		<?php 
			$district = get_no_hid('district','add_time desc');
			$district_id = session('district_id');
		?>
		<div class="control-label">
		<h1><?=$district[$district_id]['title']?></h1>
		<!-- 基本信息 E -->
		</div>

		<div>
			<div class="<?=$owner == 2?'':'hide'?>">
				<div >
					<div >
						<div >
							<!-- 报表图  -->
							<div id="echarts2" style="height:340px;"></div>
							
						</div>
					</div>
				</div>

				<div >
					<div>
						<div style="margin-left: 70%">
							<form action="<?=U('index');?>" class="form-inline pull-left" method="get">

								<select name="district_id" class="form-control input-sm">
									<option value="">请选择小区</option>
									<?=$pid?>
								</select>
								
								<select name="year" class="form-control input-md super_select2" data-placeholder="请选择年份">
									<option value="">请选择年份</option>
									<option value="<?=date('Y')?>"><?=date('Y')?></option>
									<option value='<?=date("Y",strtotime("-1 year"))?>'><?=date("Y",strtotime("-1 year"))?></option>
									<option value='<?=date("Y",strtotime("-2 year"))?>'><?=date("Y",strtotime("-2 year"))?></option>
								</select>

								<select name="month" class="form-control input-md super_select2" data-placeholder="请选择月份">
									<option value="">请选择月份</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									
								</select>
								
								<button type="submit" class="btn btn-default btn-sm" target-form="operate_form">确定</button>
							</form>
						</div>
						<div >
							<!-- 报表图  -->
							<div id="echarts6" style="height:340px;"></div>
						</div>
					</div>
				</div>

				<!-- <div style="margin-top: 20px">
					<div >
						<div >
							
							<div id="echarts4" style="height:340px;"></div>
						</div>
					</div>
				</div> -->

				<div style="margin-top: 40px">
					<div >
						<div >
							<!-- 报表图  -->
							<div id="echarts5" style="height:340px;"></div>
							
						</div>
					</div>
				</div>

				<div class="row" style="margin-top: 60px">
					<div class="col-md-6">
						<div class="chart">
							<!-- 报表图  -->
							<div id="echarts7" style="height:340px;"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="chart">
							<!-- 报表图  -->
							<div id="echarts8" style="height:340px;"></div>
						</div>
					</div>
				</div>
			</div>	

			<div class="row" style="margin-top: 80px">
				<div class="col-md-6">
					<div class="chart">
						<!-- 报表图  -->
						<div id="echarts1" style="height:340px;"></div>
					</div>
				</div>
				<div class="col-md-6">
					<!-- 最新订单 S -->
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">最新注册</h3>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table no-margin">
									<thead>
									<tr>
										<th>手机号</th>
										<th>姓名</th>
										<th>注册地区</th>
										<th>注册时间</th>
									</tr>
									</thead>

									<tbody>
										<?php foreach($near_register as $row){ ?>
											<tr>
												<td><a href="<?=U('Backend/Member/Member/detail',array('ids'=>$row['id']))?>"><?=$row['mobile']?></a></td>
												<td><?=$row['username']?></td>
												<td><?=ip_to_location($row['register_ip'])?></td>
												<td><?=$row['register_time']?></td>
											</tr>
										<?php } ?>
									</tbody>
								</table>
							</div>
						</div>
						<div class="box-footer clearfix">
							<a href="<?=U('Backend/Member/Member/index')?>" class="btn btn-sm btn-default btn-flat pull-right">查看所有</a>
						</div>
					</div>
					<!-- 最新订单 E -->
				</div>
			</div>
		</div>
	</section>
	<js href="__PLUGIN__/echarts/echarts.js" />
	<script type="text/javascript">

	//会员等级统计
	var myChart1 = echarts.init(document.getElementById('echarts1'));
	var option1 = {
	    title : {
	        text: '用户类型统计',
	        subtext: '',
	        x:'center'
	    },
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        orient : 'vertical',
	        x : 'left',
	        data: <?=json_encode(array_filter(array_column($member_level_count,'name')))?>
	    },
	    calculable : true,
	    series : [
	        {
	            name:'人数',
	            type:'pie',
	            radius : '50%',
	            center: ['50%', 225],
	            data:<?=json_encode($member_level_count)?>
	        }
	    ]
	};
	myChart1.setOption(option1);
	</script>

	<script type="text/javascript">

	//会员等级统计
	var myChart7 = echarts.init(document.getElementById('echarts7'));
	var option1 = {
	    title : {
	        text: '收入类型统计表',
	        subtext: '',
	        x:'center'
	    },
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        orient : 'vertical',
	        x : 'left',
	        data: <?=json_encode(array_filter(array_column($income_total,'name')))?>
	    },
	    calculable : true,
	    series : [
	        {
	            name:'金额',
	            type:'pie',
	            radius : '50%',
	            center: ['50%', 225],
	            data:<?=json_encode($income_total)?>
	        }
	    ]
	};
	myChart7.setOption(option1);
	</script>

	<script type="text/javascript">

	//会员等级统计
	var myChart8 = echarts.init(document.getElementById('echarts8'));
	var option1 = {
	    title : {
	        text: '支出类型统计表',
	        subtext: '',
	        x:'center'
	    },
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        orient : 'vertical',
	        x : 'left',
	        data: <?=json_encode(array_filter(array_column($pay_total,'name')))?>
	    },
	    calculable : true,
	    series : [
	        {
	            name:'人数',
	            type:'pie',
	            radius : '50%',
	            center: ['50%', 225],
	            data:<?=json_encode($pay_total)?>
	        }
	    ]
	};
	myChart8.setOption(option1);
	</script>

	<script type="text/javascript">
    //物业服务
	var myChart2 = echarts.init(document.getElementById('echarts2'));
	// 指定图表的配置项和数据
    

	option = {
	    color: ['#003366', '#e5323e', '#006699', '#e5323e', '#4cabce'],
	    tooltip: {
	        trigger: 'axis',
	        axisPointer: {
	            type: 'shadow'
	        }
	    },
	    
	    title: {
	        text: '物业服务信息表'
	    },
	    
	    legend: {
	        data: <?=json_encode(array_filter(array_column($property_service_count,'name')))?>
	    },
	    toolbox: {
	        show: true,
	        orient: 'vertical',
	        left: 'right',
	        top: 'center',
	        feature: {
	            mark: {show: true},
	            dataView: {show: true, readOnly: false},
	            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
	            restore: {show: true},
	            saveAsImage: {show: true}
	        }
	    },
	    calculable: true,
	    xAxis: [
	        {
	            type: 'category',
	            axisTick: {show: false},
	            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
	        }
	    ],
	    yAxis: [
	        {
	            type: 'value'
	        }
	    ],
	    series: [
	        {
	            name: <?=json_encode(array_filter(array_column($property_service_count,'name'))[0])?>,
	            type: 'bar',
	            data: <?=json_encode(array_filter(array_column($property_service_count,'value'))[0])?>
	        },
	        {
	            name: <?=json_encode(array_filter(array_column($property_service_count,'name'))[1])?>,
	            type: 'bar',
	            data: <?=json_encode(array_filter(array_column($property_service_count,'value'))[1])?>
	        },
	        {
	            name: <?=json_encode(array_filter(array_column($property_service_count,'name'))[2])?>,
	            type: 'bar',
	    
	            data: <?=json_encode(array_filter(array_column($property_service_count,'value'))[2])?>
	        },
	        {
	            name: <?=json_encode(array_filter(array_column($property_service_count,'name'))[3])?>,
	            type: 'bar',
	    
	            data: <?=json_encode(array_filter(array_column($property_service_count,'value'))[3])?>
	        },
	        {
	            name: <?=json_encode(array_filter(array_column($property_service_count,'name'))[4])?>,
	            type: 'bar',
	         
	            data: <?=json_encode(array_filter(array_column($property_service_count,'value'))[4])?>
	        }
	    ]
	};


  
	myChart2.setOption(option);

	</script>

<!-- 	<script type="text/javascript">
	//物业缴费
	var myChart3 = echarts.init(document.getElementById('echarts3'));
	// 指定图表的配置项和数据
    

	option = {
    title: {
        text: '物业缴费信息表'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:<?=json_encode(array_filter(array_column($wuye_pay_order,'name')))?>
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:<?=json_encode(array_filter(array_column($wuye_pay_order,'name'))[0])?>,
            type:'line',
            stack: '总量',
            data:<?=json_encode(array_filter(array_column($wuye_pay_order,'value'))[0])?>
        },
        {
            name:<?=json_encode(array_filter(array_column($wuye_pay_order,'name'))[1])?>,
            type:'line',
            stack: '总量',
            data:<?=json_encode(array_filter(array_column($wuye_pay_order,'value'))[1])?>
        },  
    ]
	};


  
	myChart3.setOption(option);

	</script> -->

	<script type="text/javascript">
    //物业服务
	var myChart6 = echarts.init(document.getElementById('echarts6'));
	// 指定图表的配置项和数据
    

	option = {
	    color: ['#003366', '#e5323e', '#006699', '#e5323e', '#4cabce'],
	    tooltip: {
	        trigger: 'axis',
	        axisPointer: {
	            type: 'shadow'
	        }
	    },
	    
	    title: {
	        text: '物业缴费信息表'
	    },
	    
	    legend: {
	        data: <?=json_encode(array_filter(array_column($wuye_pay_order,'name')))?>
	    },
	    toolbox: {
	        show: true,
	        orient: 'vertical',
	        left: 'right',
	        top: 'center',
	        feature: {
	            mark: {show: true},
	            dataView: {show: true, readOnly: false},
	            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
	            restore: {show: true},
	            saveAsImage: {show: true}
	        }
	    },
	    calculable: true,
	    xAxis: [
	        {
	            type: 'category',
	            axisTick: {show: false},
	            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
	        }
	    ],
	    yAxis: [
	        {
	            type: 'value'
	        }
	    ],
	    series: [
	        {
	            name: <?=json_encode(array_filter(array_column($wuye_pay_order,'name'))[0])?>,
	            type: 'line',
	            data: <?=json_encode(array_filter(array_column($wuye_pay_order,'value'))[0])?>
	        },
	        {
	            name: <?=json_encode(array_filter(array_column($wuye_pay_order,'name'))[1])?>,
	            type: 'line',
	            data: <?=json_encode(array_filter(array_column($wuye_pay_order,'value'))[1])?>
	        }
	    ]
	};


  
	myChart6.setOption(option);

	</script>


	<!-- <script type="text/javascript">
	//物业缴费
	var myChart4 = echarts.init(document.getElementById('echarts4'));
	// 指定图表的配置项和数据
    

	option = {
    title: {
        text: '物业收支信息表'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:<?=json_encode(array_filter(array_column($wuye_income_expenses,'name')))?>
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:<?=json_encode(array_filter(array_column($wuye_income_expenses,'name'))[0])?>,
            type:'line',
            stack: '总量',
            data:<?=json_encode(array_filter(array_column($wuye_income_expenses,'value'))[0])?>
        },
        {
            name:<?=json_encode(array_filter(array_column($wuye_income_expenses,'name'))[1])?>,
            type:'line',
            stack: '总量',
            data:<?=json_encode(array_filter(array_column($wuye_income_expenses,'value'))[1])?>
        },  
    ]
	};


  
	myChart4.setOption(option);

	</script> -->

	<script type="text/javascript">
    //物业服务
	var myChart5 = echarts.init(document.getElementById('echarts5'));
	// 指定图表的配置项和数据
    

	option = {
	    color: ['#003366', '#e5323e', '#006699', '#e5323e', '#4cabce'],
	    tooltip: {
	        trigger: 'axis',
	        axisPointer: {
	            type: 'shadow'
	        }
	    },
	    
	    title: {
	        text: '物业收支信息表'
	    },
	    
	    legend: {
	        data: <?=json_encode(array_filter(array_column($wuye_income_expenses,'name')))?>
	    },
	    toolbox: {
	        show: true,
	        orient: 'vertical',
	        left: 'right',
	        top: 'center',
	        feature: {
	            mark: {show: true},
	            dataView: {show: true, readOnly: false},
	            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
	            restore: {show: true},
	            saveAsImage: {show: true}
	        }
	    },
	    calculable: true,
	    xAxis: [
	        {
	            type: 'category',
	            axisTick: {show: false},
	            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
	        }
	    ],
	    yAxis: [
	        {
	            type: 'value'
	        }
	    ],
	    series: [
	        {
	            name: <?=json_encode(array_filter(array_column($wuye_income_expenses,'name'))[0])?>,
	            type: 'line',
	            data: <?=json_encode(array_filter(array_column($wuye_income_expenses,'value'))[0])?>
	        },
	        {
	            name: <?=json_encode(array_filter(array_column($wuye_income_expenses,'name'))[1])?>,
	            type: 'line',
	            data: <?=json_encode(array_filter(array_column($wuye_income_expenses,'value'))[1])?>
	        }
	    ]
	};


  
	myChart5.setOption(option);

	</script>
</block>