<extend name="Public/body" />
<block name="body">
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap-clockpicker.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/github.min.css">
	<div class="box box-body">
		<form action="" method="post" class="js_form">
			<input type="hidden" name="ids" value="<?=$info['id']?>" />

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					小区
				</div>
				<div>
					<select name="district_id" class="form-control width_auto super_select2" data-placeholder="请选择小区" datatype="n" nullmsg="请选择小区" errormsg="请选择小区">
						<option value="">请选择小区</option>
						<?=$pid?>
					</select>
					<span class="Validform_checktip"></span>
				</div>
			</div>


			<!-- <div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					打卡模式
				</div>
				<div>
					<select id="model" name="type" class="form-control width_auto super_select2" data-placeholder="请选择打卡模式" datatype="n" nullmsg="请选择打卡模式" errormsg="请选择打卡模式">
						<option value="">请选择打卡模式</option>
						<?=$options?>
					</select>
					<span class="Validform_checktip"></span>
				</div>
			</div>
 -->
			<div id="mac" class="">
				<div class="control-label">
					<span class="required"></span>
					wifi 名称
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="name" value="<?=$info['name']?>" datatype="*0-20" nullmsg="请输入名称" errormsg="请输入名称" placeholder="请输入名称"/>
					<span class="Validform_checktip">2-20个字符</span>
				</div>
			</div>

			<div id="range">
				<div class="control-label">
					<span class="required"></span>
					经度
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="longitude" value="<?=$info['longitude']?>" datatype="*0-15" nullmsg="请输入经度" errormsg="请输入经度" placeholder="请输入经度"/>
					<span class="Validform_checktip">2-15个字符</span>
				</div>

				<div class="control-label">
					<span class="required"></span>
					纬度
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="latitude" value="<?=$info['latitude']?>" datatype="*0-15" nullmsg="请输入纬度" errormsg="请输入纬度" placeholder="请输入纬度"/>
					<span class="Validform_checktip">2-15个字符</span>
				</div>
			</div>


			
			<div class="form-btn clearfix">
				<input type="submit" class="pull-left btn btn-primary" value="提交" />
				<a href="<?=U('index')?>" class="pull-left btn btn-default">取消返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
		
		</form>
	</div>
	<script type="text/javascript" src="__JS__/bootstrap-clockpicker.min.js"></script>
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/highlight.min.js"></script>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
	<script type="text/javascript">
		$('.clockpicker').clockpicker();
	</script>
	<!-- <script type="text/javascript">
		$(function(){
			$('#model').change(function(){
				if($(this).children('option:selected').val() == 1){
					$('#mac').addClass('hide')
					$('#range').removeClass('hide')
				}else if($(this).children('option:selected').val() == 2){
					$('#range').addClass('hide')
					$('#mac').removeClass('hide')
				}else{
					alert("暂无该类型");
				}
			})
		})
	</script> -->
</block>
