<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left" method="get">
						<input type="text" class="form-control input-md" style="width: 250px;" placeholder="用户名 | 电话号码" name="keywords" value="<?=$keywords?>">
						<select name="month" class="form-control input-sm">
							<option value=''>请选择月份</option>
							<option value="1">01</option>
							<option value="2">02</option>
							<option value="3">03</option>
							<option value="4">04</option>
							<option value="5">05</option>
							<option value="6">06</option>
							<option value="7">07</option>
							<option value="8">08</option>
							<option value="9">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<select name="district_id" class="form-control input-sm">
							<option value="">请选择小区</option>
							<?=$pid?>
						</select>
						<button type="submit" class="btn btn-default btn-sm" target-form="operate_form">搜索</button>
					</form>
					<div class="pull-right">
					<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="2%"><input type="checkbox" class="js_check_all" data-target="ids" value=""></th>
				<th width="3%" class="text-center">序号</th>
				<th width="6%" class="text-center">小区</th>
				<th width="6%" class="text-center">用户名</th>
				<th width="8%" class="text-center">电话号码</th>
				<th width="6%" class="text-center">房号</th>
				<th width="6%" class="text-center">面积</th>
				<th width="4%" class="text-center">楼层单价</th>
				<th width="6%" class="text-center">物业费/年</th>
				<th width="6%" class="text-center">物业费</th>
				<th width="8%" class="text-center">物业费起始日期</th>
				<th width="8%" class="text-center">缴费起</th>
				<th width="8%" class="text-center">缴费止</th>
				<th width="6%" class="text-center">装修押金</th>
				<th width="6%" class="text-center">垃圾清理费</th>
				<th width="6%" class="text-center">拆墙垃圾费</th>
				<th width="6%" class="text-center">其他</th>
				<th width="8%" class="text-center">交房日期</th>
				<th width="4%" class="text-center">状态</th>
				<th width="15%" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td><input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$row['id']?>"></td>
				<td class="text-center"><?=$row['uid']?></td>
				<td class="text-center"><?=$row['district_title']?></td>
				<td class="text-center"><?=$row['username']?></td>
				<td class="text-center"><?=$row['mobile']?></td>
				<td class="text-center"><?=$row['room_no']?></td>
				<td class="text-center"><?=$row['area']?></td>
				<td class="text-center"><?=$row['house_unit_price']?></td>
				<td class="text-center"><?=$row['property_price']?></td>
				<td class="text-center"><?=$row['property_money']?></td>
				<td class="text-center"><?=substr($row['start_time'], 0, 10) == '1970-01-01'? '0000-00-00': substr($row['start_time'], 0, 10)?></td>
				<td class="text-center"><?=substr($row['pay_start_time'], 0, 10)?></td>
				<td class="text-center"><?=substr($row['pay_end_time'], 0, 10)?></td>
				<td class="text-center"><?=$row['deposit']?></td>
				<td class="text-center"><?=$row['waste_fee']?></td>
				<td class="text-center"><?=$row['wall_waste_fee']?> </td>  
				<td class="text-center"><?=$row['other_fee']?> </td>  
				<td class="text-center"><?=substr($row['room_time'], 0, 10) == '1970-01-01'? '0000-00-00': substr($row['room_time'], 0, 10)?></td>
				<td class="text-center">
					<img src="__IMG__/status_<?=$row['is_renovation']?>.png" alt=<?=$row['is_renovation']==0?"未装修":"已装修"?> title=<?=$row['is_renovation']==0?"未装修":"已装修"?>>
					<img src="__IMG__/status_<?=$row['is_deposit']?>.png" alt=<?=$row['is_deposit']==0?"未装修":"已装修"?> title=<?=$row['is_deposit']==0?"未退押金":"已退押金"?>>
					<img src="__IMG__/status_<?=$row['is_hid']?>.png" alt=<?=$row['is_hid']==0?"未装修":"已装修"?> title=<?=$row['is_hid']==0?"未禁用":"已禁用"?>>
				</td>
				<td class="text-center">
				<?php
					get_list_btn($menu_info['id'],$row);
				?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>		
</block>