<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<form action="" method="post" class="js_form">
			<input type="hidden" name="ids" value="<?=$info['id']?>" />
			<div class="form-group">
				<div>
					<select name="district_id" class="form-control width_auto super_select2" data-placeholder="请选择小区" datatype="n" nullmsg="请选择小区" errormsg="请选择小区">
						<option value="">请选择小区</option>
						<?=$pid?>
					</select>
					<span class="Validform_checktip"></span>
				</div>
				<div class="control-label">
					<span class="required">*</span>
					用户名
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="username" value="<?=$info['username']?>" datatype="*2-120" nullmsg="请输入用户名" errormsg="请输入用户名" placeholder="请输入用户名"/>
					<span class="Validform_checktip">2-120个字符</span>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					电话号码
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="mobile" value="<?=$info['mobile']?>" datatype="*1-11" nullmsg="请输入电话号码" errormsg="请输入电话号码" placeholder="请输入电话号码"/>
					<span class="Validform_checktip">11个字符</span>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					房号
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="room_no" value="<?=$info['room_no']?>" datatype="*1-26" nullmsg="请输入房号" errormsg="请输入房号" placeholder="请输入房号"/>
					<span class="Validform_checktip">1-10个字符</span>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					交房日期
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="room_time" value="<?=!checkDateTime2(substr($info['room_time'], 0, 10))? '0000-00-00': substr($info['room_time'], 0, 10)?>" datatype="*10-10" nullmsg="请输入交房日期" errormsg="请输入交房日期" placeholder="请输入交房日期"/>
					<span class="Validform_checktip">格式：2018-01-03 (1970-01-01为空时间标准)</span>
				</div>
			</div>

			<label class="form-group">
				<div class="control-label">
					面积
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="area" value="<?=($info['area'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					楼层单价
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="house_unit_price" value="<?=$info['house_unit_price']?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>


			<label class="form-group">
				<div class="control-label">
					物业费/年
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="property_price" value="<?=($info['property_price'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					物业费
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="property_money" value="<?=($info['property_money'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					是否装修
				</div>
				<div>
					<?php
						if($info['is_renovation'] == '0'){
					?>
					<input id="r1" type="radio" value="1" name="is_renovation">是</input>
					<input id="r2" type="radio" value="0" name="is_renovation" checked>否</input>  
					<?php
						}else{
					?>
					<input id="r1" type="radio" value="1" name="is_renovation" checked>是</input>
					<input id="r2" type="radio" value="0" name="is_renovation">否</input> 
					<?php
						}
					?>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					是否退押金
				</div>
				<div>
					<?php
						if($info['is_deposit'] == '0'){
					?>
					<input id="r1" type="radio" value="1" name="is_deposit">是</input>
					<input id="r2" type="radio" value="0" name="is_deposit" checked>否</input>  
					<?php
						}else{
					?>
					<input id="r1" type="radio" value="1" name="is_deposit" checked>是</input>
					<input id="r2" type="radio" value="0" name="is_deposit">否</input> 
					<?php
						}
					?>
				</div>
			</label>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					物业费起始日期
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="start_time" value="<?=!checkDateTime2(substr($info['start_time'], 0, 10))? '0000-00-00': substr($info['start_time'], 0, 10)?>" datatype="*10-10" nullmsg="请输入物业费起始日期" errormsg="请输入物业费起始日期" placeholder="请输入物业费起始日期"/>
					<span class="Validform_checktip">格式：2018-01-03 (1970-01-01为空时间标准)</span>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					缴费起
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="pay_start_time" value="<?=substr($info['pay_start_time'], 0, 10)?>" datatype="*10-10" nullmsg="请输入缴费起" errormsg="请输入缴费起" placeholder="请输入缴费起"/>
					<span class="Validform_checktip">格式：2018-01-03</span>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					缴费止
				</div>
				<div>
					<input type="text" class="form-control width_auto" name="pay_end_time" value="<?=substr($info['pay_end_time'], 0, 10)?>" datatype="*10-10" nullmsg="请输入缴费止" errormsg="请输入缴费止" placeholder="请输入缴费止"/>
					<span class="Validform_checktip">格式：2018-01-03</span>
				</div>
			</div>

			<label class="form-group">
				<div class="control-label">
					装修押金
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="deposit" value="<?=($info['deposit'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					垃圾清理费
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="waste_fee" value="<?=($info['waste_fee'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					拆墙垃圾费
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="wall_waste_fee" value="<?=($info['wall_waste_fee'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<label class="form-group">
				<div class="control-label">
					其他费用
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						name="other_fee" value="<?=($info['other_fee'])?>"/>
					<span class="Validform_checktip">0~999999</span>
				</div>
			</label>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					欠费原因
				</div>
				<div>
					<textarea class="form-control width_auto" name="arrears_content"/>
						<?=trim($info['arrears_content'])?>
					</textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label">
					<span class="required">*</span>
					备注
				</div>
				<div>
					<textarea class="form-control width_auto" name="remark"/>
						<?=trim($info['remark'])?>
					</textarea>
				</div>
			</div>


			<div class="form-btn clearfix">
				<input type="submit" class="pull-left btn btn-primary" value="提交" />
				<a href="<?=U('index')?>" class="pull-left btn btn-default">取消返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
		</form>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>
