<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<table class="table table-bordered">
			<tbody><tr>
				<th colspan="20" class="clearfix" style="background:#eee">
					卡券详情
				</th>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					卡券编号：<?=$info['card_no']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					卡券名称：<?=$coupon_info['title']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					抵扣金额：<?=$coupon_info['amount']?> 
				</td>
			</tr>	
			<tr>
				<td class="text-left" colsplan="2">
					兑换码串：<?=$info['code']?> 
				</td>
			</tr>	
			<tr>
				<td class="text-left" colsplan="2">
					有效日期：<?=$coupon_info['begin_date'].'~~'.$coupon_info['end_date']?> 
				</td>
			</tr>		
			<tr>
				<td class="text-left" colsplan="2">
					卡券状态：
					<?php
					if($info['status'] == 1){
						echo '<span style="color: red;">'.$status[$info['status']]['title'].'</span>';
					}
					if($info['status'] == 2){
						echo '<span style="color:#0eb579">'.$status[$info['status']]['title'].'</span>';
					}
					if($info['status'] == 3){
						echo '<span style="color:#91a9a0">'.$status[$info['status']]['title'].'</span>';
					}
				?>
				</td>
			</tr>		
	    	</tbody>
    	</table>
		
		<?php
			if($info['member_id']){
		?>
 		<table class="table table-bordered">
			<tbody><tr>
				<th colspan="20" class="clearfix" style="background:#eee">
					使用情况
				</th>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					指定用户：<?=$info['username']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					用户手机：<?=$info['mobile']?> 
				</td>
			</tr>
			<tr>
				<td class="text-left" colsplan="2">
					所用订单：<a href="<?=U('Backend/Order/Index/detail',array('ids'=>$info['order_id']))?>"><?=$info['order_no']?></a> 
				</td>
			</tr>		
	    	</tbody>
    	</table>
    	<?php
    		}
    	?>
	</div>
		<div class="form-btn clearfix">
			<a href="<?=U('index',I())?>" class="pull-left btn btn-default">返回列表</a>
		</div>

</block>