<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="9" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left" method="get">
						<input type="text" class="form-control input-sm" placeholder="姓名|电话|兑换码" name="keywords" value="<?=$keywords?>">
						<select name="coupon_id" class="form-control input-md super_select2" data-placeholder="请选择卡券类型">
							<option value="">卡券类型</option>
							<?=$coupon_list?>
						</select>
						<select name="status" class="form-control input-sm">
							<option value=''>请选择状态</option>
							<?php
								foreach ($status as $k => $v) {
							?>
							<option value="<?=$v['r_value']?>" <?=(I('status') == $v['r_value'])?'selected="selected"':''?> ><?=$v['title']?></option>
							<?php
								}
							?>
						</select>
						<input type="start_date" style="min-width:auto;width:140px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="开始时间" name="start_date" value="<?=$start_date?>">
						<input type="stop_date" style="min-width:auto;width:140px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="结束时间" name="stop_date" value="<?=$stop_date?>">
						<button type="submit" class="btn btn-default btn-sm" target-form="operate_form">搜索</button>
					</form>
					<div class="pull-right">
					<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="2%"><input type="checkbox" class="js_check_all" data-target="ids" value=""></th>
	<!-- 			<th width="12%">卡券编号</th> -->
				<th width="20%">卡券名称</th>
				<th width="12%" >用户</th>
				<th width="10%" class="text-center">手机号</th>
				<th width="14%">兑换码</th>
				<th width="6%" class="text-center">状态</th>
				<th width="14%" class="text-center">生成时间</th>
				<th width="6%" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td><input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$row['id']?>"></td>
<!-- 				<td><?=$row['card_no']?></td> -->
				<td><?=$row['title']?></td>
				<td><?=$row['username']?$row['username']:'<span style="color:red">未指定</span>'?></td>
				<td class="text-center" ><?=$row['mobile']?></td>
				<td><?=$row['code']?></td>
				<td class="text-center">
				<?php
					if($row['status'] == 1){
						echo '<span style="color: red;">'.$status[$row['status']]['title'].'</span>';
					}
					if($row['status'] == 2){
						echo '<span style="color:#0eb579">'.$status[$row['status']]['title'].'</span>';
					}
					if($row['status'] == 3){
						echo '<span style="color:#91a9a0">'.$status[$row['status']]['title'].'</span>';
					}
				?>
				</td>
				<td class="text-center"><?=$row['add_time']?></td>
				<td class="text-center">
				<?php
					get_list_btn($menu_info['id'],$row);
				?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>