<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate"> 
	<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
	<block name="head_change"></block>
<?php
	if(isset($title)){
		$title=$title.' | '.C('SITE_TITLE');
	}else{
		$title=C('SITE_TITLE');
	}
	if(!isset($keywords)){
		$keywords=C('SITE_KEYWORD');
	}
	if(!isset($description)){
		$description=C('SITE_DESCRIPTION');
	}
	$member_info=session("member_info");
?>
	<title>公用个人中心表单</title>
	<meta name="keywords" content="<?=trim($keywords,'')?>" />
	<meta name="description" content="<?=trim($description,'')?>" />
	<css href="__STATIC__/css/common.css"/>
	<css href="__CSS__/common.css"/>
	<css href="__USER__/css/common.css"/>
	<block name="style"></block>

	<script>
	var _ROOT_='__ROOT__';
	var _STATIC_='__STATIC__';
	var _PLUGIN_='__PLUGIN__';
	var _JS_='__JS__';
	var _IMG_='__IMG__';
	var _CSS_='__CSS__';
	</script>
	<js href="__STATIC__/js/common.js" />
	<js href="__JS__/common.js" />
	<!--[if lt IE 9]>
	<js href="__STATIC__/js/ie9.js" />
	<![endif]-->
	<!--[if lte IE 6]>
	<css href="__STATIC__/css/ie6.css"/>
	<js href="__STATIC__/js/ie6.js" />
	<![endif]-->
</head>
<body class="ucenter">
<?php
/**
	<include file="Home@Common/top" />
	*/
?>
	<include file="User@Common/header" />
	<!-- 中间模块 S-->
	<div class="container m_tb">
		<include file="User@Common/sidebar"/>
		<div class="col-xs-10" style="*position:static;padding:0;">
			<!-- 右侧内容 S-->
			<div class="person_box">
				<!-- 面包绡 S-->
				<div class="dataset_title clearfix">
					<div class="left_title"><?=$crumbs?><em></em></div><i></i>
					<div class="right_info pull-right">
						当前位置：
						<?=get_crumbs($crumbs_array)?>
					</div>
				</div>
				<!-- 面包绡 E-->
				<!-- 主体内容区域 S-->
				<div class="content_box clearfix">
					<block name="body"></block>
				</div>
				<!-- 主体内容区域 E-->
			</div>
			<!-- 右侧内容 E-->			
		</div>
	</div>
	<!-- 中间模块 E-->
	<js href="__PLUGIN__/my97date/WdatePicker.js" />
	<script>
	$(function(){
		$(".js_sidebar").on('click','.dropdown-toggle.has_child',function(event){
			event.preventDefault();
			var _this=$(this);
			if(_this.parent().hasClass("active")){
				_this.next().slideUp(100,function(){
					_this.parent().removeClass('active');
				});
			}else{
				_this.next().slideDown(100,function(){
					_this.parent().addClass('active');
				});
			}
		})
	})
	</script>
	<include file="Home@Common/footer"/>
	<block name="script"></block>
</body>
</html>