<!-- head搜索模块 S-->
<nav class="head_search">
	<div class="container">
		<a href="<?=U('/')?>" class="logo_box"><img src="__USER__/img/logo.png" /></a>
		<a href="<?=U("/User")?>" class="<?php if(MODULE_NAME=="User"){ echo 'current'; } ?>">个人中心</a>
		<?php if(!in_array(session('home_member_type'),array(11,12))){?>
		<a href="<?=U("/Seller")?>" class="<?php if(MODULE_NAME=="Seller"){ echo 'current'; } ?>">商家中心</a>
		<?php }?>
		<?php if(!in_array(session('home_member_type'),array(11,12))){?>
		<a href="<?=U("/Seller")?>" class="<?php if(MODULE_NAME=="Seller"){ echo 'current'; } ?>">消息中心</a>
		<?php }?>
		<div class="search_box pull-right">
			<form action="" method="get" class="clearfix ie7_h32 ie7_w370">
				<div class="select_box js_select_box">
					<input type="hidden" name="search_type" value="1">
					<div class="selected_box js_selected_box">效果图<span class="caret ie7_t15"></span></div>
					<ul class="select_list js_select_list">
						<li data-option="1">效果图</li>
						<li data-option="2">装饰公司</li>
						<li data-option="3">工长</li>
						<li data-option="4">搜小区</li>
						<li data-option="5">产品</li>
						<li data-option="6">设计师</li>
					</ul>
				</div>
				<div class="search_input">
					<input type="text" class="form-control ie7_h22">
				</div>
				<div class="search_btn">
					<input type="submit" class="btn iconfont" value="">
				</div>
			</form>
		</div>
	</div><!-- /.container -->
</nav>
<!-- head搜索模块 E-->