<extend name="Home@Common/body"/>
<block name="body">
<div class="text_detail">
    <div class="content">
        湖泊最深处高程为1181.5米，湖深188.5米，是中国最深的冰碛堰塞湖；湖泊两侧崖岩林立，断层痕迹清晰；湖泊平面上北侧呈北东向，南部形态呈北东南西相互交织的锯齿状，与区域北东南西向两组构造线一致，是第四纪冰川和构造断陷共同作用的结果。喀纳斯湖是中国唯一的北冰洋水系，湖水来自奎屯、友谊峰等山的冰川融水和当地降水，从地表或地下泻入喀纳斯湖。
喀纳斯湖年降水量为1000毫米左右，最大降水带为海拔2100米。冬季漫长，降雪丰富，一般8月初开始出现霜冻。海拔1400米以上，8月下旬开始降雪；海拔3000米以上，8月初开始降雪，一直到翌年5月下旬或6月初，降雪期长达8个月左右，积雪深度可达1—2米，降雪日数一般在73天以上，稳定积雪期在200天左右。雪线分布在海拔2850米左右。年蒸发量约1000毫米，与降水量大体持平。
        <img src="__IMG__/pro1.jpg" alt="">
    </div>
</div>
</block>
