<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>江西高超网络服务有限公司</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="__CSS__/all_pc.css">
		<script src="__JS__/pc_common.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="header transition10">
				<div class="main clearfix">
					<a href="" class="logo"><img src="__IMG__/about/logo.png" alt=""></a>
					<a href="javascript:;" class="h_link js_about">关于我们</a>
				</div>
			</div>
			<div class="banner">
				<div class="main clearfix">
					<div class="phone transition10">
						<img src="__IMG__/about/phone.png" class="img" alt="">
						<div class="imgs_div">
							<div class="box js_phone transition3">
								<img src="__IMG__/about/img1.jpg" alt="">
								<img src="__IMG__/about/img2.jpg" alt="">
								<img src="__IMG__/about/img3.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="text">
						<div class="tt">江西高超网络服务有限公司</div>
						<div class="de">江西高超网络服务有限公司成立于2017年8月，是一家集互联网开发、网络运营 、互联网服务于一体的网络科技公司。其主要专注于技术创新、寄情于网络IT、投身于互联网事业。拥有全新的服务理念，服务社会。江西高超网络服务有限公司是一家快速成长、锐意进取的年轻网络科技公司。公司以人为本，以客户为中心，以需求为导向，以服务为宗旨；以创新、专业、求实、诚信、和谐为经营理念。现已成为整个行业技术较专业的网络公司，迅速发展成为网络科技领域的后起之秀。</div>
						<div class="clearfix btn_div">
							<div class="btn">
								<a href="https://itunes.apple.com/us/app/%E9%AB%98%E8%B6%85%E4%BE%BF%E6%B0%91/id1309425595?l=zh&ls=1&mt=8"><img src="__IMG__/about/btn1.png" alt="IOS客户端下载"></a>
								<a href="<?=U('Home/Index/Index/download_app')?>"><img src="__IMG__/about/btn2.png" alt="安卓客户端下载"></a>
							</div>
							<div class="erma" style="display:none;">
								<img src="__IMG__/about/weixin.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="infos">
				<div class="yd1 yd_div">
					<div class="main">
						<div class="box box1 clearfix">
							<div class="left">
								<img src="__IMG__/about/info1.png" alt="">
							</div>
							<div class="right">
								<div class="tt">物业管家</div>
								<div class="de">缔造美好社区，服务就在指尖</div>
							</div>
						</div>
					</div>
				</div>
				<div class="yd2 yd_div">
					<div class="main">
						<div class="box box1 box2 clearfix">
							<div class="left">
								<img src="__IMG__/about/info2.png" alt="">
							</div>
							<div class="right">
								<div class="tt">网上商城</div>
								<div class="de">果蔬基地团购协议，新鲜实惠送到门口</div>
							</div>
						</div>
					</div>
				</div>
				<div class="yd3 yd_div">
					<div class="main">
						<div class="box box1 clearfix">
							<div class="left">
								<img src="__IMG__/about/info3.png" alt="">
							</div>
							<div class="right">
								<div class="tt">邻聊论坛</div>
								<div class="de">诉生活喜怒哀乐，品身边酸甜苦辣</div>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="yd4 yd_div">
					<div class="main">
						<div class="box box1 box2 clearfix">
							<div class="left">
								<img src="__IMG__/about/info4.png" alt="">
							</div>
							<div class="right">
								<div class="tt">随时随地咨询技师</div>
								<div class="de">无论有经验的专业汽车维修技师身在何处，弟爱玩DIY平台就能及时帮你找到对口的专业维修技师，专门解决你的问题、在线指导你如何维修保养车辆。</div>
							</div>
						</div>
					</div>
				</div>
 -->
			</div>

			<div class="about">
				<div class="main">
					<div class="tt">公司简介</div>
					<div class="de">
						<p>江西高超网络服务有限公司成立于2017年8月，是一家集互联网开发、网络运营 、互联网服务于一体的网络科技公司。其主要专注于技术创新、寄情于网络IT、投身于互联网事业。拥有全新的服务理念，服务社会。江西高超网络服务有限公司是一家快速成长、锐意进取的年轻网络科技公司。公司以人为本，以客户为中心，以需求为导向，以服务为宗旨；以创新、专业、求实、诚信、和谐为经营理念。现已成为整个行业技术较专业的网络公司，迅速发展成为网络科技领域的后起之秀。</p>
						<a class="more">查看更多</a>
					</div>
				</div>
			</div>
			<div class="bomb-box">
				<p class='title'>公司简介</p>
				<p class="de">江西高超网络服务有限公司成立于2017年8月，是一家集互联网开发、网络运营 、互联网服务于一体的网络科技公司。其主要专注于技术创新、寄情于网络IT、投身于互联网事业。拥有全新的服务理念，服务社会。江西高超网络服务有限公司是一家快速成长、锐意进取的年轻网络科技公司。公司以人为本，以客户为中心，以需求为导向，以服务为宗旨；以创新、专业、求实、诚信、和谐为经营理念。现已成为整个行业技术较专业的网络公司，迅速发展成为网络科技领域的后起之秀。
				</p><br>

				<p class="de">公司拥有在职人员50人，其中研发人员占据60%，公司骨干人员均来源于各大互联网公司以及各大高校。我公司主要以技术研发创新为主导，把握移动互联网行业的需求，利用互联网核心技术为客户提供稳定、可靠、功能优异的软硬一体解决方案。</p>
 
				<p class="de">公司成立以来，一直飞速发展，离不开客户的信任与支持，离不开团队的坚持不懈的精神！</p>
 
				<p class="de">我们秉承“为合作伙伴创造价值”的核心价值观，并以“诚实、宽容、创新、服务”为企业精神，通过自主创新和真诚合作为电子商务及信息服务行业创造价值。</p>
				</p>
				<a class="close">关闭</a>
			</div>
			<div id="cover"></div>
			<div class="contact">
				<div class="tt">联系我们</div>
				<div class="de">
					<p>
						地址 / <?=C('US_ADDRESS')?><br>
						联系电话 / <?=C('US_TELPHONE')?><br>
						企业邮箱 / <?=C('US_EMAIL')?><br>
<!-- 						手机 / 15970246624&nbsp;&nbsp;|&nbsp;&nbsp;联系人 / 高先生 -->
					</p>
				</div>
			</div>
			<div class="footer">
				<div class="main">
					<?=C('COPY_RIGHT')?>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				if($(window).width()>=768){
					$('.phone').css('left',0).css('opacity',1).css('margin-left',0);;
			}else{
					$('.phone').css('left',"50%").css('margin-left',-200)
				}

				$(window).resize(function(event) {
					if($(window).width()>=768){
						$('.phone').css('left',0).css('opacity',1).css('margin-left',0);
					}else{
						$('.phone').css('left',"50%").css('margin-left',-200)
					}
				});
				$('.phone').css('opacity',1);
				$('.banner .text').addClass('text_show');
				$(window).scroll(function(event) {
					var top=$(window).scrollTop();
					if(top>400){
						$('.header').addClass('header_show')
					}else{
						$('.header').removeClass('header_show')
					}
				});

				var now=0;
				setInterval(function(){
					now++;
					if(now==3){
						now=0
					}
					$('.js_phone').css('left',-192*now);
				},1500)

				$('.js_about').click(function(){
					$('html,body').animate({ scrollTop: $('.about').offset().top + 'px' }, 1000);
				})

				$('.js_enter').click(function(){
					$('html,body').animate({ scrollTop: $('.join_us').offset().top-100 + 'px' }, 1000);
				});

				$('.about .more').click(function(){
					$('.bomb-box').slideDown();
					$('#cover').fadeIn();
				});
				$('.bomb-box .close,#cover').click(function(){
					$('.bomb-box').slideUp();
					$('#cover').fadeOut();
				});

			})
		</script>
	</body>
</html>

