<extend name="Common/body"/>
<block name="head_change">
<?php
$crumbs="评价管理";
$crumbs_array[]=array("title"=>"个人中心","url"=>U("User/Index/index"));
$crumbs_array[]=array("title"=>"一元购评论","url"=>U("one"));
?>
<script>
var cur_url="<?=U(User/Comment/one)?>";
</script>
</block>
<block name="body">
	<table class="table">
		<thead>
			<tr class="title">
				<td class="col-xs-1"></td>
				<td class="col-xs-4">评价内容</td>
				<td class="col-xs-2">评分</td>
				<td class="col-xs-3 col-xs-2 text-center">评价产品</td>
				<td class="col-xs-2 text-right">操作</td>
			</tr> 	
		</thead>
	</table>
	<!-- 评论列表 -S -->
	<div class="comment_box">
		<div class="comment_list">
			<div class="clearfix">
				<div class="col-xs-1 user_pic">
					<img src="<?=get_avatar('',200)?>" class="img-circle">
				</div>
				<div class="col-xs-4 adv_txt">
					<div>
						<strong>李二狗</strong>
						<span class="date">[2015-06-25 11:16:52]</span>
					</div>
					<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
				</div>
				<div class="col-xs-2 star_list">
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>服务态度:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
				</div>
				<div class="col-xs-3 adv_product">
					<a href="#">【原创】总监操刀设计/产品画册设计/企业宣传册设计</a>
					<div class="hover">¥1700</div>
				</div>
				<div class="col-xs-2 text-right">
					<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
					<div><a href="#" class="btn btn-xs">删除</a></div>
				</div>
			</div>
			<div class="js_replay" style="display:none;"></div>
		</div>
	</div>
	<!-- 评论列表 -E -->
	<!-- 评论列表 -S -->
	<div class="comment_box">
		<div class="comment_list">
			<div class="clearfix">
				<div class="col-xs-1 user_pic">
					<img src="<?=get_avatar('',200)?>" class="img-circle">
				</div>
				<div class="col-xs-4 adv_txt">
					<div>
						<strong>李二狗</strong>
						<span class="date">[2015-06-25 11:16:52]</span>
					</div>
					<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
				</div>
				<div class="col-xs-2 star_list">
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>服务态度:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
				</div>
				<div class="col-xs-3 adv_product">
					<a href="#">【原创】总监操刀设计/产品画册设计/企业宣传册设计</a>
					<div class="hover">¥1700</div>
				</div>
				<div class="col-xs-2 text-right">
					<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
					<div><a href="#" class="btn btn-xs">删除</a></div>
				</div>
			</div>
			<div class="js_replay" style="display:none;"></div>
		</div>
	</div>
	<!-- 评论列表 -E -->
	<!-- 评论列表 -S -->
	<div class="comment_box">
		<div class="comment_list">
			<div class="clearfix">
				<div class="col-xs-1 user_pic">
					<img src="<?=get_avatar('',200)?>" class="img-circle">
				</div>
				<div class="col-xs-4 adv_txt">
					<div>
						<strong>李二狗</strong>
						<span class="date">[2015-06-25 11:16:52]</span>
					</div>
					<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
				</div>
				<div class="col-xs-2 star_list">
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>服务态度:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
				</div>
				<div class="col-xs-3 adv_product">
					<a href="#">【原创】总监操刀设计/产品画册设计/企业宣传册设计</a>
					<div class="hover">¥1700</div>
				</div>
				<div class="col-xs-2 text-right">
					<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
					<div><a href="#" class="btn btn-xs">删除</a></div>
				</div>
			</div>
			<div class="js_replay" style="display:none;"></div>
		</div>
		<!-- 回复列表 -S -->
		<div class="reply_box">
			<div class="comment_list col-xs-offset-1">
				<div class="clearfix">
					<div class="col-xs-1 user_pic">
						<img src="<?=get_avatar('',200)?>" class="img-circle">
					</div>
					<div class="col-xs-9 adv_txt">
						<div>
							<strong>李二狗</strong>
							<span class="date">[2015-06-25 11:16:52]</span>
						</div>
						<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
					</div>
					<div class="col-xs-2 text-right">
						<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
						<div><a href="#" class="btn btn-xs">删除</a></div>
					</div>
				</div>
				<div class="js_replay" style="display:none;"></div>
			</div>
		</div>
		<!-- 回复列表 -E -->
	</div>
	<!-- 评论列表 -E -->
	<!-- 评论列表 -S -->
	<div class="comment_box">
		<div class="comment_list">
			<div class="clearfix">
				<div class="col-xs-1 user_pic">
					<img src="<?=get_avatar('',200)?>" class="img-circle">
				</div>
				<div class="col-xs-4 adv_txt">
					<div>
						<strong>李二狗</strong>
						<span class="date">[2015-06-25 11:16:52]</span>
					</div>
					<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
				</div>
				<div class="col-xs-2 star_list">
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>服务态度:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
					<div>描述相符:
						<span class="star"><div class="star star_cur" style="width:80%"></div></span>
					</div>
				</div>
				<div class="col-xs-3 adv_product">
					<a href="#">【原创】总监操刀设计/产品画册设计/企业宣传册设计</a>
					<div class="hover">¥1700</div>
				</div>
				<div class="col-xs-2 text-right">
					<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
					<div><a href="#" class="btn btn-xs">删除</a></div>
				</div>
			</div>
			<div class="js_replay" style="display:none;"></div>
		</div>
		<!-- 回复列表 -S -->
		<div class="reply_box">
			<div class="comment_list col-xs-offset-1">
				<div class="clearfix">
					<div class="col-xs-1 user_pic">
						<img src="<?=get_avatar('',200)?>" class="img-circle">
					</div>
					<div class="col-xs-9 adv_txt">
						<div>
							<strong>李二狗</strong>
							<span class="date">[2015-06-25 11:16:52]</span>
						</div>
						<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
					</div>
					<div class="col-xs-2 text-right">
						<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
						<div><a href="#" class="btn btn-xs">删除</a></div>
					</div>
				</div>
				<div class="js_replay" style="display:none;"></div>
			</div>
		</div>
		<!-- 回复列表 -E -->
		<!-- 回复列表 -S -->
		<div class="reply_box">
			<div class="comment_list col-xs-offset-1">
				<div class="clearfix">
					<div class="col-xs-1 user_pic">
						<img src="<?=get_avatar('',200)?>" class="img-circle">
					</div>
					<div class="col-xs-9 adv_txt">
						<div>
							<strong>李二狗</strong>
							<span class="date">[2015-06-25 11:16:52]</span>
						</div>
						<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
					</div>
					<div class="col-xs-2 text-right">
						<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
						<div><a href="#" class="btn btn-xs">删除</a></div>
					</div>
				</div>
				<div class="js_replay" style="display:none;"></div>
			</div>
		</div>
		<!-- 回复列表 -E -->
		<!-- 回复列表 -S -->
		<div class="reply_box">
			<div class="comment_list col-xs-offset-1">
				<div class="clearfix">
					<div class="col-xs-1 user_pic">
						<img src="<?=get_avatar('',200)?>" class="img-circle">
					</div>
					<div class="col-xs-9 adv_txt">
						<div>
							<strong>李二狗</strong>
							<span class="date">[2015-06-25 11:16:52]</span>
						</div>
						<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
					</div>
					<div class="col-xs-2 text-right">
						<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
						<div><a href="#" class="btn btn-xs">删除</a></div>
					</div>
				</div>
				<div class="js_replay" style="display:none;"></div>
			</div>
		</div>
		<!-- 回复列表 -E -->
		<!-- 回复列表 -S -->
		<div class="reply_box">
			<div class="comment_list col-xs-offset-1">
				<div class="clearfix">
					<div class="col-xs-1 user_pic">
						<img src="<?=get_avatar('',200)?>" class="img-circle">
					</div>
					<div class="col-xs-9 adv_txt">
						<div>
							<strong>李二狗</strong>
							<span class="date">[2015-06-25 11:16:52]</span>
						</div>
						<div class="color_6">很开心的一次交易！商家销量高出图快！</div>
					</div>
					<div class="col-xs-2 text-right">
						<div><a href="javascript:;" class="btn btn-xs btn-orange js_reply_btn" data-comment-id="1">回复</a></div>
						<div><a href="#" class="btn btn-xs">删除</a></div>
					</div>
				</div>
				<div class="js_replay" style="display:none;"></div>
			</div>
		</div>
		<!-- 回复列表 -E -->
	</div>
	<!-- 评论列表 -E -->
	<?=$pages?>
</block>
<block name="script">
<script>
	$(function(){
		$(".js_reply_btn").on("click",function(){
			var comentObj=$(this).parent().parent().parent().find(".js_replay");
			if(comentObj.is(":hidden")){
				if(comentObj.find("form").length<=0){
					var comment_id=$(this).attr("data-comment-id");
					var form_html='<div class="clearfix">'
										+'<div class="col-xs-offset-1 col-xs-11">'
											+'<form action="" methond="post" class="js_comment_'+comment_id+'">'
											+'<input type="hidden" name="comment_id" value="'+comment_id+'" /><textarea class="form-control" name="comment"></textarea>'
											+'<div class="text-right margin_t10"><input type="button" class="btn btn-default btn-sm js_cancel_comment" value="取消" /> <input type="submit" class="btn btn-orange btn-sm ajax-post" value="提交" target-form="js_comment_'+comment_id+'" /></div>'
											+'</form>'
										+'</div>'
									+'</div>';
					comentObj.append(form_html);
				}
				comentObj.slideDown(100);
			}else{
				comentObj.slideUp(100);
			}
		})

		$(".js_replay").on("click",'.js_cancel_comment',function(){
			$(this).parent().parent().parent().parent().parent().slideUp(100);
		})
	})
</script>
</block>