<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered product-table-list js_table_bordered">
		<thead>
			<tr>
				<th colspan="20" class="text-left clearfix">
					<form action="<?=U('')?>" class="form-inline pull-left" method="get">
						<select name="cid" class="form-control super_select2" data-placeholder="请选择分类">
							<option value="">请选择分类</option>
							<?=array_to_select($category_list, I('cid'))?>
						</select>
						<select name="is_sale" class="form-control">
							<option value="">上架状态</option>
							<?=array_to_select($is_sale, I('get.is_sale', null, 'int'), ['prefix'=> '', 'add_prefix'=> ''])?>
						</select>
						<select name="recommend" class="form-control">
							<option value="">推荐</option>
							<?=array_to_select($recommend, I('get.recommend', null, 'int'), ['prefix'=> '', 'add_prefix'=> ''])?>
						</select>
						<input name="keywords" type="text" value="<?=I('get.keywords')?>" class="form-control" placeholder="名称" />
						<input type="submit" class="btn btn-default btn-sm" value='搜索' />
					</form>
					<div class="pull-right">
						<?=get_top_btn($menu_info['id'])?>
					</div>
				</th>
			</tr>
		</thead>						
		<tbody>							
			<tr role="row">
				<th class="text-center" width="20">
					<input type="checkbox" class="js_check_all" data-target="ids" />
				</th>
				<th colspan="2">名称</th>
				<th width="200">分类&品牌</th>
				<th width="100">价格</th>
				<th width="100">库存</th>
				<th width="100">运费</th>
				<th width="100">周销量</th>
				<th width="100">总销量</th>
				<th width="100" class="text-center">推荐</th>
				<th width="100" class="text-center">上架状态</th>
				<th width="50" class="text-center">状态</th>
				<th width="100">操作</th>
			</tr>
<?php
		if(!$list) {
?>
			<tr>
				<td colspan="20"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
<?php
		}
		foreach($list as $row){
?>
			<tr>
				<td><input type="checkbox" class="ids" name="ids[]" value="<?=$row['id']?>" data-child="ids" /></td>
				<td class="title-border-right" width="120">
					<img src="<?=_thumb($row['image'], 200, 200)?>" class="text-left" width="100" />
				</td>
				<td class="title-border-left">
					<?=$row['title']?>
				</td>
				<td>
					<p><?=$row['category_html']?></p>
					<?=$row['brand_html']?>
				</td>
				<td>
					<?=$row['price']?>
				</td>
				<td>
					<?=$row['inventory']?>
				</td>
				<td>
					<?=$row['weight']?>
				</td>
				<td>
					<?=$row['sales_week']?>
				</td>
				<td>
					<?=$row['sales']?>
				</td>
				<td class="text-center">
					<?=$recommend[$row['recommend']]['title']?>
				</td>
				<td class="text-center">
					<?=$is_sale[$row['is_sale']]['title']?>
				</td>
				<td class="text-center">
					<img src="__IMG__/status_<?=$row['is_hid']?>.png" alt="">
				</td>
				<td>
<?php
					get_list_btn($menu_info['id'],$row);
?>
				</td>
			</tr>
<?php
		}
?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>