<extend name="Public/body" />
<block name="body">
	<include file="Common@Plugins/editor" />

	<div class="box box-body">
		<form action="" method="post" class="product_form js_form">
		<input name="ids" type="hidden" value="<?=$info['id']?>" />
		<div class="form-group">
			<div class="nav-tabs-custom tabs-foreign">
				<ul class="nav nav-tabs" data-content="js_tab_con">
					<li class="js_tab active"><a href="javascript:void(0)">基本信息</a></li>
					<li class="js_tab"><a href="javascript:void(0)">规格</a></li>
				</ul>
				<div class="tab-content js_tab_con product-content">
					<div class="tab-pane js_tab_content js_tab_con active">
						<div class="form-group">
							<div class="control-label">
								<span class="required">*</span>
								分类：
							</div>
							<div>
								<select class="form-control width_auto super_select2" name="category_id" data-placeholder="请选择分类" datatype="n" nullmsg="请选择分类" errormsg="请选择分类">
									<option value="">请选择分类</option>
									<?=$category_list?>
								</select>
								<span class="Validform_checktip">请选择二级分类</span>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label">
								品牌：
							</div>
							<div>
								<select class="form-control width_auto super_select2" name="brand_id" data-placeholder="请选择品牌" datatype="n" ignore="ignore" errormsg="请选择品牌">
									<option value="">请选择品牌</option>
									<?=$brand_list?>
								</select>								
							</div>
						</div>
						<div class="form-group js_price">
							<div class="control-label">
								<span class="required">*</span>
								名称：
							</div>
							<div>
								<input type="text" class="form-control product_auto" name="title" value="<?=$info['title']?>" datatype="*1-50" nullmsg="请输入名称" errormsg="请输入名称" />
								<span class="Validform_checktip"></span>
							</div>
						</div>
						<div class="form-group js_price">
							<div class="control-label">
								简介：
							</div>
							<div>
								<textarea class="form-control product_auto" rows="3" name="description" datatype="*0-100" errormsg="请输入简介"><?=$info['description']?></textarea>
							</div>
							<span class="Validform_checktip">100个字符以内</span>
						</div>											
						<div class="form-group js_price">
							<div class="control-label">
								<span class="required">*</span>
								价格：
							</div>
							<div>
								<input type="text" class="form-control width_auto js_min_price" name="price" value="<?=$info['price']?>" datatype="money,gt" data-gt_than="0" nullmsg="请输入价格" errormsg="请输入价格" />
								<span class="Validform_checktip">此价格为商品实际销售价格</span>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label">
								<span class="required">*</span>
								市场价：
							</div>
							<div>
								<input type="text" class="form-control width_auto" name='market_price' value="<?=$info['market_price']?>" datatype="money,gt" data-gt_than="0" nullmsg="请输入市场价" errormsg="请输入市场价" />
								<span class="Validform_checktip">此价格仅为市场参考售价</span>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label">
								<span class="required">*</span>
								库存：
							</div>
							<div>
								<input type="text" class="form-control width_auto js_count_stock" name='inventory' value="<?=$info['inventory']?>" datatype="n" nullmsg="请输入库存" errormsg="请输入库存" />
								<span class="Validform_checktip"></span>
							</div>
						</div>
						<div class="form-group js_price">
							<div class="control-label">
								<span class="required">*</span>
								运费：
							</div>
							<div>
								<input type="text" class="form-control width_auto" name="freight" value="<?=$info['freight']?>" datatype="money" nullmsg="请输入运费" errormsg="请输入运费" />
								<span class="Validform_checktip"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label">
								<span class="required">*</span>
								封面图：
							</div>
							<div>
<?php
								$config = array(
									'index'		=> 1,			   
									'table'		=> 'product',    
									'name'		=> 'image',      
									'val_key'	=> 'image',
								);
								echo W('Common/Img/index', array($config, $info['id']));
?>
								<span class="Validform_checktip">建议尺寸：1200 * 1200，支持图片类型：jpg，png</span>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label">详情：</div>
							<div>
<?php 
								$time = time();
?>
								<script id="<?='editor_'.$time?>" type="text/plain" name="content"><?=$info['content']?></script>
							</div>
							<script type="text/javascript">
								var config_2={
									initialFrameWidth:"100%",
									initialFrameHeight:450,
									autoHeightEnabled:false,
									pasteplain:true,//粘贴过滤样式
								};
								//toolbars配置编辑器具体有哪些功能
								//合并配置文件，config为默认配置，config_2为自定义的配置，更多相关编辑器功能配置与含义见项目目录下的/Public/Plugins/ueditor/ueditor.config.js文件
								var new_config=array_merge({},[config,config_2]);
								var editor_<?=$time?>=UE.getEditor('editor_<?=$time?>',new_config);
							</script>
						</div>
						<div class="form-group">
							<div class="control-label">
								排序：
							</div>
							<div>
								<input type="text" class="form-control width_auto" name='sort' value="<?=$info['sort']?>" />
							</div>
						</div>						
<?php
						$is_sale = $recommend = ['', ''];
						$is_sale[$info['is_sale']] = ' checked="checked"';
						$recommend[$info['recommend']] = ' checked="checked"';
?>
						<div class="form-group">
							<div class="control-label">
								<span class="required">*</span>
								上架：
							</div>
							<div>
								<div class="radio">
									<label><input type="radio" name="is_sale" value="1"<?=$is_sale[1]?> />上架</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="is_sale" value="0"<?=$is_sale[0]?> />下架</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label">
								<span class="required">*</span>
								推荐：
							</div>
							<div>
								<div class="radio">
									<label><input type="radio" name="recommend" value="1"<?=$recommend[1]?> />是</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="recommend" value="0"<?=$recommend[0]?> />否</label>
								</div>
							</div>	
						</div>
					</div>
					<div class="tab-pane js_tab_content js_tab_con">
						<?=$spec_html?>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="form-btn clearfix">
			<input type="submit" class="pull-left btn btn-primary" value="<?=$submit?>" />
			<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
				<span class="js_tipContent Validform_checktip"></span>
			</div>
		</div>
		</form>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>
</block>