<div class="js_attribute">
<?php
foreach($spec as $k=>$v_spec) {
	$checked = '';
	if(in_array($v_spec['id'], $spec_exist)) {
		$checked = ' checked="checked"';
	}
?>
<div class="form-group spec_group_dl_<?=$k?> js_spec">
	<div class="control-label">
		<label class="js_check_first js_getArr">
			<input class="hide" type="checkbox" title="<?=$v_spec['title']?>"<?=$checked?> />
			<?=$v_spec['title']?>
		</label>
	</div>
	<div class="product_type js_spec_val">
<?php
	foreach($spec_value[$v_spec['id']] as $v_spec_value) {
		$checked = '';
		if(in_array($v_spec_value['id'], $spec_value_exist[$v_spec['id']])) {
			$checked = ' checked="checked"';
		 }
?>
		<div class="checkbox type_checkbox">
			<label class="js_getArr js_check_id"><input type="checkbox" name="sp_val[<?=$v_spec['id']?>][<?=$v_spec_value['id']?>]" value="<?=$v_spec_value['id']?>" data-title="<?=$v_spec_value['title']?>"<?=$checked?> /><?=$v_spec_value['title']?></label>
		</div>
<?php
	}
?>
		<div class="clearfix"></div>
	</div>
</div>
<?php
}
?>
</div>
<div class="form-group hide js_sku">
	<div class="control-label">
		库存配置：
	</div>
	<div>
		<table class="table table-bordered js_sku_table">
			<thead>
				<tr>	
					<th width="200">规格名称</th>
					<th width="100"><span class="required">*</span>SKU</th>
					<th width="100"><span class="required">*</span>市场价</th>
					<th width="100"><span class="required">*</span>价格</th>
					<th width="100"><span class="required">*</span>库存</th>
					<th width="70" class="text-center">限时购</th>
					<th width="100">限时购价格</th>
					<th width="100">限时购库存</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<script>
	var traver = function($){
	    var arr = []; 
	    var matchArr = [];//存放全匹配后的数据
	    var attrArr = [];//存放属性名称
	    var check_obj = {};//存放id对应的属性名称
	    var local_data = {};
<?php
	if(isset($sku_list)) {
?>
		var local_data = JSON.parse('<?=json_encode($sku_list)?>');
<?php
	}
?>
//	    var local_data = JSON.parse(localStorage.getItem('local_data')); //存放编辑的价格参数，用于本地存储
	    function getName(){
	    	$('.js_check_id').find('input').each(function(){
	    		var _this = $(this);
	    		var _id = _this.val(),
	    			_name = _this.attr('data-title');
	    		check_obj[_id] = _name;
	    	});
	    };
	    function initData(){
	        arr = [];
	        attrArr = [];
	        var i = 0;
	        $('.js_spec').each(function(){
	        	var _this = $(this);
	        	if(_this.find('.js_check_first>input').prop('checked')){
	        		arr[i] = [];
	        		attrArr.push(_this.find('.js_check_first>input').attr('title'));
		        	_this.find('.js_check_id').each(function(){
		        		if($(this).find('input').prop('checked')){
		        			var _id = $(this).find('input').val();
		        			arr[i].push(_id);
		        		}
		        	});
		        	i++;
	        	}
	        });
	        matchArr = arr[0];
	        setMsgStatus(arr);
	    };
	    
	    function arrMatch(index){
	        if(index < arr.length){
	            var newArr = [];
	            var len = matchArr.length;
	            for(i = 0; i < len; i ++){
	                for(j = 0; j < arr[index].length; j ++){
	                    newArr.push(matchArr[i].toString()+','+arr[index][j].toString());
	                }
	            }
	            matchArr = newArr;
	            arrMatch(index+1);
	        }else{
	        	createTable();
	           return; 
	        }
	    };

	    function setMsgStatus(arr){
	    	if(arr.length > 0){
	        	$('.js_min_price,.js_count_stock').attr('readonly','readonly');
	        }else{
	        	$('.js_min_price,.js_count_stock').removeAttr('readonly');
	        }
	    };

	    function countNumber(index,limit){
	    	var count = 0;
	    	$('.js_sku_table tbody').find('tr').each(function(){
	    		var _this = $(this);
	    		if(limit == 'limit'){
	    			if(_this.find('td').eq(index-2).find('input').prop('checked')){
	    				count += Number(_this.find('td').eq(index).find('input').val());
		    		}
	    		}else{
	    			count += Number(_this.find('td').eq(index).find('input').val());
	    		}
	    	});
	    	return count;
	    };

	    function getMinNumber(index,limit){
	    	var $tr = $('.js_sku_table tbody').find('tr');
	    	var len = $tr.length;
	    	var min = $('.js_sku_table tbody').find('tr:first').find('td').eq(index).find('input').val();
	    	for(var i = 1;i < len; i++){
	    		var number = $tr.eq(i).find('td').eq(index).find('input').val();
	    		if(limit == 'limit'){
	    			if($tr.eq(i).find('td').eq(index-1).find('input').prop('checked')){
	    				if(min > number){
			    			min = number;
			    		}
		    		}
	    		}else{
	    			if(min > number){
		    			min = number;
		    		}
	    		}
	    	}
	    	return min;
	    };

	    function createTable(){
	    	var i = 0,len = attrArr.length;
	    	var $table = $('.js_sku').find('.js_sku_table');
	    	$table.empty();
	    	if(len <= 0){
	    		$('.js_sku').addClass('hide');
	    		return false;
	    	}
	    	createTableHead($table);
	    	createTableBody($table);
	    	$('.js_sku').removeClass('hide');
	    	$table = null;
	    };

	     function createTableHead($table){
	    	var $head = $('<thead><tr></tr></thead>').appendTo($table);
	    	var i= 0,len = attrArr.length;
	    	for(; i < len; i++){
	    		$('<th width='+parseInt(200/len)+'>'+attrArr[i]+'</th>').appendTo($head.find('tr'));
	    	}
	    	var html = '<th width="100" class="js_control_price"><span class="required">*</span>市场价<a href="javascript:;" style="padding-left:8px;">批量操作</a><input type="number" min="0" value="" class="hide" style="width:60px;height:22px;margin-left:8px;"/></th>\
						<th width="100" class="js_control_price"><span class="required">*</span>价格<a href="javascript:;" style="padding-left:8px;">批量操作</a><input type="number" min="0" value="" class="hide" style="width:60px;height:22px;margin-left:8px;"/></th>\
						<th width="100" class="js_control_price"><span class="required">*</span>库存<a href="javascript:;" style="padding-left:8px;">批量操作</a><input type="number" min="0" value="" class="hide" style="width:60px;height:22px;margin-left:8px;"/></th>';
			$(html).appendTo($head.find('tr'));
	    	$head = null;
	    };

	    function createTableBody($table){
	    	var $body = $('<tbody></tbody>').appendTo($table);
	    	var i = 0,len = matchArr.length;
	    	for(; i < len; i++){
	    		var key = matchArr[i].replace(/,/g,'_');
	    		if(local_data[key] == undefined){
	    			local_data[key] = {
	    				sku_id: 0,
	    				market_price: '',
	    				price: '',
	    				stock: '0',
	    			};
	    		}
	    		var $tr = $('<tr data-key='+key+'></tr>').appendTo($body);
	    		createAttrPrameter(matchArr[i],$tr);
	    		var html = '<td width="100"><input class="form-control" type="text" data-name="market_price" name="spec[i_'+key+'][market_price]" value="'+local_data[key].market_price+'" datatype="money,gt" data-gt_than="0" nullmsg="请输入市场价" errormsg="请输入市场价" /></td>\
	    					<td width="100"><input class="form-control" type="text" data-name="price" name="spec[i_'+key+'][price]" value="'+local_data[key].price+'" datatype="money,gt" data-gt_than="0" nullmsg="请输入价格" errormsg="请输入价格" /></td>\
	    					<td width="100"><input class="form-control" type="number" min="0" data-name="stock" name="spec[i_'+key+'][stock]" value="'+local_data[key].stock+'" datatype="n" nullmsg="请输入库存" errormsg="请输入库存" /></td>\
	    					<input type="hidden" name="spec[i_'+key+'][sp_value]" value="'+key+'" />';
	    		var sku_id_html = '';
	    		if(local_data[key].sku_id > 0) {
	    			sku_id_html = '<input type="hidden" name="spec[i_'+key+'][sku_id]" value="'+local_data[key].sku_id+'" />';
	    		}
	    		html += sku_id_html;
	    		$(html).appendTo($tr);	    		
	    		if(local_data[key].limited == 'false'){
	    			$tr.find('input[type=checkbox]').prop('checked',false);
	    		}else{
	    			$tr.find('input[type=checkbox]').prop('checked',true);
	    		}
	    		$tr = null;
	    	}
	    	$body = null;
	    };
	    function createAttrPrameter(str,$tr){
	    	var newArr = str.split(',');
	    	var i = 0,len = newArr.length;
	    	for(; i < len; i++){
	    		$('<td width='+parseInt(200/len)+'>'+check_obj[newArr[i]]+'</td>').appendTo($tr);
	    	}
	    };
	    function isChecked(_parent){
	    	var flag = false;
	    	_parent.find('.js_check_id').each(function(){
    			if($(this).find('input').prop('checked')){
    				flag = true;
    			}
    		});
    		return flag;
	    };

	    function getEditData(_this){
	    	var key = _this.parents('tr').attr('data-key');
    		var name = _this.attr('data-name');
    		switch(name){
    			case 'market_price':
    				local_data[key].market_price = _this.val();
    				break;
    			case 'price':
    				local_data[key].price = _this.val();
    				var min = getMinNumber(_this.parents('td').index());
    				$('.js_min_price').val(min);
    				break;
    			case 'stock':
    				local_data[key].stock = _this.val();
    				var count = countNumber(_this.parents('td').index());
    				$('.js_count_stock').val(count);
    				break;
    		}
    		// localStorage.setItem("local_data", JSON.stringify(local_data));
	    };
	    return{
	        getData : function(){
	            initData();
	            arrMatch(1);
	        },
	        addEvent : function(){
	        	if(local_data == null){
	        		local_data = {};
	        	}
	        	getName();
	        	traver.getData();
	        	$(document).on('click','.js_check_id',function(){
	        		var _this = $(this);
	        		if(_this.find('input').prop('checked')){
	        			_this.parents('.js_spec').find('.js_check_first>input').prop('checked',true);
	        		}
	        		var _parent = _this.parents('.js_spec_val');
	        		if(!isChecked(_parent)){
	        			_this.parents('.js_spec').find('.js_check_first>input').prop('checked',false);
	        			var _index = _this.parents('.js_spec').index();
	        			arr.splice(_index,1);
	        		}
	        		traver.getData();
	        	});

	        	$(document).on('click','.js_sku_table input[type=checkbox]',function(){
		    		var _this = $(this);
		    		getEditData(_this);
		    	});
		    	$(document).on('focusout','.js_sku_table input[type=number]',function(){
		    		var _this = $(this);
		    		getEditData(_this);
		    	});

		    	$(document).on('click','.js_control_price a',function(){
		    		var _parent = $(this).parents('.js_control_price');
		    		_parent.find('a').addClass('hide');
		    		_parent.find('input').removeClass('hide').focus();
		    		_parent = null;

		    	});
		    	$(document).on('focusout','.js_control_price input',function(){
		    		var _this = $(this);
		    		var _parent = _this.parents('.js_control_price');
		    		_parent.find('a').removeClass('hide');
		    		_parent.find('input').addClass('hide');
		    		var _val = _this.val();
		    		if(_val == ''){
		    			return false;
		    		}
		    		var _index = _parent.index();
		    		$('.js_sku_table').find('tbody').find('tr').each(function(){
		    			$(this).find('td').eq(_index).find('input').val(_val);
		    			getEditData($(this).find('td').eq(_index).find('input'));
		    		});
		    		_parent = null;
		    	});
	        }
	    }
	}(jQuery);
	$(function(){
		traver.addEvent();
	});
</script>