<extend name="Account/base" />
<block name="body">
	<div class="container clearfix">
		<div class="pull-left top_log">
			<a href="<?=U('/')?>"><!-- <img src="__IMG__/logo.png"> -->LOGO</a>
			<span>找回密码</span>
		</div>
	</div>
	<!--	忘记密码 第二步  S-->
	<div class="container">
		<ul class="list-inline list-unstyled password_step">
			<li class="step_num finished_num"><span>1</span>确认账号</li>
			<li class="step_length finished_length"></li>
			<li class="step_num finished_num"><span>2</span>设置密码</li>
			<li class="step_length finished_length"></li>
			<li class="step_num"><span>3</span>完成</li>
		</ul>

		<div class="step_tow comm_step clearfix">
			<form class="js_form" action="" method="post">
				<div class="form-group clearfix">
					<span class="title">新密码：</span>
					<div class="getverify clearfix">
						<input class="form-control" type="password" name="password" datatype="*6-12" nullmsg="请输入新密码" errormsg="密码长度需要再6-16位之间" class="col-xs-12"  value="" placeholder="请输入新密码" />
					</div>
				</div>
				<div class="form-group clearfix">
					<span class="title">确认密码：</span>
					<div class="getverify clearfix">
						<input class="form-control" type="password" name="repassword" datatype="*" recheck="password" nullmsg="请再次输入密码" errormsg="确认密码请与新密码保持一致" class="col-xs-12"  value="" placeholder="请输入新密码" />
					</div>
				</div>
				<div class="form-group submitbox clearfix">
					<div class="message">
						<div class="js_validTips" style="display:none;">
							<span class="js_tipContent Validform_checktip" style="float:none;line-height:normal;height:auto;"></span>
						</div>
					</div>
					<input class="btn btn-orange btn-block" type="submit" value="下一步" />
				</div>
			</form>
		</div>
	</div>
	<!--	忘记密码 第二步  E-->
</block>