<extend name="Account/base" />
<block name="body">
	<div class="container clearfix">
		<div class="pull-left top_log">
			<a href="<?=U('/')?>"><!-- <img src="__IMG__/logo.png"> -->LOGO</a>
			<span>找回密码</span>
		</div>
	</div>
	<!--	忘记密码 第三步  S-->
	<div class="container">
		<ul class="list-inline list-unstyled password_step">
			<li class="step_num finished_num"><span>1</span>确认账号</li>
			<li class="step_length finished_length"></li>
			<li class="step_num finished_num"><span>2</span>设置密码</li>
			<li class="step_length finished_length"></li>
			<li class="step_num finished_num"><span>3</span>完成</li>
		</ul>
		<div class="step_three clearfix">
			<div class="complete">
				<span>密码修改完成！</span>
			</div>
			<div class="jump"><span>3</span>秒后自动跳转至登录页面</div>
			<a href="__ROOT__" class="btn btn-orange btn-block">返回首页</a>
		</div>
	</div>
	<!--	忘记密码 第三步  E-->
</block>
<block name="script">
	<script>
		function countdown(count){
			setTimeout(function(){
				$('.jump').find('span').text(count);
				count--;
				countdown(count);
				if(count == -1){
					window.location.href = "<?=U('User/Account/Login/index')?>";
				}
			},1000);
		}
		countdown(2);
	</script>
</block>