<!-- 加入购物车 -->
<div class="bs modal fade bs-example-modal-sm dialog_modal addCart" style="z-index:1041;margin-top: 80px;">
	<div class="js_modal-dialog modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="dialog_header clearfix">
					<div class="pull-right">
						<i class="iconfont f20 js_close" style="cursor: pointer;">&#xe642;</i>
					</div>
				</div>
				
				<div class="success_dialog">
					<div class="subbox clearfix">
						<i class="iconfont" style="">&#xe61a;</i>
						<div>
							<span>商品已成功加入购物车</span><span>您还可以</span>
							<div class="btngroup">
								<a class="btn btn-orange" href="<?=U('Mall/Cart/Cart/index')?>">去购物车</a> 
								<a class="btn btn-default again" href="<?=U('Mall/Index/Index/index')?>" style="margin-left:20px;">继续浏览</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
