<!--单品详情页  -->
<extend name="Common/body"/>
<block name="style">
<css href="__CSS__/product.css" />
<style type="text/css">
.container{width:1200px;}
</style>
</block>
<block name="body">
	<div class="container clearfix">
		<div class="list_left">
			<!-- 搜索结果 －S -->
			<ul class="com_nav list-unstyled clearfix">
				<li class="no_arrow">搜索结果：</li>
				<li><a href="<?=U('Home/Index/Index/index')?>">首页</a></li>
				<li><a href="<?=U('Home/Product/Index/index')?>">产品</a></li>
				<li><a href="<?=U('Home/Product/Index/index')?>">家用/厨房电器</a></li>
				<li class="li_active">5L球釜内胆智能高压锅 CYSB50YCW21QJ-100</li>
			</ul>
			<!-- 搜索结果 －E -->
			<div class="clearfix">
				<!-- 图片展示 -->
				<div class="pull-left">
					<div class="imagelist">
						<a id="js_show" class="large">
							<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/57b4337553fb6.png" rel="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/57b4337553fb6.png" width="100%" height="100%" class="jqzoom" alt="" style="cursor: crosshair;">
						</a>
						<div class="imageSlider mini_pic">
							<ul class="small list-unstyled clearfix js_imgchange mini_ul">
								<li class="mini_pic_click">
									<img width="100%" height="100%" src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/57b4337553fb6.png" data-mid="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/57b4337553fb6.png" data-big="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/57b4337553fb6.png">
								</li>
								<li class="mini_pic_click">
									<img width="100%" height="100%" src="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337c869f5.jpg" data-mid="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337c869f5.jpg" data-big="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337c869f5.jpg">
								</li>
								<li class="mini_pic_click">
									<img width="100%" height="100%" src="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f22950.jpg" data-mid="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f22950.jpg" data-big="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f22950.jpg">
								</li>
								<li class="mini_pic_click">
									<img width="100%" height="100%" src="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f90a1d.png" data-mid="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f90a1d.png" data-big="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f90a1d.png">
								</li>
								<li class="mini_pic_click">
									<img width="100%" height="100%" src="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337c869f5.jpg" data-mid="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337c869f5.jpg" data-big="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337c869f5.jpg">
								</li>
								<li class="mini_pic_click">
									<img width="100%" height="100%" src="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f22950.jpg" data-mid="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f22950.jpg" data-big="http://test.cnsunrun.com/baiji/Uploads/Product/Photo/57b4337f22950.jpg">
								</li>
							</ul>
							<div class="imageCheck clearfix">
								<span class="prev"></span>
								<span class="next"></span>
							</div>
						</div>
					</div>
				</div>
				<!--属性定价S-->
				<div class="js_attr_price">
					<ul class="clearfix hidden" data-value="0" data-id="133" data-price="230.00"></ul>
				</div>
				<div class="pull-right singel_top">
					<h5 class="f18 color_0 ellipsis">5L球釜内胆智能高压锅 CYSB50YCW21QJ-100</h5>
					<p class="f14 color_9">苏泊尔（SUPOR）电压力锅(一锅双胆)5L球釜内胆智能高压锅 CYSB50YCW21QJ-100</p>
					<div class="pricebox">
						<ul class="list-unstyled clearfix">
							<li class="f14">价格</li>
							<li class="color_orange f26"><strong class="js_discount f24">￥230.00</strong></li>
						</ul>
					</div>

					<!-- 产品属性／规格 －S -->
					<!-- 产品颜色 -->
					<div class="pr_number clearfix" data-order="1">
						<span class="pull-left f14" style="padding:20px 5px;">颜色</span>
						<ul class="list-unstyled clearfix js_type">
							<li data-key="1" class="js_money select"><span>银灰色</span><i class="bg_check"></i></li>
							<li data-key="2" class="js_money"><span>土豪金</span><i class="bg_check"></i></li>
						</ul>
						<input class="js_product_type" type="hidden" name="product_type" value="" />
					</div>

					<div class="pr_number clearfix" data-order="2">
						<span class="pull-left f14" style="padding:20px 5px;">选择套装</span>
						<ul class="list-unstyled clearfix js_type">
							<li data-key="1" class="js_money select"><span>一件</span><i class="bg_check"></i></li>
							<li data-key="2" class="js_money"><span>套装2件</span><i class="bg_check"></i></li>
						</ul>
						<input class="js_product_type" type="hidden" name="product_type" value="" />
					</div>
					<!-- 产品属性／规格 －E -->

					<div class="ordernum clearfix">
						<span class="pull-left f14">订购数量</span>
						<ul class="list-unstyled pull-left clearfix" style="margin-left:24px;">
							<span class="reduce bggray js_reduce">-</span>
							<input class="js_count" name="num" type="text" value="1">
							<span class="add js_add">+</span>
						</ul>
						<div class="pull-left js_collect" data-url="/baiji/Mall/Base/Collect/collect_apply.html" data-id="90">
							收藏产品
						</div>
					</div>
					
					<!-- 表单数据 -->
					<form class="js_form" action="<?=U('Home/Cart/Cart/index')?>">
						<input type="hidden" name="product_type" value="1">
						<input class="js_count" name="id" type="hidden" value="90">
						<input class="js_count" name="num" type="hidden" value="1">
						<input class="js_price" name="data-value" type="hidden" value="">
						<input name="attribute_id" type="hidden" value="133">
					</form>
					
					<form action="<?=U('Home/Cart/Cart/index')?>" method="post">
						<input name="attribute_id" type="hidden" value="133">
						<input type="hidden" name="product_type" value="2">
						<input class="js_count" name="num" type="hidden" value="1">
						<ul class="list-unstyled btnbox margin_t20">
							<input type="submit" class="btn btn-orange" value="立即购买">
							<a href="javascript:;" class="btn btn-success clearfix js_addCart" data-url="<?=U('add')?>">
								<img src="__IMG__/cart_icon.png" width="18" height="18">
								<span>加入购物车</span>
							</a>
						</ul>
					</form>
				</div>
			</div>
			<!-- 产品详情 -->
			<div class="row_min">
				<div class="toplist">
					<ul class="list-unstyled clearfix js_scroll">
						<li class="on"><span>产品参数</span><i></i></li>
						<li><span>产品详情</span><i></i></li>
						<li><span>服务保障</span><i></i></li>
						<li><span>购买评价</span><span class="number">(0)</span><i></i></li>
					</ul>
				</div>
				
				<div class="content">
					<!-- 产品参数 S -->
					<div class="js_index_0" style="padding:15px;border:1px solid #ddd;border-top:none;">
						<table class="f14">
							<tbody>
								<tr>
									<td>产品名称：</td>
									<td>5L球釜内胆智能高压锅 CYSB50YCW21QJ-100</td>
								</tr>
								<tr>
									<td>品牌：</td>
									<td>苏泊尔</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 产品参数 E -->
					<!-- 产品详情 S -->
					<div class="js_index_1" style="border:1px solid #ddd;border-top:none;padding:15px;">
						<img src="http://test.cnsunrun.com/baiji/Uploads/UserFile/Image//20160817/57b433a3434bd.png" class="">
					</div>
					<!-- 产品详情 E -->
					<!-- 声明S -->
					<!-- 服务保障 -->
					<ul class="ensure list-unstyled js_index_2">
						<li class="clearfix">
							<span><i class="iconfont"></i></span>
							<div class="text">
								<strong>正品保证</strong>
								<p>尚软科技向您保证所售产品均为正品行货</p>
							</div>
						</li>
						<li class="clearfix">
							<span><i class="iconfont"></i></span>
							<div class="text">
								<strong>全国联保</strong>
								<p>凭质量保证书及售货发票，可享受全国联保服务（奢侈品、钟表除外），让您购买的产品享受质量保证。尚软科技还为您提供具有竞争力的产品价格和运费政策，请您放心购买。</p>
								<p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本站不能确保客户收到的货物与图片、产地、附件说明完全一致，只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本站没有及时更新，请大家谅解！</p>
							</div>
						</li>
						<li class="clearfix">
							<span><i class="iconfont"></i></span>
							<div class="text">
								<strong>无忧退换货</strong>
								<p>客户购买尚软科技产品7日内（含7日，自客户收到产品之日算起），在保证产品完好的前提下，可无理由退换货。（部分产品除外）</p>
							</div>
						</li>
					</ul>

					<ul class="state list-unstyled">
						<li>
							<h4>权利声明：</h4>
							<p>尚软科技上的所有产品信息、客户评价、产品咨询、网友讨论等内容，是尚软科技重要的经营资源，未经许可，禁止非法转载使用。</p>
							<p><strong>注：</strong>本站内产品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
						</li>
					</ul>
					<!-- 声明E -->
					<div class="comment_list js_index_3">
						<!-- 产品评价 S -->
						<div class="commbox">
							<div class="topbox clearfix" style="border:0;">
								<div class="pull-left"><i></i><span class="f14">产品评价</span></div>
							</div>
							<div class="evaluate f14 clearfix">
								<div class="rate">
									<p>0%</p>
									<span>综合好评率</span>
								</div>
								<ul class="compare">
									<li class="clearfix">
										<span class="desc">发货速度：<span>0.00</span>分</span>
										<span class="star"><div class="star star_cur" style="width:0%"></div></span>
									</li>
									<li class="clearfix">
										<span class="desc">描述相符：<span>0.00</span>分</span>
										<span class="star"><div class="star star_cur" style="width:0%"></div></span>
									</li>
									<li class="clearfix">
										<span class="desc">服务相符：<span>0.00</span>分</span>
										<span class="star"><div class="star star_cur" style="width:0%"></div></span>
									</li>
								</ul>
							</div>
						</div>
						<!-- 产品评价 E -->

						<!-- 全部评论 S -->
		
						<div class="commbox" style="position:relative;">
							<div class="topbox f14 clearfix" style="border:0;">
								<ul class="top_message list-unstyled clearfix">
									<a href="javascript:;" data-ids="90" class="cur all_comment js_all_comment" data-url="<?=U('')?>" data-type="">全部评论（<span>0</span>）</a>

									<a href="javascript:;" data-ids="90" class="all_comment js_all_comment" data-url="<?=U('')?>" data-type="1">有图（<span>0</span>）</a>
									<a href="javascript:;" data-ids="90" class="all_comment js_all_comment" data-url="<?=U('')?>" data-type="2">好评（<span>0</span>）</a>
									<a href="javascript:;" data-ids="90" class="all_comment js_all_comment" data-url="<?=U('')?>" data-type="3">中评（<span>0</span>）</a>
									<a href="javascript:;" data-ids="90" class="all_comment js_all_comment" data-url="<?=U('')?>" data-type="4">差评（<span>0</span>）</a>
								</ul>
							</div>
							<div class="eval_list js_eval_list">
								<!-- 评论列表E -->
								<include file="comment_list_bak" />
								<div class="noneshowlist text-center" style="height:auto;line-height:normal;">
									<h4>暂无相关评论</h4>
									<div style="margin:10px 0;height:auto;line-height:normal;"></div>
								</div>
								<!-- 评论列表S -->
							</div>
			                <div class="loading js_loading">
			                    <div class="tips js_loading_tips"></div>
			                    <div class="error_tips js_error_tips"></div>
			                </div>
						</div>
						<!-- 全部评论 E -->
					</div>
				</div>
			</div>
		</div>
		<div class="list_right">
			<include file="recommend" />
		</div>
	</div>
	<!-- 加入购物车 -->
</block>
<block name="script">
<js href="__PLUGIN__/srjs/slider.js" />
<js href="__PLUGIN__/jquery.imagezoom.js" />
<js href="__JS__/product_detail.js" />
</block>