<extend name="Common/body"/>
<block name="style">
<css href="__CSS__/product.css" />
</block>
<block name="body">
<div class="container clearfix">
	<div class="product_list pull-left">
		<!-- 搜索结果 －S -->
		<ul class="com_nav list-unstyled clearfix">
			<li class="no_arrow">搜索结果：</li>
			<li><a href="<?=U('Home/Index/Index/index')?>">首页</a></li>
			<li><a href="<?=U('Home/Product/Index/index')?>">产品</a></li>
			<li class="li_active">家用/厨房电器</li>
		</ul>
		<!-- 搜索结果 －E -->
		<!-- 筛选 －S -->
		<div class="filter_box">
			<div class="filter clearfix">
				<span>品牌：</span>
				<div class="typelist clearfix">
					<a href="#">美的</a>
					<a href="#">海尔</a>
					<a href="#">九阳</a>
					<a href="#">苏泊尔</a>
				</div>
			</div>
					
			<div class="filter clearfix">
				<span>宽度：</span>
				<div class="typelist one_line clearfix">
					<div class="list clearfix">
						<a href="#">56~60cm</a>
					</div>
				</div>
			</div>
				
			<div class="filter clearfix">
				<span>高度：</span>
				<div class="typelist one_line clearfix">
					<div class="list clearfix">
						<a href="#">76~80cm</a>
					</div>
					<!-- <div class="more js_more">
						<i class="iconfont">&#xe623;</i>
					</div> -->
				</div>
			</div>
				
			<div class="filter clearfix">
				<span>产品类型：</span>
				<div class="typelist one_line clearfix">
					<div class="list clearfix">
						<a href="#">洗烘一体</a>
					</div>
					<!-- <div class="more js_more">
						<i class="iconfont">&#xe623;</i>
					</div> -->
				</div>
			</div>
				
			<div class="filter clearfix">
				<span>电机类型：</span>
				<div class="typelist one_line clearfix">
					<div class="list clearfix">
						<a href="#">变频（节能）</a>
					</div>
					<!-- <div class="more js_more">
						<i class="iconfont">&#xe623;</i>
					</div> -->
				</div>
			</div>
				
			<div class="filter clearfix">
				<span>屏幕分辨率：</span>
				<div class="typelist one_line clearfix">
					<div class="list clearfix">
						<a href="#">1980*1024</a>
					</div>
					<!-- <div class="more js_more">
						<i class="iconfont">&#xe623;</i>
					</div> -->
				</div>
			</div>
				
			<div class="filter clearfix">
				<span>类别：</span>
				<div class="typelist one_line clearfix">
					<div class="list clearfix">
						<a href="#">台扇</a>
						<a href="#">单冷</a>
						<a href="#">转页扇</a>
						<a href="#">落地扇</a>
					</div>
					<!-- <div class="more js_more">
						<i class="iconfont">&#xe623;</i>
					</div> -->
				</div>
			</div>
		</div>
		<!-- 筛选 －E -->
		<!-- 产品列表头部 －S -->
		<div class="margin_t20 top_box clearfix">
			<div class="sortbox pull-left clearfix">
				<a class="current" href="<?=U('',$get)?>">综合排序</a>
				<a href="<?=U('',$get)?>">销量</a>
				<a href="<?=U('',$get)?>">价格</a>
				<a href="<?=U('',$get)?>">评论数</a>
				<a href="<?=U('',$get)?>">上架时间</a>
			</div>
			<div class="pull-right clearfix">
				<a href="<?=U('index')?>" class="thumb"></a>
				<a href="<?=U('list')?>" class="list current"></a>
				<div class="simple_page">
					<a href="<?=$url_last?>">&lt;</a>
					<span class="hover js_nowpage">1</span>/<span class="color_3 js_pagecount">5</span>
					<a href="<?=$url_next?>" class="last">&gt;</a>
				</div>
			</div>
		</div>
		<!-- 产品列表头部 －E -->
		<!-- 产品列表 －S -->
		<div class="one_col clearfix">
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b4337553fb6.png" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">5L球釜内胆智能高压锅 CYSB50YCW21QJ-1005L球釜内胆智能高压锅 CYSB50YCW21QJ-1005L球釜内胆智能高压锅 CYSB50YCW21QJ-100</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥230.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b2cab9b2c11.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">海尔（Haier）BCD-216SDN</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥1599.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b41d78dc965.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">西门子WM10N1C80W</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥3699.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b44d602d8a6.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">海尔凉之静KFR-32GW/（32556）FNDe-3</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥2857.14</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b407dac11f6.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">0asasaSADASA3FAAAL23AXU1套机</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥3570.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b40dd68660e.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">海尔电热水器 EC6002-R</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥2222.22</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b40f910ef3d.png" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">海尔冰箱 BCD-451WDIYU1</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥3500.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b4101c74190.png" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">海尔电压力锅 HPC-YS5014</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥299.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b4254a35356.png" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">MOOKA4K电视 U55A5 hot</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥2887.78</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b42fea96c20.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">FS40-13ER 五叶遥控落地扇/电风扇</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥198.89</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b430c12badd.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">FT-18G613 办公 学习迷你夹扇 台扇/电风扇</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥44.44</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b43228653dd.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">5L 双胆高压锅 智能家用压力锅 W12PCS505E</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥240.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b432e1f133d.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">九阳（Joyoung）电压力锅（双胆 智能 旋控）</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥278.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b434a2019ad.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">免滤快速制浆1300ml（可制作米糊）DJ13B-D08EC</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥300.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b43523dd1c1.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">DJ12B-A11EC 无网智能保温多功能豆浆机</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥1000.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b4357d27e45.gif" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">豆浆机DJ13E-Q1智能wifi免滤预约1300ml</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥1000.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b437b4acb64.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">多功能免滤豆浆机DJ13B-C650SG豆浆机1300ml</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥600.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b43bb4b43d4.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">大面板侧吸式抽油烟机 CXW-180-DJ118</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥1300.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b43c23020f0.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">18大吸力欧式烟机  E900T2+QE636B</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥2000.00</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b43cef72e4c.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="product_title">
					<a href="#">海尔（Midea）FS40-13ER 五叶遥控落地扇/电风扇</a>
					<div class="other">
						<span>销量：100</span>
						<span>评论：90</span>
					</div>
				</div>
				<h4 class="price hover">¥332.22</h4>
				<div class="btn_box">
					<a href="#" class="btn btn-xs ajax-get">加入收藏</a>
					<a href="#" class="btn btn-xs">立即购买</a>
					<a href="#" class="btn btn-xs ajax-get">加入购物车</a>
				</div>
			</div>
		</div>
		<div class="pages text-center">
			<form action="" method="get" class="js_pages">
				<a href="javascript:void(0)" class="cur">1</a>
				<a href="#">2</a>
				<a class="next" href="#">&gt;</a>
				<span>共<span class="js_count">2</span>页，到第</span>
				<input class="form-control input-sm" style="width:60px;display:inline;" type="text" name="p">
				<span>页</span>
				<input class="submit btn btn-orange btn-sm page-submit" type="submit" value="确定">  
			</form>
		</div>
		<!-- 产品列表 －E -->
	</div>
	<!-- 产品热卖区 -－S -->
	<div class="list_content pull-right">
		<h5 class="mini_title">热门产品</h5>
		<div class="mini_box clearfix">
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b4337553fb6.png" width="100%" alt="">
					</a>
				</div>
				<div class="footer clearfix">
					<div class="price_box clearfix">
						<h4 class="pull-left hover">¥230.00</h4>
						<div class="pull-right">
							<span>销量：100</span>
							<span>评论：90</span>
						</div>
					</div>
					<div class="product_title">
						<a href="#">5L球釜内胆智能高压锅 CYSB50YCW21QJ-1005L球釜内胆智能高压锅 CYSB50YCW21QJ-1005L球釜内胆智能高压锅 CYSB50YCW21QJ-100</a>
					</div>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b2cab9b2c11.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="footer clearfix">
					<div class="price_box clearfix">
						<h4 class="pull-left hover">¥1599.00</h4>
						<div class="pull-right">
							<span>销量：100</span>
							<span>评论：90</span>
						</div>
					</div>
					<div class="product_title">
						<a href="#">海尔（Haier）BCD-216SDN</a>
					</div>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b41d78dc965.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="footer clearfix">
					<div class="price_box clearfix">
						<h4 class="pull-left hover">¥3699.00</h4>
						<div class="pull-right">
							<span>销量：100</span>
							<span>评论：90</span>
						</div>
					</div>
					<div class="product_title">
						<a href="#">西门子WM10N1C80W</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 产品热卖区 -－E -->
</div>
</block>