<!-- 产品热卖区 -－S -->
	<div class="list_content pull-right">
		<h5 class="mini_title">热门产品</h5>
		<div class="mini_box clearfix">
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b4337553fb6.png" width="100%" alt="">
					</a>
				</div>
				<div class="footer clearfix">
					<div class="price_box clearfix">
						<h4 class="pull-left hover">¥230.00</h4>
						<div class="pull-right">
							<span>销量：100</span>
							<span>评论：90</span>
						</div>
					</div>
					<div class="product_title">
						<a href="#">5L球釜内胆智能高压锅 CYSB50YCW21QJ-1005L球釜内胆智能高压锅 CYSB50YCW21QJ-1005L球釜内胆智能高压锅 CYSB50YCW21QJ-100</a>
					</div>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b2cab9b2c11.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="footer clearfix">
					<div class="price_box clearfix">
						<h4 class="pull-left hover">¥1599.00</h4>
						<div class="pull-right">
							<span>销量：100</span>
							<span>评论：90</span>
						</div>
					</div>
					<div class="product_title">
						<a href="#">海尔（Haier）BCD-216SDN</a>
					</div>
				</div>
			</div>
			<div class="log_list" data-id="10">
				<div class="cover">
					<a href="<?=U('detail')?>">
						<img src="http://test.cnsunrun.com/baiji/Uploads/Product/Cover/M57b41d78dc965.jpg" width="100%" alt="">
					</a>
				</div>
				<div class="footer clearfix">
					<div class="price_box clearfix">
						<h4 class="pull-left hover">¥3699.00</h4>
						<div class="pull-right">
							<span>销量：100</span>
							<span>评论：90</span>
						</div>
					</div>
					<div class="product_title">
						<a href="#">西门子WM10N1C80W</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 产品热卖区 -－E -->