<!--单品详情页  -->
<extend name="Common/body"/>
<block name="style">
<css href="__CSS__/product.css" />
</block>
<block name="body">
	<div class="singlebox container margin_t20 clearfix">
		<div class="list_left w940">
			<div class="clearfix">
				<!-- 图片展示 -->
				<div class="pull-left">
					<div class="imagelist w373">
						<a id="js_show" class="large">
							<img onerror="nofind();" src="__IMG__/shop/single_list.jpg" rel="__IMG__/shop/single_list.jpg" width="100%" height="100%" class="jqzoom"/>
						</a>
						<div class="imageSlider mini_pic">
							<ul class="small clearfix js_imgchange mini_ul">
								<li class="on mini_pic_click"><img onerror="nofind();" width="100%" height="100%" src="__IMG__/goods/black_1200-1600.jpg" mid="__IMG__/goods/black_1200-1600.jpg" big="__IMG__/goods/black_1200-1600.jpg"/></li>
								<li><img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" mid="__IMG__/shop/single_list.jpg" big="__IMG__/shop/single_list.jpg"/></li>
								<li><img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" mid="__IMG__/shop/single_list.jpg" big="__IMG__/shop/single_list.jpg"/></li>
								<li><img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" mid="__IMG__/shop/single_list.jpg" big="__IMG__/shop/single_list.jpg"/></li>
								<li><img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" mid="__IMG__/shop/single_list.jpg" big="__IMG__/shop/single_list.jpg"/></li>
								<li><img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" mid="__IMG__/shop/single_list.jpg" big="__IMG__/shop/single_list.jpg"/></li>
								<li><img onerror="nofind();" width="100%" height="100%" src="__IMG__/shop/single_list.jpg" mid="__IMG__/shop/single_list.jpg" big="__IMG__/shop/single_list.jpg"/></li>
							</ul>
							<div class="imageCheck clearfix">
								<span class="prev"></span>
								<span class="next"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="pull-right singel_top_r w550">
					<strong class="f18 color_0 ellipsis w_p100">绿诺 NANOLEAF boom LED球灯泡</strong>
					<p class="f14 color_9">造型奇特新颖、光线明亮柔和、使用方便节能。亮度可调节的设计非常人性化，但却又不需要调光器的可调光灯泡。</p>
					<div class="pricebox">
						<ul class="clearfix">
							<li class="f14 color_4">价格</li>
							<li class="color_orange f26"><strong>￥178</strong></li>
							<li class="discount color_ff f12"><span  style="padding:0 5px;">9折</span><i class="triangle_l"></i></li>
							<li class="line_th color_9 f12">￥198</li>
							<li class="limited color_ff f12">限时折扣（12.16-1.5）</li>
						</ul>
					</div>

					<!-- 产品型号 -->
					<div class="pr_number clearfix">
						<span class="pull-left color_4 f14" style="padding:20px 5px;">产品型号</span>
						<ul class="margin_l72 clearfix js_type">
							<li type-id="1"><span>石墨黑1200流明&nbsp;&nbsp;黄光</span><i class="bg_check"></i></li>
							<li type-id="2" class="select"><span>石墨黑1200流明&nbsp;&nbsp;白光</span><i class="bg_check"></i></li>
							<li type-id="3"><span>石墨黑1200流明&nbsp;&nbsp;黄光</span><i class="bg_check"></i></li>
							<li type-id="4"><span>石墨黑1200流明&nbsp;&nbsp;白光</span><i class="bg_check"></i></li>
							<li type-id="5" class="disabled"><span>石墨黑1200流明&nbsp;&nbsp;黄光</span><i class="bg_check"></i></li>
							<li type-id="6"><span>石墨黑1200流明&nbsp;&nbsp;白光</span><i class="bg_check"></i></li>
							<li type-id="7"><span>石墨黑灯泡+圆木原色灯座套装1200流明白光</span><i class="bg_check"></i></li>
						</ul>
						<input class="js_product_type" type="hidden" name="product_type" value="" />
					</div>
						
					<!-- 订购数量 -->
					<div class="ordernum">
						<span class="pull-left color_4 f14">订购数量</span>
						<ul class="margin_l72 clearfix">
							<span class="reduce bggray js_reduce">-</span>
							<input class="js_count" name="num" type="text" value="1" />
							<span class="add js_add">+</span>
						</ul>
					</div>
					
					<!-- 表单数据 -->
					<form class="js_form">
						<input class="js_product_type" type="hidden" name="product_type" value="" />
						<input class="js_count" name="num" type="hidden" value="1" />
					</form>

					<!-- 立即购买 & 加入购物车 -->
					<ul class="margin_l72 btnbox">
						<a href="javascript:;" class="btn btn-border-orange buynow js_buynow" data-url="">立即购买</a>
						<a href="javascript:;" class="btn btn-orange clearfix js_addCart" data-url="" style="position: relative;z-index:0;">
							<i class="pull-left iconfont">&#xe608;</i>
							<span class="pull-left">加入购物车</span>
							<i class="iconfont trans_addCart">&#xe608;</i>
						</a>
					</ul>
				</div>
			</div>
			<!-- 商品详情 -->
			<div class="row_min">
				<div class="toplist">
					<ul class="clearfix js_scroll">
						<li class="on"><span>商品详情</span><i></i></li>
						<li><span>商品参数</span><i></i></li>
						<li><span>购买评价</span><span class="number">(58)</span><i></i></li>
						<li><span>服务保障</span><i></i></li>
					</ul>
				</div>
				
				<div class="content js_index_1">
					<!-- 商品参数 -->
					<div class="js_index_1"></div>
			
					<div class="js_index_0"></div>
					<img src="__IMG__/shop/ad_image.jpg" width="100%" height="100%" />
					
					<!-- 服务保障 -->
					<ul class="ensure js_index_3">
						<li class="clearfix">
							<span><i class="iconfont">&#xe63e;</i></span>
							<div class="text">
								<strong>正品保证</strong>
								<p>网向您保证所售商品均为正品行货</p>
							</div>
						</li>
						<li class="clearfix">
							<span><i class="iconfont">&#xe65f;</i></span>
							<div class="text">
								<strong>全国联保</strong>
								<p>凭质量保证书及售货发票，可享受全国联保服务（奢侈品、钟表除外），让您购买的产品享受质量保证。网还为您提供具有竞争力的商品价格和运费政策，请您放心购买。</p>
								<p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本站不能确保客户收到的货物与图片、产地、附件说明完全一致，只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本站没有及时更新，请大家谅解！</p>
							</div>
						</li>
						<li class="clearfix">
							<span><i class="iconfont">&#xe634;</i></span>
							<div class="text">
								<strong>无忧退换货</strong>
								<p>客户购买网商品7日内（含7日，自客户收到商品之日算起），在保证商品完好的前提下，可无理由退换货。（部分商品除外）</p>
							</div>
						</li>
					</ul>

					<ul class="state">
						<li>
							<h4>权利声明：</h4>
							<p>网上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是网重要的经营资源，未经许可，禁止非法转载使用。</p>
							<p><strong>注：</strong>本站内商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
						</li>
						<li>
							<h4>价格说明：</h4>
							<p><strong>价：</strong>价为商品销售价，是您最终决定是否购买商品的依据。</p>
							<p><strong>划线价：</strong>商品展示的划横线价格为参考价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在网平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜价、商品吊牌价可能会与您购物时展示的不一致，该价格仅供您参考。</p>
						</li>
					</ul>

					<div class='comment_list js_index_2'>
						<!-- 商品评价 S -->
						<div class="commbox">
							<div class="topbox clearfix" style="border:0;">
								<div class="pull-left"><i></i><span class="f14">商品评价</span></div>
							</div>
							<div class="evaluate f14 clearfix">
								<div class="rate">
									<p>89%</p>
									<span>综合好评率</span>
								</div>
								<ul class="compare">
									<li class="clearfix">
										<span class="desc">发货速度：<span>4.00</span>分</span>
										<span class="star"><div class="star star_cur" style="width:80%"></div></span>
									</li>
									<li class="clearfix">
										<span class="desc">描述相符：<span>4.00</span>分</span>
										<span class="star"><div class="star star_cur" style="width:80%"></div></span>
									</li>
									<li class="clearfix">
										<span class="desc">服务相符：<span>5.00</span>分</span>
										<span class="star"><div class="star star_cur" style="width:100%"></div></span>
									</li>
								</ul>
							</div>
						</div>
						<!-- 商品评价 E -->

						<!-- 全部评论 S -->
						<div class="commbox" style="position:relative;">
							<div class="topbox f14 clearfix" style="border:0;">
								<i></i>
								<ul class="top_message clearfix">
									<a href="javascript:;" class='cur all_comment'   data-type="all">全部评论（<span>58</span>）</a>
									<a href="javascript:;" class='all_comment' data-type="pic">有图（<span>26</span>）</a>
									<a href="javascript:;" class='all_comment' data-type="0">好评（<span>50</span>）</a>
									<a href="javascript:;" class='all_comment' data-type="1">中评（<span>5</span>）</a>
									<a href="javascript:;" class='all_comment' data-type="2">差评（<span>3</span>）</a>
								</ul>
							</div>
							<div class="eval_list js_eval_list">
								<!-- 评论列表 -->
								<include file="comment_list" />
							</div>
			                <div class="loading js_loading">
			                    <div class="tips js_loading_tips"></div>
			                    <div class="error_tips js_error_tips"></div>
			                </div>
						</div>
						<!-- 全部评论 E -->
					</div>
				</div>
			</div>
		</div>
		<div class="list_right w240">
			<include file="shop_name" />
			
			<div class="hot_product">
				<div class="toptitle color_4 f14">本店热销产品 </div>
				<!-- 本店热销产品 S -->
				<ul class="clearfix prlist f14">
					<li>
						<a href="#">
							<img src="__IMG__/shop/single_list.jpg" width="100%" height="100%" />
							<span class="block color_6 pad_tb5">洲明翰源 中国风 LED吸顶灯照明吸顶灯</span>
							<span class="block color_orange pad_tb5">￥268</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__IMG__/shop/single_list.jpg" width="100%" height="100%" />
							<span class="block color_6 pad_tb5">洲明翰源 中国风 LED吸顶灯照明吸顶灯</span>
							<span class="block color_orange pad_tb5">￥268</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__IMG__/shop/single_list.jpg" width="100%" height="100%" />
							<span class="block color_6 pad_tb5">洲明翰源 中国风 LED吸顶灯照明吸顶灯</span>
							<span class="block color_orange pad_tb5">￥268</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__IMG__/shop/single_list.jpg" width="100%" height="100%" />
							<span class="block color_6 pad_tb5">洲明翰源 中国风 LED吸顶灯照明吸顶灯</span>
							<span class="block color_orange pad_tb5">￥268</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__IMG__/shop/single_list.jpg" width="100%" height="100%" />
							<span class="block color_6 pad_tb5">洲明翰源 中国风 LED吸顶灯照明吸顶灯</span>
							<span class="block color_orange pad_tb5">￥268</span>
						</a>
					</li>
				</ul>
				<!-- 本店热销产品 E -->
			</div>
		</div>
	</div>
	<!-- 加入购物车 -->
	<include file="add_cart" />
</block>
<block name="script">
<js href="__JS__/jquery.imagezoom.js" />
	<script>
		function showcheckBtn(){
			if($('.js_imgchange').find('li').length <= 4){
				$(this).parent().find('.imageCheck').hide();
			}
		};

		function setBtnGray(){
			if($('.js_count').val <= 1){
				$('.js_reduce').addClass('bggray');
			}
		};

		function setCartAnimate(event,obj){
			$obj = $('.trans_addCart');
			var left = event.clientX - 40;
			var top = event.clientY - 20;
			$obj.css({'left':left + 'px','top':top + 'px','visibility':'visible'});

			$obj.animate({
				'left':'1200px',
				'top':'-30px'
			},500,function(){
					$('.addCart').modal('show');
				});

		};
		$(function(){
			// 图片放大
			$(".jqzoom").imagezoom();
			$(".mini_ul>li").each(function(){
				$(this).on("click",function(){
					$(this).addClass("mini_pic_click").siblings().removeClass("mini_pic_click");
					$(".jqzoom").attr('src',$(this).find("img").attr("mid"));
					$(".jqzoom").attr('rel',$(this).find("img").attr("big"));
				})
			})
			// 图片展示列表
			showcheckBtn();
			topSlider.btnChecked('.js_imgchange',500,4);
			$('.js_imgchange').on('click','li',function(){
				$(this).addClass('on');
				$(this).siblings().removeClass('on');
				var src = $(this).find('img').attr('src');
				$('#js_show').find('img').attr('src',src);
			});

			//订购数量
			setBtnGray();
			$('.js_add').on('click',function(){
				var obj = $(this).parent().find('input');
				var val = Number(obj.val());
				if(val >= 1){
					$('.js_reduce').removeClass('bggray');
				}
				$(this).parent().find('input').val(val+1);
				$('.js_count').val(val+1);
			});

			$('.js_reduce').on('click',function(){
				var obj = $(this).parent().find('input');
				var val = Number(obj.val());
				if(val <= 1){
					$('.js_reduce').addClass('bggray');
				}else{
					val = val -1;
					if(val == 1){
						$('.js_reduce').addClass('bggray');
					}else{
						$('.js_reduce').removeClass('bggray');
					}
				}
				$(this).parent().find('input').val(val);
				$('.js_count').val(val);
			});

			$('.js_product_type').val($('.js_type').find('li.select').attr('type-id'));
			$('.js_type').on('click','li',function(){
				if(!$(this).hasClass('disabled')){
					$(this).addClass('select');
					$(this).siblings().removeClass('select');
					$('.js_product_type').val($(this).attr('type-id'));
				}
			});

			//立即购买 数据提交
			$('.js_buynow').on('click',function(){
				// window.location.href = "<?=U('/Cart/index')?>";
				var url = $(this).attr('data-url');
				var _data = $('.js_form').serialize();
				$.post(url,_data).success(function(data){
					if(data.status == 1){
						window.location.href = data.url; //请求成功，返回链接地址，进入购买页面
					}
				});
			});

			//加入购物车
			$('.js_addCart').on('click',function(event){
				setCartAnimate(event,$(this).find('.trans_addCart'));
				var url = $(this).attr('data-url');
				var _data = $('.js_form').serialize();
				$.post(url,_data).success(function(data){
					if(data.status == 1){
						setCartAnimate(event,$(this).find('.trans_addCart'));
					}
				});
			});

			/*
			 店铺收藏
			*/
			$(document).on("click",".js_click_like",function(){
				if($(this).attr('isCollect') == 'false'){
					var url = $(this).attr('data-url');
					var shop_id = $(this).attr("data-id");
					var _data = {'shop_id':shop_id};
					$.post(url,_data).success(function(data){
						if(data.info == 1){
							$(this).find('li').eq(0).hide();
							$(this).find('li').eq(1).show();
							$(this).attr('isCollect','true');
						}
					});
				}
			});

			//内页滚动
			var boxOffset = $('.js_scroll').offset().top;
			$(window).scroll(function(){
			    var winScroll = $(window).scrollTop();
			    if(winScroll>=boxOffset){
			    	$('.js_scroll').addClass("js_navbar");
			    }else{
			        $('.js_scroll').removeClass("js_navbar");
			    }
			});

			scroll.scrollEvent();
		});
	</script>
</block>