<?php
	$member_info = session('member_info');
?>
<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<block name="head_change"></block>
	<title><?=$seo['title']?></title>
	<meta name="keywords" content="<?=$seo['keywords']?>" /> 
	<meta name="description" content="<?=$seo['description']?>" />
	<script>
	var _ROOT_='__ROOT__';
	var _STATIC_='__STATIC__';
	var _PLUGIN_='__PLUGIN__';
	var _JS_='__JS__';
	var _IMG_='__IMG__';
	var _CSS_='__CSS__';
	var leftMenuSlide=true;
	</script>
	<css href="__STATIC__/css/common.css" />
	<css href="__CSS__/iconfont.css" />
	<css href="__CSS__/common.css" />
	<css href="__CSS__/ie.css" />
	<!-- /* 全局JS调用、加载 */ -->
	<js href="__STATIC__/js/common.js" />
	<js href="__JS__/common.js" />
	<!-- /* 全局JS调用、加载 */ -->
	<block name="style"></block>
</head>
<body>
<include file="Home@Common/top" />
<block name="body"></block>
<include file="Home@Common/footer" />

<!--[if lte IE 6]>
    <css href="__STATIC__/css/ie6.css" />
    <js href="__STATIC__/js/ie6.js" />
    <js href="__JS__/iepng.js" />
    <script type="text/javascript">
	    EvPNG.fix('div,ul,img,li,input,a,i');
	    //EvPNG.fix('包含透明PNG图片的标签'); 多个标签之间用英文逗号隔开。
	</script>
<![endif]-->
<!--[if lt IE 9]>
    <js href="__STATIC__/js/ie9.js" />
<![endif]-->
<block name="script"></block>
</body>
</html>