 <!--head搜索模块 S-->
<nav class="head_top nav nav-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#person_top" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav clearfix">
				<li>尚软科技欢迎您</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="person_top">
			<ul class="nav navbar-nav navbar-right">
				<?php 
					if(!session('member_id')){
				?>
				<li><a href="<?=U('User/Account/Login/index')?>">登录</a></li>
				<li><a href="<?=U('User/Account/Register/index')?>">注册</a></li>
				<?php 
					}
				?>
				<?php 
					if(session('member_id')){
				?>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<?php
						echo $member_info['nickname']?$member_info['nickname']:$member_info['account'];
					?>
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class='text-left' href="<?=U('User/Index/Index/index')?>">个人中心</a></li>
						<li><a href="<?=U('Seller/Mall/Index/index')?>">商家中心</a></li>
						<li><a href="<?=U('User/Set/Info/index')?>">资料设置</a></li>
						<li><a href="<?=U('User/Account/Login/login_out')?>">退出</a></li>
					</ul>
				</li>
				
				<li><a href="<?=U('User/Order/Order/renovation')?>">我的订单</a></li>
				<li class="dropdown">
					<a href="<?=U('User/Message/Message/system')?>" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的消息<span class="js_message">(0)</span><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="<?=U('User/Message/Message/system')?>">系统消息<span class="js_message_system">(0)</span></a>
						</li>
					</ul>
				</li>

				<li><a href="<?=U('User/Collect/Collect/shop')?>">我的收藏</a></li>
				<?php 
					}
				?>
				<li><a href="<?=U('Home/Article/Help/index')?>">帮助中心</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
<!-- head搜索模块 E-->