<extend name="Public/body" />
<block name="script">
	<js href="__PLUGIN__/ueditor/third-party/SyntaxHighlighter/shCore.js" />
	<css href="__PLUGIN__/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" />
</block>
<block name="body">
	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-body">
				<a href="<?=U('Backend/Demo/Index/index',array('tpl'=>'pwd'))?>" class="dialog btn btn-primary" title="弹窗演示" style="margin: 0;" padding="5">弹窗编辑数据</a>
				<p>
					<span style="line-height: 1.5;">需要使用弹窗时，触发对象只需加上class=”dialog”即可</span>
				</p>
				<p>
					<span style="line-height: 1.5;">被弹出窗口中的form表单需要添加
						class=”dialog_form”</span>
				</p>
				<p>
					<br />
				</p>
				<strong>示例：</strong>
				<p>
					第一步：调用相关js（<strong style="color: #f00;">__static__为大写</strong>），默认情况下该文件已被加载，无需再次加载
				</p>
				<table border="0" cellpadding="0" cellspacing="0"
					class="syntaxhighlighter  html">
					<tbody>
						<tr>
							<td class="code">
								<div class="container"><div class="line number1 index0 alt2"><code class="html plain">&lt;</code><code class="html keyword">script</code>&nbsp;<code class="html color1">src</code><code class="html plain">=</code><code class="html string">"__static__/js/common.js"</code><code class="html plain">&gt;&lt;/</code><code class="html keyword">script</code><code class="html plain">&gt;</code></div></div>
							</td>
						</tr>
					</tbody>
				</table>
				<p>第二步：在需要的地方加上相关class</p>
				<table border="0" cellpadding="0" cellspacing="0"
					class="syntaxhighlighter html">
					<tbody>
						<tr>
							<td class="code"><div class="container">
									<div class="line number1 index0 alt2">
										<code class="html comments">&lt;!--</code></div>
									<div class="line number2 index1 alt1">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html comments">a标签提供的弹窗属性有：</code></div>
									<div class="line number3 index2 alt2">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html comments">title="弹窗标题，不填写弹窗将不会有标题出现";</code></div>
									<div class="line number4 index3 alt1">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html comments">padding="为弹窗的内边距，值为数字：不需要添加px"</code></div>
									<div class="line number5 index4 alt2">
										<code class="html comments">--&gt;</code></div>
									<div class="line number6 index5 alt1">
										<code class="html plain">&lt;</code><code class="html keyword">a</code>&nbsp;
										<code class="html color1">href</code><code class="html plain">=</code><code class="html string">"operate.html"</code>&nbsp;
										<code class="html color1">class</code><code class="html plain">=</code><code class="html string">"dialog"</code><code class="html plain">&gt;修改&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;</code></div>
								</div></td>
						</tr>
					</tbody>
				</table>
				<p>operate.html里的内容</p>
				<table border="0" cellpadding="0" cellspacing="0"
					class="syntaxhighlighter  html">
					<tbody>
						<tr>
							<td class="code">
								<div class="container">
									<div class="line number1 index0 alt2">
										<code class="html comments">&lt;!--</code></div>
									<div class="line number2 index1 alt1">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html comments">data-id是弹窗的事件触发对象</code></div>
									<div class="line number3 index2 alt2">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html comments">当data-id的值为ok时，表示提交</code></div>
									<div class="line number4 index3 alt1">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html comments">当data-id的值为cancel时，表示取消并关闭弹窗</code></div>
									<div class="line number5 index4 alt2">
										<code class="html comments">--&gt;</code></div>
									<div class="line number6 index5 alt1">
										<code class="html plain">&lt;</code><code class="html keyword">form</code>&nbsp;
										<code class="html color1">action</code><code class="html plain">=</code><code class="html string">""</code>&nbsp;
										<code class="html color1">method</code><code class="html plain">=</code><code class="html string">"post"</code>&nbsp;
										<code class="html color1">class</code><code class="html plain">=</code><code class="html string">"dialog_form"</code><code class="html plain">&gt;</code></div>
									<div class="line number7 index6 alt2">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html plain">&lt;</code><code class="html keyword">input</code>&nbsp;
										<code class="html color1">type</code><code class="html plain">=</code><code class="html string">"hidden"</code>&nbsp;
										<code class="html color1">name</code><code class="html plain">=</code><code class="html string">"id"</code>&nbsp;
										<code class="html color1">value</code><code class="html plain">=</code><code class="html string">""</code>&nbsp;
										<code class="html plain">/&gt;</code></div>
									<div class="line number8 index7 alt1">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html plain">&lt;</code><code class="html keyword">input</code>&nbsp;
										<code class="html color1">type</code><code class="html plain">=</code><code class="html string">"submit"</code>&nbsp;
										<code class="html color1">class</code><code class="html plain">=</code><code class="html string">"btn&nbsp;submit&nbsp;ajax-post"</code>&nbsp;
										<code class="html color1">data-id</code><code class="html plain">=</code><code class="html string">"ok"</code>&nbsp;
										<code class="html color1">value</code><code class="html plain">=</code><code class="html string">"提交"</code>&nbsp;
										<code class="html plain">/&gt;</code></div>
									<div class="line number9 index8 alt2">
										<code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="html plain">&lt;</code><code class="html keyword">a</code>&nbsp;
										<code class="html color1">href</code><code class="html plain">=</code><code class="html string">""</code>&nbsp;
										<code class="html color1">class</code><code class="html plain">=</code><code class="html string">"btn&nbsp;cancel"</code>&nbsp;
										<code class="html color1">data-id</code><code class="html plain">=</code><code class="html string">"cancel"</code><code class="html plain">&gt;取消并返回&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;</code></div>
									<div class="line number10 index9 alt1">
										<code class="html plain">&lt;/</code><code class="html keyword">form</code><code class="html plain">&gt;</code></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</block>