<extend name="Public/body" />
<block name="script"> <js
	href="__PLUGIN__/ueditor/third-party/SyntaxHighlighter/shCore.js" /> <css
	href="__PLUGIN__/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" />
</block>
<block name="body">
	<section class="content-header">
		<h1>
			图片删除使用说明
		</h1>
		<ol class="breadcrumb">
			<li><a href="<?=U('/Backend')?>"><i class="iconfont">&#xe678;</i> 首页</a></li>
			<li class="active">图片删除使用说明</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="main">
					<p>说明：该功能只适用于图片上传后已经点击表单的提交按钮保存到数据库</p>
					<p>我们需要在控制器中增加一个图片删除方法</p>
					<table border="0" cellpadding="0" cellspacing="0"
						class="syntaxhighlighter  php">
						<tbody>
							<tr>
								<td class="code"><div class="container">
										<div class="line number1 index0 alt2">
											<code class="php plain">ajaxDeleteImage_banner()</code>
										</div>
									</div></td>
							</tr>
						</tbody>
					</table>
					<p>
						方法名<span style="color: #f00; font-weight: bold;">ajaxDeleteImage_</span><span
							style="color: #3482BC; font-weight: bold;">banner</span>的红色部分是固定的，蓝色部分是我们在调用图片上传插件的时候，插件配置中table这项配置的值
					</p>
				</div>
			</div>
		</div>
	</section>
</block>