<form action="" method="post" class="dialog_form">
	<table class="form">
		<tr>
			<th>分类：</th>
			<td><select name="radio" class="form-control">
					<option value="">模板示例</option>
					<option value="">功能示例</option>
					<option value="">使用手册</option>
			</select></td>
		</tr>
		<tr>
			<th width="100">文本框：</th>
			<td><input type="text" class="form-control" value=""></td>
		</tr>
		<tr>
			<th>单选：</th>
			<td><label class="radio"><input type="radio" value="">单选按钮一</label><label
				class="radio"><input type="radio" value="">单选按钮二</label></td>
		</tr>
		<tr>
			<th>复选：</th>
			<td><label class="checkbox"><input type="checkbox"
					value="">复选按钮一</label><label class="checkbox"><input
					type="checkbox" value="">复选按钮二</label></td>
		</tr>
		<tr>
			<th>文本域：</th>
			<td><textarea class="textarea"></textarea></td>
		</tr>
		<tr>
			<th></th>
			<td style="padding: 0;"><input type="submit" class="btn btn-primary ajax-post"
				data-id="ok" value="提交"> <a href="" class="btn btn-default cancel"
				data-id="cancel">取消并返回</a></td>
		</tr>
	</table>
</form>
