<extend name="Public/body" />
<block name="body">
	<div class="box box-body">
		<!-- form start -->
		<form action="" method="post" class="js_form">
			<label class="form-group">
				<div class="control-label">
					原密码
				</div>
				<div>
					<input type="password" class="form-control width_auto"
						name="old_password" value="">
					<span class="Validform_checktip">不改密码时可不填</span>
				</div>
			</label>
			<label class="form-group">
				<div class="control-label">
					新密码
				</div>
				<div>
					<input type="password" class="form-control width_auto"
						name="new_password" value="">
					<span class="Validform_checktip">8-30位密码（必须包含数字字母）</span>
				</div>
			</label>
			<label class="form-group">
				<div class="control-label">
					确认密码
				</div>
				<div>
					<input type="password" class="form-control width_auto"
						name="new_password_check" value="">
					<span class="Validform_checktip">与新密码保持一致</span>
				</div>
			</label>
			<label class="form-group">
				<div class="control-label">
					姓名
				</div>
				<div>
					<input type="text" class="form-control width_auto" 
						value="<?=$info['nickname']?>" name="nickname" placeholder=""/>
					<span class="Validform_checktip">填写姓名</span>
				</div>
			</label>
			<label class="form-group">
				<div class="control-label">
					联系邮箱
				</div>
				<div>
					<input type="text" class="form-control width_auto"
						datatype="/^$/|e"
						name="email" value="<?=$info['email']?>">
					<span class="Validform_checktip">填写邮箱</span>
				</div>
			</label>
			<div class="form-btn clearfix">
				<input type="submit" class="pull-left btn btn-primary" value="提交" />
				<a href="<?=U('index')?>" class="pull-left btn btn-default">取消并返回</a>
				<div class="js_validTips pull-left" style="height:34px;line-height:34px;">
					<span class="js_tipContent Validform_checktip"></span>
				</div>
			</div>
		</form>
	</div>
</block>
<block name="script">
<script>
/*
var relation_data = array();var $relation_select = $('.js_relation_select');
$('.js_relation_select').each(function(i,o){
	relation_data[$(o).data('level')] = $(o).find('option');
});
$('.js_relation_select').on('change',function(e){
	var level = $(this).data('level'),next = level+1,
			child = '',child_data = '',child_value = '',
			parent_value = $(this).val(),default_value = '<option value="">请选择</option>';
	if(relation_data[next] == undefined) return '';
	do{
		child = $relation_select.filter('[data-level="' + next + '"]');
		child_value = e.isTrigger?child.val():'';
		child_data = $(relation_data[next]).filter('[data-parent="' + parent_value + '"]');
		child.html(default_value).append(child_data).val(child_value);
		parent_value = child_value;
	}while(relation_data[++next] !== undefined);
})
$('.js_relation_select').first().change();
*/
</script>
</block>