<extend name="Common/body"/>
<block name="body">
	<!-- 页面主体 S -->
	<form action="" method="post" class="col-xs-8 js_form">
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">新手机号：</div>
			<div class="col-xs-9">
				<input type="text" name="mobile" class="form-control js_account" placeholder="手机号" datatype="m" nullmsg="请填写手机号" errormsg="请输入正确的手机号" value="" />
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">短信验证：</div>
			<div class="col-xs-9">
				<div class="input-group">
					<div class="col-xs-8">
						<input type="text" class="form-control" datatype="n6-6" data-tooltip-right='470' nullmsg="请填写验证码" placeholder="验证码" name='verify' errormsg='请填写6位数字验证码'>
					</div>
					<div class="col-xs-4">
						<a href="#" class="js_getcode btn btn-default btn-block" style="border-left:none;" url="<?=U('',['operate'=>'get_mobile_code'])?>">发送验证码到手机</a>
					</div>
				</div>						
			</div>
		</label>	
		<div class="form-group clearfix">
			<div class="col-xs-offset-3 col-xs-9 clearfix">
				<input type="submit" class="btn btn-orange pull-left" value="提交" />
				<a href="<?=U('index')?>" class="btn btn-default pull-left">取消并返回</a>
				<div class=" pull-left js_validTips" style="display:none;"><span class="js_tipContent Validform_checktip"></span></div>
			</div>
		</div>
	</form>
</block>