<extend name="Common/body"/>
<block name="body">
	<!-- 页面主体 S -->
	<form action="" method="post" class="col-xs-8 js_form">
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">已验证手机号：</div>
			<div class="col-xs-9 line_height"><?=substr_replace($member_info['mobile'],'****',3,4)?></div>
		</label>
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">短信验证：</div>
			<div class="col-xs-9">
				<div class="input-group">
					<div class="col-xs-8">
						<input type="text" class="form-control" datatype="n6-6" data-tooltip-right='470' nullmsg="请填写验证码" placeholder="验证码" name='verify' errormsg='请填写6位数字验证码'>
					</div>
					<input type='hidden' name='account' value="<?=$member_info['mobile']?>">
					<div class="col-xs-4">
						<a href="#" class="js_getcode btn btn-default btn-block" style="border-left:none;" url="<?=U('',['operate'=>'get_mobile_code'])?>" has_account="true">发送验证码到手机</a>
					</div>
				</div>						
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">支付密码：</div>
			<div class="col-xs-9">
				<input type="password" class="form-control" name="password" datatype="*6-16" placeholder="必须是6~16位字符" nullmsg="请输入新密码" errormsg="密码长度需要再6-16位之间">
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">确认支付密码：</div>
			<div class="col-xs-9">
				<input type="password" class="form-control" datatype="*" recheck="password" nullmsg="请填写确认密码" errormsg="两次输入密码不一致" name='repassword' placeholder="请再次输入确认密码">
			</div>
		</label>		
		<div class="form-group clearfix">
			<div class="col-xs-offset-3 col-xs-9 clearfix">
				<input type="submit" class="btn btn-orange pull-left" value="提交" />
				<a href="<?=U('index')?>" class="btn btn-default pull-left">取消并返回</a>
				<div class=" pull-left js_validTips" style="display:none;"><span class="js_tipContent Validform_checktip"></span></div>
			</div>
		</div>
	</form>
</block>