<extend name="Common/body"/>
<block name="body">
<?php
	/*设置数组*/
	$set = array();	
	/*登录密码*/
	$set['login_password']['title'] = '登录密码';
	$set['login_password']['icon'] = 'style="background-image:url(__USER__/img/login.png);"';
	$set['login_password']['description'] = '安全性高的密码可以使账号更加安全。建议您定期更换密码，且设置一个包含数字和字母，并且长度超过6位以上的密码';
	$set['login_password']['url'] = U('login_password_mobile');
	$set['login_password']['class'] = '';
	$set['login_password']['status'] = '已设置';
	$set['login_password']['operate'] = '修改';
	
	/*支付密码*/
	$set['deal_password']['title'] = '支付密码';
	$set['deal_password']['icon'] = 'style="background-image:url(__USER__/img/pay.png);"';
	$set['deal_password']['description'] = '在支付订单使用账户余额时，会要求输入支付密码。为了账号里的资金安全，不要使用和登录密码一样或类似的密码';
	$set['deal_password']['url'] = U('User/Set/Safe/deal_password_mobile');
	if($member_info['deal_password']){
		$set['deal_password']['class'] = '';
		$set['deal_password']['status'] = '已设置';
		$set['deal_password']['operate'] = '修改';
	}else{
		$set['deal_password']['class'] = 'wait';
		$set['deal_password']['status'] = '待设置';
		$set['deal_password']['operate'] = '设置';
	}
	
	/*手机绑定*/
	$set['bind_mobile']['title'] = '手机绑定';
	$set['bind_mobile']['icon'] = 'style="background-image:url(__USER__/img/phone.png);"';
	$set['bind_mobile']['description'] = '绑定手机后，您即可享受丰富的手机服务，如手机登录、手机找回密码等';
	if($member_info['mobile']){
		$set['bind_mobile']['url'] = U('User/Set/Safe/change_mobile');
		$set['bind_mobile']['class'] = '';
		$set['bind_mobile']['status'] = '已绑定';
		$set['bind_mobile']['operate'] = '修改';
	}else{
		$set['bind_mobile']['url'] = U('User/Set/Safe/bind_mobile');
		$set['bind_mobile']['class'] = 'wait';
		$set['bind_mobile']['status'] = '未绑定';
		$set['bind_mobile']['operate'] = '绑定';
	}
	
	/*邮箱绑定*/
	$set['bind_email']['title'] = '邮箱绑定';
	$set['bind_email']['icon'] = 'style="background-image:url(__USER__/img/email.png);"';
	$set['bind_email']['description'] = '绑定邮箱后，您即可享受丰富的邮箱服务,如邮箱修改密码';
	if($member_info['email']){
		$set['bind_email']['url'] = U('User/Set/Safe/change_email');
		$set['bind_email']['class'] = '';
		$set['bind_email']['status'] = '已绑定';
		$set['bind_email']['operate'] = '修改';
	}else{
		$set['bind_email']['url'] = U('User/Set/Safe/bind_email');
		$set['bind_email']['class'] = 'wait';
		$set['bind_email']['status'] = '未绑定';
		$set['bind_email']['operate'] = '绑定';
	}
?>

	<!-- 个人信息 S-->
	<div class="nav_zzypt">
		<!-- 页面主体 S -->
		<label class="title_label">您的基本信息</label>
		<div class="u_info clearfix">
			<div class="clearfix">
				<label class="control-label pull-left">手机号码：</label>
					<div class="pull-left">
						<?=substr_replace($member_info['mobile'],'****',3,4)?>
					</div>
					<div class="change_phone pull-left">
						<a href="<?=U('User/Set/Safe/change_mobile')?>">修改手机</a>
					</div>
				</div>
				<div class="clearfix">
					<label class="control-label pull-left">上次登录：</label>
					<div class="pull-left">
						<?=session("last_login_time")?date('Y年m月d日 H:m:s',session("last_login_time")):'';?>
					</div>
				</div>
		</div>
		<label class="title_label">您的安全服务</label>
		<div class="safe_box">
<?php
	foreach($set as $row){
?>
			<div class="safe_item clearfix">
				<div class="s_title col-xs-2" <?=$row['icon']?>><?=$row['title']?></div>
				<div class="s_status col-xs-2 <?=$row['class']?>"><?=$row['status']?></div>
				<div class="s_content col-xs-7 text-left"><?=$row['description']?></div>
				<div class="s_link col-xs-1 text-right">
					<a href="<?=$row['url']?>"><?=$row['operate']?></a>
				</div>
			</div>
<?php
	}
?>
		</div>
	</div>
	<!-- 个人信息 E-->
</block>