<extend name="Common/body"/>
<block name="body">
<ul class="nav nav-tabs">
	<li>
		<a href="<?=U("login_password_mobile")?>">通过手机修改密码</a>
	</li>
<?php
	if($member_info['email']){
?>
	<li><a href="<?=U("login_password_email")?>">通过邮箱验证修改密码</a></li>
<?php
	}
?>
	<li class="active">
		<a href="javascript:;">通过支付密码修改密码</a>
	</li>
</ul>
<div class="content_box">
	<!-- 页面主体 S -->
	<form action="" method="post" class="col-xs-8 js_form">
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">请输入支付密码：</div>
			<div class="col-xs-9">
				<input type="password" class="form-control" datatype="*" nullmsg="请填写支付密码" placeholder="支付密码" name='deal_password'>
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">新登录密码：</div>
			<div class="col-xs-9">
				<input type="password" class="form-control" name="password" datatype="*6-16" placeholder="必须是6~16位字符" nullmsg="请输入新密码" errormsg="密码长度需要再6-16位之间">
			</div>
		</label>
		<label class="form-group clearfix">
			<div class="control-label col-xs-3 text-right">确认新登录密码：</div>
			<div class="col-xs-9">
				<input type="password" class="form-control" placeholder="确认密码" datatype="*" recheck="password" nullmsg="请填写确认密码" errormsg="确认密码与新密码长度不一致" name='repassword'>
			</div>
		</label>
		<div class="form-group clearfix">
			<div class="col-xs-offset-3 col-xs-9 clearfix">
				<input type="submit" class="btn btn-orange pull-left" value="提交" />
				<a href="<?=U('index')?>" class="btn btn-default pull-left">取消并返回</a>
				<div class=" pull-left js_validTips" style="display:none;"><span class="js_tipContent Validform_checktip"></span></div>
			</div>
		</div>
	</form>
</div>
<!-- 个人信息 E-->	
</block>