@charset "utf-8";
/*
 * 个人中心
 * @author	尚软前端组	<3027788306@qq.com>
 * */
/* 全局区域 -S */
/* bootstrap样式重置 -S */
body{font-size:14px;}
.border-table {border: 1px solid #ddd;}
.order_detial tbody tr td,.order_detial thead tr th{vertical-align:middle;}
ul {list-style: none;padding:0;}
.form-control{font-size:12px;}
.table .noborder tr th,.table .noborder tr td{border:none;}
tr.title,tr.mini_title{background:#eee;}
.table tr.mini_title td{padding:3px 8px;}
.table tr.mini_title td a{}
.table tr.mini_title td .badge{position:relative;top:-2px;}
.control-label{font-weight:normal;line-height:34px;}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{font-weight:normal;}

.col-xs-offset-3 .btn{margin-right:10px;}

.btn,.form-control{border-radius:0;}
input{box-shadow:none !important;outline:none !important;}
/* bootstrap样式重置 -E */
/* 全局区域 -E */
.w100 {width: 100%!important;}
.w80 {width: 80%!important;}
.ml_20 {margin-left: 20px;}
.mt_20 {margin-top: 20px;}
.font16 {font-size:16px;}
.success_c {color:#2ecc71!important;}
.danger_c {color:#e74c3c!important;}
.warning_c {color:#f1c40f!important;}
.primary_c {color:#1abc9c!important;}
.info_c {color:#3498db!important;}
.vertical_mid tbody tr td {vertical-align: middle;white-space:normal!important;}
/* 平台布局兼容 -S */
.row{*margin-left:0;*margin-right:0;*zoom:1;}
.form-group{*zoom:1;}
.ie_w90{*width:90px!important;}
.ie_w284{*width:284px!important;}
.ie_w290{*width:292px!important;}
.ie_w360{*width:360px!important;}
.ie_w400{*width:400px!important;}
.ie_w872_Z{*width:872px!important;}
.ie_w872{*width:872px!important;*float:right!important;}
.ie_ml50{*margin-left:50px!important;}
.ie_ml100{*margin-left:100px!important;}
.ie_mp{*margin-top:10px!important;*padding-top:0!important;}
.input-group {width: 100%;}
/* 平台布局兼容 -E */

/* head_搜索andLOGO模块 -S */
.head_search{position:relative;z-index:10;background:#f60;font-size:14px;}
.head_search a{display:block;color:#fff;padding:25px;float:left;}
.head_search a:hover,.head_search a.current{background:#f50;}

a.logo_box{padding:15px;padding-left:0;background:none!important;}
a.logo_box img{height:40px;}
/* 搜索框 -S */
.search_box,.search_key{width:524px;}
.search_box{border:2px solid #f60;}
.search_box .select_box,.search_box .search_input,.search_box .search_btn{float:left;}
.select_box{position:relative;width:100px;cursor:pointer;z-index:10;}
.select_box .selected_box{line-height:34px;height:34px;padding:0 10px;position:relative;}
.select_box .selected_box .caret{position:absolute;top:15px;right:10px;}
.select_box .select_list{position:absolute;top:100%;left:-2px;min-width:100%;display:none;background:#fff;border:2px solid #f60;border-top:none;}
.select_box ul,.select_box li{list-style:none;margin:0;padding:0;}
.select_box li{padding:5px 10px;}
.select_box li:hover{background:#f60;color:#fff;}
.search_input{width:360px;}
.search_input .form-control{border:none;}
.search_btn{width:60px;}
.search_btn .btn{height:100%;width:100%;}
.search_key{color:#666;padding:5px 0;}
.search_key a{padding:0 5px;}

.crumbs .search_box{width:auto;border:none;}
.crumbs .search_box .search_input{width:200px;border:1px solid #d2d2d2;border-right:none;font-size:12px;}
.crumbs .form-control{height:29px;}
.crumbs .search_btn .btn{height:31px;}

/* 搜索框 -E */
.search_box{background:#fa8d44;color:#ffe8d8;margin-top:18px;border:none;width:auto;}
.select_list{color:#666;}
.search_box .form-control{background:none;}
.search_box .search_input{width:230px;}
.search_box .search_input input{color:#ffe8d8;}
.search_box .search_btn{width:40px;}
.search_box .btn{background:url(../img/search.png) no-repeat center center;padding-left:0;padding-right:0;filter:Alpha(opacity=80);opacity:0.8;}
.search_box .btn:hover{color:#fff;filter:Alpha(opacity=100);opacity:1;}

/* head_搜索andLOGO模块 -E */

/* 左侧菜单样式 -S */
/* 左侧头部头像部分 -S */
.sidebar .nav_top{border:1px solid #ddd;padding:10px;border-top:none;text-align:center;}
.sidebar .nav_top .avatar a,.sidebar .nav_top .avatar img{border-radius:100%;width:110px;height:110px;transition:0.2s;display:block;margin:auto;}
.sidebar .nav_top .avatar img{padding:0;border:1px solid #eee;}
.sidebar .nav_top .avatar a:hover{box-shadow:#666 0 0 5px;padding:5px;}
.sidebar .nav_top .avatar a:hover img{border-color:#ccc;width:100px;height:100px;}
.sidebar .nav_top h4{margin:10px 0;}
/* 左侧头部头像部分 -E */
.sidebar{border-top:1px solid #ddd;padding:0;background:#fff;z-index:10;}
.sidebar a{background:none!important;font-size:12px;position:relative;text-decoration:none;}
.sidebar li{border:1px solid #ddd;border-top:0;cursor:pointer;}
.sidebar a.dropdown-toggle{display:block;padding:15px 0;padding-left:40px;color:#444;border-left:5px solid #fff;}
.sidebar .iconfont{position:absolute;top:0;left:0;width:40px;height:47px;background-position:center center;background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.sidebar li a.dropdown-toggle:hover .iconfont,.sidebar li.active .iconfont{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);-webkit-filter: grayscale(0);filter: grayscale(0);}
.sidebar li.active a.dropdown-toggle,
.sidebar li a.dropdown-toggle:hover{border-color:#f60;position:relative;color:#f60;}
.sidebar a .arrow{position:absolute;top:15px;right:15px;background:url(../img/side_icon/arrow.png) no-repeat -3px -3px;width:20px;height:20px;display:inline-block;*display:inline;*zoom:1;}
.sidebar a:hover .arrow{background-position:-3px -48px;}
.sidebar li.active .has_child .arrow{background-position:-42px -48px;}
.sidebar .dropdown-menu{position:relative;top:0;left:0;z-index:3;float:none;min-width:auto;padding:0;margin:0;text-align:inherit;background:none;border:none;border-top:1px solid #ddd;border-radius:0;box-shadow:none;display:none;}
.sidebar li.active .dropdown-menu{display:block;}
.sidebar li.dropdown li{border:none;}
.sidebar li.dropdown li a{border-left:0;padding:10px 0;padding-left:55px;color:#666;display:block;}
.sidebar li.dropdown li a:hover,.sidebar li.dropdown li a.cur{color:#f60;}
/* 左侧菜单样式 -E */

/* 面包屑 -S */
.dataset_title{position:relative;border-left:5px solid #ca0710;line-height:20px;height:20px;overflow:hidden;z-index:0;}
.dataset_title .left_title{position:relative;float:left;font-size:18px;padding:0 20px 0 10px;background-color:#ffffff;z-index:1;}
.dataset_title .left_title em{position:absolute;display:block;width:5px;height:5px;border-radius:50%;background-color:#dddddd;top:8px;right:0;z-index:2;}
.dataset_title i{position:absolute;top:0;left:0;display:block;width:100%;border-top:1px solid #dddddd;margin-top:10px;z-index:-1;}
.dataset_title .right_info{padding:0 5px 0 15px;background-color:#ffffff;}
.dataset_title .right_info span{}
/* 面包屑 -E */

/* 右侧框架样式 -S */
.m_tb{margin-top:25px;margin-bottom:25px;}
.person_box{padding:20px;border:1px solid #dddddd;position:relative;margin-left:20px;}
.person_box .content_box{padding:25px 0;}
/* 右侧框架样式 -E */
/* 个人中心首页 -S */
.person_top .person_left,.bgpd,.bgpd .topcontent{background:#f8f8f8 no-repeat;}
.person_top .person_left,.person_top .person_right{height:166px;}
.person_top .person_left{background-image:url("../img/person_bg_02_2.png");background-position:top right;}
.person_top .person_left .order_icon,.person_top .person_left .collect_icon{background:#f60 url(../img/order.png) no-repeat center center;border-radius:100%;width:60px;height:60px;display:block;margin-bottom:5px;margin-left:auto;margin-right:auto;}
.person_top .person_left .collect_icon{background-image:url(../img/collect.png);}
.person_top .person_left .col-xs-3 span{color:#f60;}
.person_top .person_left .bg{background:url("../img/person_bg_02_1.png") no-repeat bottom right;padding:40px 0;text-align:center;}
.person_top .person_right{background:#f8f8f8 url("../img/person_bg_05.png") repeat-y top right;}
.person_top .person_right .top_bg{background:url("../img/person_bg_03_2.png") no-repeat top left;}
.person_top .person_right .bottom_bg{background:url("../img/person_bg_03_1.png") no-repeat bottom left;padding:22px 0;}
.person_top .person_right .money_icon{position:relative;top:0;text-align:center;background:url(../img/money.png) no-repeat center center;width:100px;height:120px;}
.person_top .person_right .money{margin-top:30px;font-size:18px;}
	.person_top .person_right .money .price{font-size: 24px;color:#f60;}
	.person_top .person_right .money .money_manage{position:relative;top:4px;}
	.person_top .person_right .money a{color:#1e6dab;font-size:14px;}
	.person_top .person_right .money a:hover{text-decoration:underline;}
.bgpd{padding:15px;margin:10px 0}
.bgpd .order_detial{background:#fff;}
.bgpd a.img{color:#666;}
.bgpd a.img img{display:block;margin-bottom:5px;width:100%;}
.bgpd .price{font-size:16px;color:#e4393c;font-weight:bold;margin-top:10px;}
.bgpd th{font-size:14px;font-weight:normal;}
.collect{color:#bebebe;margin-top:5px;}
.collect span{color:#1e6dab;}
/* 个人中心首页 -E */

/* 帐号绑定 */
.account_bind .list-group-item{margin-bottom:5px;padding-left:40px;border:none;transition:0.2s;}
.account_bind .list-group-item .bind{float:right;}
.account_bind .list-group-item.qq{background:#f8f8f8 url(../img/public/icons/qq_logo.png) no-repeat 10px center;background-size:auto 60%;}
.account_bind .list-group-item.weixin{background:#f8f8f8 url(../img/public/icons/weixin_logo.png) no-repeat 10px center;background-size:auto 60%;}
.account_bind .list-group-item:hover{background-color:#f0f0f0;}


/* 个人资料 S */
.brithday_pick {position: relative;}
.brithday_pick>.calendar {position: absolute;border-radius: 0 4px 4px 0;width: 34px;height: 32px;top: 1px;right: 1px;padding-top: 9px;border:none;background-image:url(../img/calendar.png);background-repeat:no-repeat;background-position:center;}
/* 个人资料E */

/*账号安全 S*/
.content_box .title_label {font-size:16px;font-weight: bold;}
.change_phone{margin-left:10px;}
.u_info {padding:10px 0;margin-bottom: 20px;line-height:34px;}
.u_info label {margin-bottom: 0;text-align: right;}
.code_btn {margin-left: -1px;}
.name_input {width: 100px}
.safe_item {padding:10px 0;	border-bottom: 1px dashed #e6e6e6;}
.s_title{padding-left:30px;background:no-repeat 0 center;}
.s_status{background:url(../img/success.png) no-repeat 0 center;padding-left:20px;}
.s_status.wait{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter:grayscale(100%);filter:grayscale(100%);}

/*账号安全 E*/

/*资金管理 S*/
.bank_box {border:1px solid #e6e6e6;padding:5px;margin:10px;margin-left:0;cursor:pointer;background-color:#fff;}
.bank_box:hover {border-color: #e74c3c;}
.bank_box.active {border-color: #e74c3c;}
.pay_way {padding-left: 60px;}
.tab-pane-body {padding:10px 30px 30px;border: 1px solid #ddd;border-top:none;margin-bottom: 20px;}
.pay_form {border: 1px dashed #e6e6e6;padding: 20px;margin-bottom: 10px;}
.pay_form .row {padding:5px 0;}
.pay_form .tips {}
.paybtn {padding:20px 0;}
.bold_label {font-weight: bold!important;font-size:16px!important;}
.success_icon {width: 60px;height: 60px;border-radius: 50%;background-color: #2ecc71;text-align: center;}
.success_icon span {font-size:40px;margin-top: 10px;color:#fff;}
.tx_title {padding:20px 0;}
.tx_title span {border-left: 4px solid #CA0710;display: inline-block;padding:0 5px;}
.con_form {padding-top: 20px;border-top: 1px solid #e6e6e6;}
.btn_box {border-top: 1px solid #e6e6e6;padding: 20px 0;margin-bottom: 0;}
select {min-width: 179px;}
.search_bar{font-size:14px;line-height:34px;}
.search_bar label {display: inline-block;}
.search_bar .form-group {margin-bottom: 20px;}
.record_table thead {background-color:#f7f7f7;border-top: 1px solid #ddd;}
.record_table thead>tr>th {	border-bottom: 1px solid #ddd;}
.add_money {color:#10D223;}
.reduce_money {color:#F10101;}
.record_table tbody>tr>td {min-height: 48px;line-height: 20px;padding:14px 8px;}
.toggle_btn {color:#2196F3;margin-left: 20px;}
.toggle_btn:focus {color:#2196F3;}
.record_mun {color:#8393D7;text-decoration: underline;}
.cancel {color:#E10C01;text-decoration: underline;}
.details_list {display: none;}
/*资金管理 E*/
/*订单管理 S*/
.order_box table {width: 100%;}
.order_title {margin-top: -1px}
.order_title table>thead>tr {border: 1px solid #ddd;border-radius: 4px;}
.order_box table>thead>tr>th {border-bottom:none;padding-top:10px;padding-bottom: 10px;font-weight:normal;font-size:14px;}
.order_box table>tbody>tr>td {vertical-align: middle;border-top:none;}
.product_info a{color:#ca0710;}
.product_info a:hover{text-decoration:underline;}
.product_info a.cover,.product_info .title{padding:0;}
.product_info .title{padding-left:10px;}
.order-list{font-size:14px;}
.logistics_info .table thead {background-color:#eee;}
.logistics_info .table tbody tr td {border-top-style:dashed;}
.details_con {border-bottom: 1px solid #ddd;padding:10px 0;}
.details_con .tips {color:#999;display: inline-block;}
.details_con .tips a {text-decoration: underline;}


/* 快递详情 */

.logistics_box{
	display:none;
	position:absolute;
	right:100%;
	padding-right:10px;
	bottom:-50px;
	z-index:3;
	text-align:left;
}
.logistics_box .arrow {
	position:absolute;
    top:45%;
    width:10px;
    height:100%;
    right:1px;
}
.logistics_box .logistics_info{
	background-color:#fff;
	border:1px solid #ddd;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
}
.logistics_title{
	padding:5px 20px;
	background:#eee;
}
.logistics_list{
	position:relative;
	width:250px;
	height:100px;
	overflow-y:auto;
	padding:10px;
	z-index:2;
}
.logistics_list div{
	float:left;
	padding:5px;
}
/*订单管理 E*/
/*产品管理 S*/
.product_title {margin-top:-1px;}
.product_title table>thead>tr {border: 1px solid #ddd;border-radius: 4px;}
.product_title table>thead>tr>th {border-bottom:none;}
.list_title {background-color: #eee;border: 1px solid #ddd;}
.check_box {vertical-align: middle;display: inline-block;margin-top: 4px;}
.check_box input {margin-right: 10px;}
/*.list_title .btn_group {margin-left: 84px;}*/
.product_list_box table {border: 1px solid #ddd;}
.product_list_box .product_txt {display: inline-block;vertical-align: middle;margin-top: 10px;color:#999;}
.product_list_box table>tbody>tr>td {vertical-align: middle;position: relative;}
.td_check {position: absolute;top: 50%;transform: translateY(-50%);}
.td_operate .btn {padding:5px 10px;}
.tab_title li a {font-weight: bold;}
#proTabContent {padding:20px 0;}
#priceType form select {min-width: 0;}
#priceType .nextBtn { padding:10px;border-top: 1px solid #ddd}
.diy_row {padding-left: 20px;position: relative;}
.btns {position: absolute;right:90px;top:3px;}
.btns .upbtn{font-size:20px;color:#48EB01;cursor: pointer;}
.btns .downbtn{font-size:22px;color:#F00;cursor: pointer;}
/*产品管理 E*/
/*收藏管理 S*/
.collect_title {background-color:#eee;padding:10px;}
.collect_title .pagination {margin:0;}
.page_label {color:#999;display: inline-block;vertical-align: middle;margin: 8px 10px 0 0;}
.page_label strong {color:#444;}
.product_box .col-xs-3{padding:10px 0;}
.product_box .thumbnail {margin:0 15px;padding:0;border-radius: 0;border:none;-webkit-transition: all .3s;transition: all .3s;}
.product_box .caption {border: 1px solid #ddd;border-top:none;position: relative;padding:0;}
.product_box .caption .pro_txt {padding:9px;background: #fff;position: relative;z-index: 9}
.product_box .caption .new_price {font-size:18px;font-weight: 700;color:#f60;}
.product_box .caption .old_price {color:#999;text-decoration: line-through;margin-top: 4px;}
.product_box .caption .pro_name {color: #444;font-weight: 700;}
.product_box .caption .list_btns {
		position: absolute;
		width: 100%;
		left:0;
		top:0;
		background-color: rgba(0,0,0,.3); 
		padding: 5px 0;
		z-index: -1;
		opacity: 0;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
.product_box .thumbnail:hover .list_btns {top:-44px;z-index: 1;opacity: 1;}
.product_box .thumbnail:hover {
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}
.shop_con {padding:10px 0;border-bottom: 1px solid #ddd;}
.shop_con .check_box {width: auto;margin-top: 5px;}
.shop_con .pagination {margin:0;}
.shop_img {position: relative;padding-left:15px;}
.shop_img input {position: absolute;left:0;top:-4px;}
.shop_btns {padding-left: 15px;padding-top:15px;}
.shop_goods {padding:0 10px;}
.shop_goods .thumbnail {padding: 0; border-radius: 0;border:none;-webkit-transition: all .3s;transition: all .3s;margin-bottom: 0;}
.shop_goods .caption {padding: 9px 5px;}
.shop_goods .caption .text {width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;cursor: pointer;}
.tab_title {margin-bottom: 10px;}
.tab_title .nav li a {padding:6px 8px;}
.shop_goods .tab-pane .goods_list_box {width: 100%;overflow: hidden;position: relative;}
.shop_goods .pager {position: absolute;bottom:0;z-index: 2;margin:0;width: 100%}
.goods_list {list-style: none;width:100%;position: relative;}
.goods_list li {float:left;width:20%;}
.goods_list li .thumbnail{margin:5px;}


/* 收藏的产品 －S */
.product_box .log_list{width:220px;height:230px;margin-left:17px;margin-top:17px;float:left;border:1px solid #d2d2d2;position:relative;}
.collect_box{position:absolute;top:0;right:0;}
.product_box .list_content{padding:10px;margin-right:-20px;}
.product_box .cover{float:none;}
.product_box .footer{padding:0 10px;line-height:30px;}
.product_box .footer h6{line-height:30px;}
.product_box .footer .color_9 .hover{font-size:14px;}
.product_box .footer .color_9{font-size:12px;}
/* 收藏的产品 －E */

/* 收藏的服务商店铺 -S */
.seller_list .seller{width:170px;float:left;margin-left:20px;margin-top:30px;position:relative;}
.seller .cover{display:block;}
.seller .cover img{border:1px solid #d2d2d2;width:100%;}
.seller_list h5{line-height:30px;}
/* 收藏的服务商店铺 -E */
/*收藏管理 E*/

/* 地址管理 -S */
.manage_box .manage_table th{padding: 8px 15px;}
.manage_box .manage_table td{padding:15px;}
.modal-content .loading{position:absolute;top:0;left:0;width:100%;height:100%;line-height:200px;text-align:center;display:none;background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important;filter:alpha(opacity=80);background:#fff;}
.modal-content .loading div{position:relative;}
.modal-content .loading .error_tips{display:none;}
.modal-content .loading .error_tips .reply_edit{cursor:pointer;color:#f60;}
.modal-content .validTips{position:absolute;bottom:0px;left:0;width:100%;text-align:center;}
.validTips{color:#f60;}
.manage_box {padding:10px;}
.add_title {font-size:16px;font-weight: 700;}
.manage_table {margin-top: 20px;}
.manage_table table {border: 1px solid #ddd;}
.manage_table table thead th {border-bottom:1px solid #ddd;background-color: #eee;}
/* 地址管理 -E */
/*商家管理 S*/
.highlight {
	padding: 22px 14px 9px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
}
.need {color:#f60;}
.diy_vaildform .Validform_checktip{
	display: inline-block;
	white-space:nowrap;
	vertical-align:middle;
	line-height:20px;
	height:20px;
	overflow:hidden;
	
	color: red;
	position: absolute;
	top: 1px;
	left:16px;
}
.diy_vaildform .Validform_right{
	color:green;
	margin-top: 5px;
	display: none!important;
}
.diy_vaildform .input-group .Validform_wrong {
	left:1px;
}
.diy_vaildform .Validform_wrong{
	color:red;
	margin-top: 5px;
	background-color: #fff;	
	background-image: none;
	z-index: 9;
}
.diy_vaildform .Validform_error{
	border-color: red !important; 
}
.diy_vaildform select {min-width: 1px;}
/*商家管理 E*/

/*售后管理 S*/
.comment_box{padding:10px 0;border-bottom:1px solid #d2d2d2;}
.user_pic{text-align:center;}
.user_pic img {border: 1px solid #d2d2d2;width:65%;}
.adv_product a {color:#8393D7;}
.reply_box .comment_list{padding:5px 0;border:none;border-top:1px solid #eee;}
.reply_box textarea {resize: none;}
.js_reply {display: none;}
.sure_bar {padding-top: 0!important;display: none;}
.sure_bar td {border-top: none!important;}
.reply_list li {line-height: 24px;color:#e74c3c;}
.star_list p {margin-bottom: 4px;}
.star_list p .pick {color:#CEE700;}
.star_list p .unpick {color:#eee;}
/*售后管理 E*/



/* 商家中心装修订单（服务订单）订单信息 */
.table.order_custom_box tr td{line-height:34px!important;padding:10px 8px;}
.order_custom{position:relative;}
.order_custom input{padding-left:35px;}
.order_custom .form-control[readonly]{background:#eee;border-color:#eee;}
.order_custom .unit{position:absolute;top:1px;left:1px;line-height:32px;padding:0 10px;background:#eee;}
.warn_box{padding:10px 8px;background:#f9f3e9;}
table.noborder tr th,table.noborder tr td{border:none;}




/*--消息中心 S--*/
.messagebox .top{
	width: 100%;
	padding:5px 10px;
	margin-top:-1px;
	background-color: #f6f6f6;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
}
.messagebox .top a{
	display:inline-block;_zoom:1;*display:inline;
	padding:2px 5px;
	color: #444;
	border:1px solid #eaeaea;
	border-radius: 4px;
}
.messagebox .toptitle{
	height: 26px;
	line-height: 26px;
	border-bottom: 1px solid #b5b5b5;
	color: #666;
}
.align{
	text-align: center;
}
.messagebox .toptitle>li{
	min-height: 20px;
}
.email_status i{
	margin-left:5px;
	color: #999;
	font-size:18px;
	font-weight:normal;
	text-align:center;
}
.messagebox .content>li.check{
	background-color: #fff6f6;
}
.messagebox .content>li a{
	display: block;
}
.messagebox .content>li>div{
	height: 36px;
	line-height: 34px;
	border-bottom: 1px solid #e3e3e3;
}
.messagebox .content{
	color: #444;
	font-weight: bold;
}
.messagebox .content a{
	font-weight: bold;
	color: #999;
}
.messagebox .content a>strong{
	color: #444;
}
.messagebox .content span,.messagebox .content .date{
	color: #999;
	font-weight: normal;
}
.email_status i.unread{
	font-size: 20px;
	color: #f60!important;
}
.messagebox .top .pull-right{
	padding:2px 15px;
}
.messagebox .top .pull-right a{
 color: #1e6dab;
 border:none;
}
.filterbox label{
	line-height: 30px;
}
.filterbox input,
.filterbox select{
	padding:3px 5px;
	height: 26px;
}
.filterbox input{
	width:140px;
}
.filterbox select{
	width:120px;
}
.filterbox .order_form{
	margin-bottom: 0;
}
.filterbox .order_form .search_btn{
	padding:4px 10px;
	padding-top:0\9;
}
.filterbox .searchbox{
	margin:3px 15px 0 0px;
	width: 250px;
}
.filterbox .order_form .form-group{
	margin-right:15px;
}
.detialmessage .toptitle{padding:5px 15px;}
.detialmessage .toptitle,
.detialmessage .btbox{
	width: 100%;
	background-color: #f6f6f6;
	border:1px solid #e4e4e4;
}
.detialmessage .dm_content{
	padding:15px 10px;
	border:1px solid #e4e4e4;
	border-top:none;
}
.detialmessage .con_detial{
	min-height: 180px;
}
.detialmessage .con_detial strong{
	padding-right: 5px;
}
.detialmessage .btbox>ul>li{
	float: left;
	padding-right: 15px;
	padding-left:15px;
	width: 50%;
	line-height: 28px;
	color: #444;
}
.message_table tbody tr td{padding:15px 8px;}
.detialmessage .con_detial img,.detialmessage .dm_content img{max-width:80%;margin:0 auto;}
.message_ico{background:url(../img/message_status.png) no-repeat;width:16px;height:18px;margin-top:4px;padding-left:20px;}
.message_0{background-position:0 0;}
.message_1{background-position:0 -28px;}

.message_ico .message_ico{margin-top:0;}
.message_get_reply{background-position:0 -59px;}
.message_send_reply{background-position:0 -93px;}
/*--消息中心 E--*/

.select2-container,.select2-selection--single{height:34px!important;}
.select2-selection__rendered{line-height:34px!important;}

.attribute select.form-control{min-width:100%;}
.attribute .form-group .iconfont{cursor:pointer;}

.parembox ul.clearfix li{float:left;margin-right:10px;}

/* 团队管理 －S */
.team_box .team_list{margin:20px 0;}
.team_box .cover{position:relative;}
.team_box .collect_box{margin:0 auto;left:0;width:100px;height:100px;line-height:100px;background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;filter:alpha(opacity=40);background:#000;border-radius:100%;}
.team_box .collect_box a{position:relative;color:#fff;display:block;width:100%;height:100%;}
/* 团队管理 －E */

/* 装修日记 -S */
.choice_box .choicebox{border-bottom:1px dashed #d2d2d2;padding:10px 5px;}
.choicebox .view{margin-top:5px;}
.choicebox .view li{
	margin-left:30px;
	margin-right:30px;
}
.choicebox .view li>i{
	padding:0 5px;
}
.h30{
	height: 30px;
}
.labellist{
	padding:3px 0;
	height: 28px;
}
.labellist .bg_green{
	color: #fff;
	border:1px solid #096;
}
.labellist .border_green{
	border:1px solid #096;
}
.labellist .price>li{
	padding:0 10px;
}
.labellist .list>li{
	line-height: 24px;
	padding:0 10px;
}
.choicebox .content p{
	margin:0;
	color: #666;
	font-size:14px;
	line-height: 24px;
}
.choicebox .content .date{
	margin-top:10px;
}
.choicebox .imagelist{
	height: 114px;
	overflow: hidden;
	cursor: pointer;
}
.choicebox .imagelist>li{
	float: left;
	margin-left:15px;
}
/*背景透明 文字不透明*/
.imagebox{
	position: relative;
	z-index: 0;
	margin-bottom:10px;
}
.imagebox .outer{
	margin-left:-15px;
	overflow: hidden;
}
.imagebox .count{
	position: absolute;
	z-index: 1;
	left: 0;
	top:6px;
	padding:0 6px;
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important; /* 实现FF背景透明，文字不透明 */
    filter:alpha(opacity=40);
    background:#fff; /* 实现IE背景透明 */
}
.imagebox .count span{
	font-size:14px;color: #fff; position:relative; 
}
/* 装修日记 -E */

.ucenter .weixin_box{width:220px;}
.ucenter .weixin_box .weixin_tip{
	background-color:#eee;
	background-image:url(../img/scan_icon.png);
    background-position:20px center;padding-left:80px;
    color:#666;
 }


 /* 商家互动 */
 .interact_list{line-height:24px;padding:20px 0;border-bottom:1px dashed #d2d2d2;}
 .interact_list h4{margin-bottom:5px;font-weight:normal;}


 .one_box div{float:left;margin-right:10px;padding:3px 5px;}
 .one_box div.current{background:#f60;color:#fff;}

 .order_content .btn{margin:1px 0;}


/* 自主DIY －S */
.sheji_nr{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;}
.sheji_right {
    width: 400px;
    height: 133px;
    background: url(../img/diy.png);
}
.sheji_right a{float:left;display:block;width:25%;padding-top:80px;text-align:center;}
.sheji_nr .pull-left{line-height:20px;}
.sheji_nr h4{line-height:42px;}
.sheji_nr .des{line-height:28px;}
.sheji_nr .des img{position:relative;margin-right:5px;}
.sheji_nr .stage{padding:5px 10px;background:#eee;}
/* 自主DIY －E */





.subbox i{
	float: left;
	font-size: 75px;
	width:100px;
	text-align:center;
	line-height: 150px!important;
	color: #ca0710;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.subbox .message{
	margin-left:120px;
}
.subbox .message strong{
	font-size: 16px;
	color: #040000;
}
.subbox .message .promot_tips{
	margin:15px 0;
	color: #888;
	line-height: 24px;
	font-size:14px;
}