/*CSS document*/

.btn,.form-control{border-radius:0;}
input{outline:none!important;}
.gray_bg{background-color:#f2f2f2;}
.top_log{display:block;margin-top:20px;}
.top_log span{display:inline-block;height:58px;padding:0 20px;font-size:24px;color:#444;line-height:58px;border-left:1px solid #a0a0a0;}
.top_log a{height:52px;padding:0 20px;color:#e41e1e;font-size:30px;line-height:52px;}
.top_log_right{margin-top:40px;font-size:14px;}

/*-- 用户登录 S--*/
.bg_login{display:block;width:100%;background-position:center 0;background-repeat:no-repeat;background-size:100%;margin-top:30px;}
.loginbox{margin:20px auto;padding:0 10px; }
.outer .toplogin{position:absolute;right:5px;top:-32px;font-size:14px;color:#999;}
.outer .toplogin>a{padding-left:5px;color:#444;}
.outer .toplogin>a:hover{text-decoration:underline;}
.mt{margin-top:30px;width:800px/9;}
.outer{position:relative;border:1px solid #e9e7e7;padding:0;}
.topbox{margin-top:24px;padding-bottom:10px;border-bottom:1px solid #ccc;}
.topbox .title{font-size:18px;color:#666;}
.topbox a{color:#f60;font-size:14px;margin-top:5px;}
.topbox a:hover{text-decoration:underline;}
.form-group{position:relative;}
.loginbox .form-group{margin:0 auto 20px auto;width:100%;}
.loginbox .frame{border:1px solid #ddd;}
.loginbox .icon{position:relative;z-index:10;width:32px;height:34px;background-repeat:no-repeat;background-position:center center;display:block;text-align:center;color:#ccc;border-right:1px solid #e3e3e3;}
.loginbox .form-group input{position:absolute;top:0;left:0;padding-left:42px;border:0;background:none;}
.getverify{float:left!important;width:78%;}
.loginbox .verify input{padding:12px;}
.loginbox .frame:hover{border:1px solid #009965;}
.loginbox .text{margin:0 auto;color:#999;font-size:12px;}
.loginbox .text input,
.loginbox .text span{display:inline-block;}
.loginbox .text a{color:#999;}
.loginbox .text a:hover{color:#444;}
.loginbox .psw_promot,
.loginbox .tel_promot{margin:0 auto 5px auto;height:20px;color:#fa1e1e;font-size:12px;}
.loginbox .psw_promot{margin:0 auto 20px auto;}
.loginbox .text span{color:#999;font-size:12px;line-height:20px;}
.loginbox .psw_promot i{margin-right:5px;}
.loginbox .btn_submit{height:40px;}
.loginbox .btn_submit>input{display:block;width:100%;height:100%;background-color:#e41e1e;color:#fff;font-size:18px;line-height:40px;text-align:center;border:0;outline:none;}
.loginbox .btn_submit>input:hover{background-color:#b1191a;}
.loginbox .top{width:100%;height:12px;padding-top:20px;border-bottom:1px dotted #999;}
.loginbox .top span{display:block;margin:-12px auto 0 auto;*margin-top:0;width:110px;height:24px;background-color:#fff;text-align:center;font-size:14px;color:#999;line-height:24px;}
.loginbox .rember_password{margin-bottom:10px;}
.loginbox_con{margin:20px auto;}
.verifyimg{color:#999;margin-right:5px;}
.verifyimg img{display:inline-block;width:100px;height:34px;}
.verifyimg,
.remember{cursor:pointer;margin-left:15px!important;}
.links{margin:20px auto;text-align:center;}
.verify_box{margin-bottom: 5px;}
.verify_box input{width:100px;margin-right:5px;}
.code_div{width:200px;margin-right:5px;position:relative;border-radius:4px;}
.loginbox .reader input{position: relative;top:2px;}
.get_code_div{min-width:150px;}
/*--for IE --*/
.container{*width:1200px;*margin:0 auto;}
.row .col-md-8{float:left;width:60%\9;}
.row .col-md-4{float:right;width:27%\9;}
.login_codes{height:38px;margin-bottom:15px!important;}
.login_codes>img,
.login_codes>input,
.login_codes>a{float:left;}
.login_codes>input{width:94px;*width:75px;height:34px;*height:14px;padding:10px;}
.login_codes>input{border:1px solid #e41e1e;}
.login_codes>img{margin:0 4px;}
.login_codes>a{font-size:12px;color:#999;margin-top:18px!important;}
.login_codes>a:hover{color:#444;}

/*-- 用户登录 E--*/

/*--找回密码 S--*/
.password_step{
	width: 800px;
	margin: 40px auto;
	text-align: center;
}
.password_step .step_num{
	width: 80px;
	font-size: 14px;
	color: #666;
	text-align: center;
}
.step_num span{
	display: block;
	height: 36px;
	width: 36px;
	background: #d2d2d2;
	line-height: 36px;
	border-radius: 50%;
	margin: 10px auto;
}
.step_length{
	display: inline-block;
	width: 175px;
	height: 4px;
	background: #d2d2d2;
	border-radius: 2px;
	margin: 0 -15px 40px -15px;
}
.finished_num{
	color: #ff6600 !important;
}
.finished_num span{
	color: #fff;
	background: #ff6600;
}
.finished_length{
	background: #ff6600;
}
.stepbox{display:block;margin:60px auto;width:480px;height:60px;background-size:100%;background-repeat:no-repeat;background-position:center;}
.comm_step{width:380px;margin:0 auto 50px auto;}
.comm_step .form-group .title{float:left;width:20%;height:40px;line-height:40px;font-size:14px;font-weight:0;}
.btn_submit{*width:100%;*display:block;*height:40px!important;border:0px!important;}
.submitbox{float:left;font-size:14px;width:78%;margin-left:20%;*margin-left:0;*padding-left:20%;}
.submitbox .message{display:block;margin-bottom:10px;width:100%;height:20px;}
.submitbox .message>span{height:16px;line-height:16px;}
.submitbox span{display:block;width:100%!important;height:24px;line-height:24px;color:#fa1e1e!important;}
.step_tow .confirm{display:block;height:30px;line-height:30px;}
.step_tow .confirm p{float:left;width:10px;height:10px;border-radius:50%;background-color:#fa1e1e;color:#fff;}
.step_tow .confirm span{float:left;color:#fa1e1e;}
.step_three{text-align:center;width:200px;margin:0 auto 50px auto;}
.step_three .complete{padding:60px 0;color:#7abd54;font-size:18px;}
.step_three .jump{height:50px;line-height:50px;color:#999;font-size:14px;}
.step_three .btn_submit{width:100%;height:40px;line-height:40px;background-color:#e41e1e;color:#fff;text-align:center;border:0;}
/*--找回密码 E--*/


/*--第三方过渡 S--*/
.transition{width:60%;margin:20px auto;}
.transition .top{padding-bottom:15px;text-align:center;color:#666;font-size:16px;}
.outershadow{padding:0 10%;height:560px;box-shadow:1px 2px 4px #eee;}
.transition .loginbox{margin-top:25px;}
.transition .loginbox .none{padding-bottom:30px;}
.transition .psw_promot{margin-bottom:9px!important;}
.outershadow .topbox{width:100%;height:68px;font-size:24px;color:#444;border:none;}
.outershadow .topbox li{width:50%;float:left;text-align:center;border-bottom:2px solid #e4e4e4;cursor:pointer;}
.outershadow .topbox li.active{color:#ff0000;border-bottom-color:#ff0000;}

.form_select{
	position: relative;
	z-index: 1;
	height: 45px;
	line-height: 45px;
}
.form_select img{
	margin: 10px 0 0 10px;
}
.form_select a{
	display: inline-block;
	font-size: 14px;
	color: #999;
	text-align: left;
	width: 310px;
	padding-left: 10px;
	height: 45px;
	line-height: 45px;
	margin-top: -10px;
}
.form_select a:hover{
	color: #009965 !important;
}
.form_select a img{
	float: right;
	border: none;
	margin: 15px 5px 0 0;
}
.select_type{
	margin:0;
	left:-1px;
	width: 360px !important;
	border: 1px solid #d2d2d2;
	border-bottom: none;
	outline: none;
	border-radius: 0;
	padding: 0;
}
.select_type li{
	height: 40px;
	line-height: 40px;
	font-size: 14px !important;
	color: #999 !important;
	width: 357px !important;
	border-bottom:1px solid #d2d2d2;
	background: #fff;
	padding: 0 !important;
	padding-left: 55px !important;
	cursor:pointer;
}
.select_type li:hover{
	color: #009965 !important;
}
.empty_div{
	height: 10px;
}
.menu_drop>a>img{
	margin-left: 5px;
}
.menu_drop:hover{
	background: #ff7900;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.menu_drop:hover a{
	color: #fff !important;
}
.menu_drop{
	transition: background 0.5s;
	-moz-transition: background 0.5s;	/* Firefox 4 */
	-webkit-transition: background 0.5s;	/* Safari 和 Chrome */
	-o-transition: background 0.5s;	/* Opera */
}
/*--第三方过渡 E--*/

.user_choice{text-align:center;padding-bottom:100px;}
.user_choice li{width:25%;float:left;margin:80px auto;}
.user_choice .h3{font-weight:normal;}
.user_choice .btn{width:25%;padding:10px 0;}