<extend name="Public/body" />
<block name="body">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<div class="pull-right">
						<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="20"><input type="checkbox" class="js_check_all" data-target="ids" value=""></th>
				<th width="100">appid</th>
				<th width="100">appsecret</th>
				<th width="120">token</th>
				<th width="120">encodingaeskey</th>
				<th width="110" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				foreach($list as $row){
			?>
			<tr>
				<td><input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$row['id']?>"></td>
				<td><?=$row['appid']?></td>
				<td><?=$row['appsecret']?></td>
				<td><?=$row['token']?></td>
				<td><?=$row['encodingaeskey']?></td>
				<td class="text-center">
					<?php
						get_list_btn($menu_info['id'],$row);
					?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
</block>