<extend name="Public/body" />
<block name="body">
	<table class="table js_table table-bordered">
		<thead>
			<tr>
				<th colspan="20" class="clearfix">
					<form action="<?=U('index');?>" class="form-inline pull-left clearfix" method="get">
						<input type="search" class="form-control input-sm" placeholder="标题关键字" name="keywords" value="<?=$keywords?>">
						<?php
							if(!session('is_owner')){
						?>
						<select name="district_id" class="form-control input-md super_select2" data-placeholder="请选择小区">
							<option value="">请选择小区</option>
							<?=$district?>
						</select>
						<?php }?>
						<select name="is_hid" class="form-control input-sm">
							<option value=''>请选择状态</option>
							<?php 
								$set[0] = (is_numeric($is_hid) && $is_hid ==0) ? "selected='selected'" : '';
								$set[1] = ($is_hid == 1) ? "selected='selected'" : '';
							?>
							<option value="1" <?=$set[1]?> >禁用</option>
							<option value="0" <?=$set[0]?>>启用</option>
						</select>
						<input type="start_date" style="min-width:auto;width:140px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="开始时间" name="start_date" value="<?=$start_date?>">
						<input type="stop_date" style="min-width:auto;width:140px!important" onclick="WdatePicker({skin:'backend',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm wdate" placeholder="结束时间" name="stop_date" value="<?=$stop_date?>">
						<input type="submit" class="btn btn-default btn-sm" value="搜索" />
					</form>
					<div class="pull-right">
						<?=get_top_btn($menu_info['id'],I('pid'))?>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr role="row">
				<th width="2%">
					<input type="checkbox" class="js_check_all" data-target="ids" value="">
				</th>
				<th width="50%">公告标题</th>
				<th width="16%">小区</th>
				<th width="16%" class="text-center">发布时间</th>
				<th width="6%" class="text-center">状态</th>
				<th width="8%" class="text-center">操作</th>
			</tr>
			<?php
				if(!$list){
			?>
			<tr>
				<td colspan="80"><include file="Public/nodata" text="没有数据" /></td>
			</tr>
			<?php
				}
			?>
			<?php
				$district = M('district')->where(['is_del'=>array('in',[0,1])])->field('id,title')->select();
				$district = array_column($district,null,'id');
				foreach($list as $row){
			?>
			<tr>
				<td width="2%" class="text-center">
					<input type="checkbox" class="ids" data-child="ids" name="ids[]" value="<?=$row['id']?>">
				</td>
				<td>
					<?=$row['title']?>
				</td>
				<td>
					<?=($row['district_id'])?$district[$row['district_id']]['title']:'<span style="color:green;">全部小区</span>'?>
				</td>
				<td class="text-center">
					<?=$row['add_time']?>
				</td>
				<td class="text-center">
					<img src="__IMG__/status_<?=$row['is_hid']?>.png" alt="">
				</td>
				<td class="text-center">
					<?php
						get_list_btn($menu_info['id'],$row);
					?>
				</td>
			</tr>
			<?php
				}
			?>
		</tbody>
	</table>
	<div class="pages">
		<?=$page?>
	</div>
	<js href="__PLUGIN__/select2/select2.full.js" />
	<js href="__PLUGIN__/select2/super_select2.js" />
	<script type="text/javascript">
		$(function(){
			$('.super_select2').super_select2();
		});
	</script>	
</block>