<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cnsunrun.jiajiagou">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <permission
        android:name="com.cnsunrun.jiajiagou.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.cnsunrun.jiajiagou.permission.JPUSH_MESSAGE"/>

    <application
        android:name=".common.JjgApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".common.base.NetWorkErrorActivity"/>
        <activity android:name=".personal.AboutUsActivity"/>
        <activity android:name=".regist.RegistActivity"/>
        <activity android:name=".login.RetrievePswActivity"/>
        <activity android:name=".login.ResetPswActivity"/>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".personal.setting.SettingActivity"/>
        <activity android:name=".personal.information.InformationActivity"/>
        <activity android:name=".personal.setting.PersonalInfoActivity"/>
        <activity android:name=".personal.order.MyOrderActivity"/>
        <activity android:name=".personal.setting.AccountSafetyActivity"/>
        <activity android:name=".personal.posts.PersonalPostsActivity"/>
        <activity android:name=".personal.setting.ChangePwdActivity"/>
        <activity android:name=".personal.setting.ChangeBindPhoneActivity"/>
        <activity android:name=".personal.SetUpShopActivity"/>
        <activity android:name=".personal.logistics.PropertyActivity"/>
        <activity android:name=".shopcart.ConfirmOrderActivity"/>
        <activity android:name=".personal.logistics.LittleHelpActivity"/>
        <activity android:name=".home.location.LocationAreaActivity"/>
        <activity android:name=".home.PostPropertyServiceActivity"/>
        <activity android:name=".home.NewsActivity"/>
        <activity android:name=".home.ConferenceHallActivity"/>
        <activity android:name=".home.NewsDetailActivity"/>
        <activity android:name=".home.DiscussDetailActivity"/>
        <activity android:name=".personal.logistics.LittleHelpDetailActivity"/>
        <activity android:name=".shopcart.PayResultActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".home.ConvenienceActivity"/>
        <activity android:name=".personal.MyCollectionActivity"/>
        <activity android:name=".product.ProductDetailActivity"/>
        <activity android:name=".personal.AdviceFeedbackActivity"/>
        <activity android:name=".personal.ParkingManagerActivity"/>
        <activity android:name=".personal.order.ProductReviewsActivity"/>
        <activity android:name=".personal.order.OrderDetailActivity"/>
        <activity android:name=".product.ProductListActivity"/>
        <activity android:name=".personal.CommunityVolunteerApplyActivity"/>
        <activity android:name=".personal.AddressBookActivity"/>
        <activity android:name=".personal.MedicalReportActivity"/>
        <activity android:name=".personal.UploadReportActivity"/>
        <activity android:name=".personal.ReportDetailActivity"/>
        <activity android:name=".personal.NoticeDetailActivity"/>
        <activity android:name=".personal.ComplaintSuggestActivity"/>
        <activity android:name=".shopcart.ConfirmOrderV2Activity"/>
        <activity android:name=".personal.logistics.CleaningActivity"/>
        <activity android:name=".personal.logistics.CleaningDetailActivity"/>
        <activity android:name=".personal.logistics.PropertyDetailActivity"/>
        <activity android:name=".personal.logistics.PropertyDetailActivityV2"/>
        <activity android:name=".personal.logistics.PropertyReplyActivity"/>
        <activity android:name=".personal.waste.WasteMenuActivity"/>
        <activity android:name=".personal.waste.WasteServiceActivity"/>
        <activity android:name=".personal.waste.WastePriceActivity"/>
        <activity android:name=".personal.waste.MyWasteOrderActivity"/>
        <activity android:name=".personal.waste.WasteOrderDetailActivity"/>

        <!--邻聊-->
        <activity android:name=".personal.NearByActivity"/>
        <activity android:name=".personal.chat.ChatActivity"/>
        <activity android:name=".personal.chat.list.MyChatListActivity"/>

        <!-- 萤石云直播 -->
        <activity android:name=".video.ys7.scan.main.CaptureActivity"/>
        <activity android:name=".video.ys7.DeviceListActivity"/>
        android:theme="@style/AppTheme"/>
        <service android:name=".LocService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cnsunrun.jiajiagou.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <!--/*高德地图*/-->
        <service android:name="com.amap.api.location.APSService"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="106a8ff8f56cbd4f18f5cac2aea39bf0"/>

        <activity android:name=".personal.NoticeActivity"/>
        <activity android:name=".personal.MessageDetailActivity"/>
        <activity android:name=".personal.setting.address.AddAddressActivity"/>
        <activity android:name=".personal.setting.address.AddressActivity"/>
        <activity android:name=".forum.ForumHomepageActivity"/>
        <activity android:name=".forum.PlateHomepageActivity"/>
        <activity android:name=".forum.ForumSearchActivity"/>
        <activity android:name=".forum.ForumMenuActivity"/>
        <activity android:name=".forum.PostsDetailActicity"/>
        <activity android:name=".forum.SendPostsActivity"/>
        <activity android:name=".forum.PeopleHomepageActivity"/>
	    <activity android:name=".personal.MyCouponActivity"/>
	    <activity android:name=".personal.ChooseCouponActivity"/>
        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--极光分享-->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jiguang.share.android.ui.JiguangShellActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- Optional QQ分享回调-->
            <!-- scheme为“tencent”前缀再加上QQ开发者应用的appID；例如appID为123456，则scheme＝“tencent123456” -->
            <intent-filter>
                <data android:scheme="tencent1106011004"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Optional 新浪微博分享回调 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Optional 新浪微博私信回调-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="sinaweibo"
                    android:scheme="jsharesdk"/>
            </intent-filter>
        </activity>
        <!-- Optional 微信分享回调,wxapi必须在包名路径下，否则回调不成功-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".wxapi.WXPayEntryActivity"
                  android:exported="true"
                  android:launchMode="singleTop"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />

	    <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->

        <receiver
            android:name=".common.jpush.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="com.cnsunrun.jiajiagou"/>
            </intent-filter>
        </receiver>
        <!-- Required. AppKey copied from Portal -->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="de6955b12b65ccabdd7c0e67"/>-->
    </application>

</manifest>